openapi: 3.2.0
info:
  version: v1.1.1
  title: Voice-Vonage JWT API
  description: 'The Voice API lets you create outboud calls, control in progress calls

    and get information about current and historical calls.'
  contact:
    name: API Support
    email: api_developer@kpn.com
    url: https://developer.kpn.com/support
  termsOfService: https://developer.kpn.com/legal
servers:
- url: https://api-prd.kpn.com/communication/nexmo/
  description: API Store Application
tags:
- name: JWT
  description: Call to generate JWT.
paths:
  /jwt:
    parameters:
    - $ref: '#/components/parameters/api_version_header'
    - $ref: '#/components/parameters/call_application_id_header'
    get:
      security:
      - oauth2: []
      summary: Generate JWT Call
      description: Create a JWT to access the recording URL
      tags:
      - JWT
      operationId: createJWT
      responses:
        '200':
          $ref: '#/components/responses/jwt_created'
        '401':
          $ref: '#/components/responses/unauthorized'
components:
  schemas:
    jwt_created:
      type: object
      properties:
        app_level:
          type: string
        application_Id:
          type: string
        JWT_token:
          type: string
      required:
      - app_level
      - application_Id
      - JWT_token
    error401:
      type: object
      properties:
        type:
          type: string
          title: the unauthorized response
          example: UNAUTHORIZED
          description: Unauthorized type description
        error_title:
          type: string
          title: the title of an unauthorized response
          example: Unauthorized
          description: Unauthorized title description
      required:
      - type
      - error_title
  parameters:
    call_application_id_header:
      in: header
      name: ApplicationId
      schema:
        type: string
      required: true
      description: UUID of the application
      example: aaaaaaaa-bbbb-cccc-dddd-0123456789ab
    api_version_header:
      in: header
      name: api-version
      schema:
        type: string
      required: false
      description: API-version to use. Not provided uses latest
      example: v1
  responses:
    jwt_created:
      description: Ok
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/jwt_created'
    unauthorized:
      description: Unauthorized
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/error401'
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://api-prd.kpn.com/oauth/client_credential/accesstoken?grant_type=client_credentials
          scopes: {}
externalDocs:
  description: HTTP response headers
  url: https://developer.kpn.com/documentation-response-headers
