openapi: 3.2.0
info:
  title: FIAM-KPN Service Provider Parties API
  description: A collection of crates for federated identity and access management
  license:
    name: ''
  version: 0.1.1
servers:
- url: https://api-prd.kpn.com/fiam
  description: Server
tags:
- name: Service Provider Parties
  description: Service provider view of consumer parties and their contracts
paths:
  /api/v1/service-providers/parties:
    get:
      tags:
      - Service Provider Parties
      operationId: get_service_provider_parties
      parameters:
      - name: page
        in: query
        required: false
        schema:
          type: integer
          format: int32
          minimum: 1
      - name: per_page
        in: query
        required: false
        schema:
          type: integer
          format: int32
          minimum: 1
      responses:
        '200':
          description: Service consumer parties with contracts retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Paged_ServiceConsumerParty'
        '400':
          description: Invalid query parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        '401':
          description: Unauthorized client
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        '403':
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
      security:
      - bearer_auth: []
components:
  schemas:
    ProblemDetail:
      type: object
      required:
      - type
      - status
      properties:
        detail:
          type:
          - string
          - 'null'
        instance:
          type:
          - string
          - 'null'
        status:
          type: integer
          format: int32
          minimum: 0
        title:
          type:
          - string
          - 'null'
        type:
          type: string
      additionalProperties: {}
    PartyAdherenceStatus:
      type: string
      enum:
      - Active
      - Pending
      - NotActive
      - Revoked
    Contract:
      type: object
      required:
      - id
      - service_provider
      - service_consumer
      - data_owner
      - start_date
      - end_date
      - resource_type
      - resource
      - resource_attribute
      - action
      properties:
        action:
          type: string
        data_owner:
          type: string
        end_date:
          type: string
          format: date-time
        id:
          type: string
        resource:
          type: string
        resource_attribute:
          type: string
        resource_type:
          type: string
        service_consumer:
          type: string
        service_provider:
          type: string
        start_date:
          type: string
          format: date-time
    Paged_ServiceConsumerParty:
      type: object
      required:
      - page
      - size
      - page_count
      - total_count
      properties:
        page:
          type: integer
          format: int32
          minimum: 0
        page_count:
          type: integer
          format: int32
          minimum: 0
        records:
          type:
          - array
          - 'null'
          items:
            type: object
            description: A simplified representation of a Service Consumer party with contracts
            required:
            - party_id
            - party_name
            - status
            properties:
              company_email:
                type:
                - string
                - 'null'
                description: Email address of the company
              company_name:
                type:
                - string
                - 'null'
              company_phone:
                type:
                - string
                - 'null'
                description: Phone number of the company
              contracts:
                type: array
                items:
                  $ref: '#/components/schemas/Contract'
                description: List of associated contracts
              kvk_number:
                type:
                - string
                - 'null'
              party_id:
                type: string
                description: Unique identifier of the party
              party_name:
                type: string
                description: Name of the party
              status:
                $ref: '#/components/schemas/PartyAdherenceStatus'
                description: Adherence status and information
        size:
          type: integer
          format: int32
          minimum: 0
        total_count:
          type: integer
          format: int32
          minimum: 0
  securitySchemes:
    bearer_auth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT Bearer token obtained from /oauth/token endpoint
