openapi: 3.2.0
info:
  description: 'MobileServicesManagement APIs


    ---


    ## Source view


    Documentation view


    ---


    ## KPN Developer


    Getting Started


    ---'
  version: v11
  title: MobileServicesManagement-KPN Rest Track And Trace…
  termsOfService: https://developer.kpn.com/legal
  contact:
    name: API Support
    email: api_developer@kpn.com
    url: https://developer.kpn.com/support
servers:
- url: https://api-prd.kpn.com/mobile/kpn/mobileservices
tags:
- name: rest-track-and-trace-controller
  description: Rest Track And Trace Controller
paths:
  /track-and-trace/orders:
    get:
      tags:
      - rest-track-and-trace-controller
      summary: Get order list
      description: 'Required privileges (one of the following):


        privileges_orders_track_and_trace


        privileges_orders_authorization'
      operationId: getOrdersUsingGET
      parameters:
      - name: currentUserOrdersOnly
        in: query
        required: false
        x-example: false
        schema:
          type: boolean
          default: false
      - name: from
        in: query
        description: Pagination parameter - start from (included). The elements are counted from 0. Default value is 0.
        required: false
        x-example: 0
        schema:
          type: integer
          format: int32
      - name: order
        in: query
        required: false
        schema:
          type: string
          enum:
          - ASC
          - DESC
      - name: patterns
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: sortBy
        in: query
        required: false
        schema:
          type: string
          enum:
          - CREATION_DATE
          - STATUS
          - KPN_REFERENCE
          - ORDERED_FOR
          - CUSTOMER_REFERENCE
      - name: status
        in: query
        required: true
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
            enum:
            - IN_PROGRESS
            - UNAUTHORIZED
            - NEW
            - CLOSED
            - CANCELED
            - REJECTED
            - DRAFT
            - THIRD_PARTY
            - HOLD_CUSTOMER
            - WAITING
      - name: to
        in: query
        description: Pagination parameter - end element (exluded). Default value is 20.
        required: false
        x-example: 20
        schema:
          type: integer
          format: int32
      - name: withRequiredActionFirst
        in: query
        required: false
        schema:
          type: boolean
          default: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PagedResult_Order_'
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Too Many Requests
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Server Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '503':
          description: Service Unavailable
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - OAuth2: []
  /track-and-trace/orders/{id}:
    get:
      tags:
      - rest-track-and-trace-controller
      summary: Get order details
      description: 'Required privileges (one of the following):


        privileges_orders_track_and_trace


        privileges_orders_authorization'
      operationId: getOrderDetailsUsingGET
      parameters:
      - name: id
        in: path
        description: id
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/OrderDetails1'
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Too Many Requests
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Server Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '503':
          description: Service Unavailable
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - OAuth2: []
  /track-and-trace/orders/{id}/cancel:
    post:
      tags:
      - rest-track-and-trace-controller
      summary: Cancel order
      description: 'Required privileges (one of the following):


        privileges_orders_track_and_trace


        privileges_orders_authorization'
      operationId: cancelOrderUsingPOST
      parameters:
      - name: id
        in: path
        description: id
        required: true
        schema:
          type: integer
          format: int64
      - name: note
        in: query
        description: note
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Too Many Requests
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Server Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '503':
          description: Service Unavailable
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - OAuth2: []
  /track-and-trace/orders/{id}/hardware:
    get:
      tags:
      - rest-track-and-trace-controller
      summary: Get list of hardware which was ordered in the order with the given id
      description: 'Required privileges (one of the following):


        privileges_orders_track_and_trace


        privileges_orders_authorization'
      operationId: getHardwareForOrderUsingGET
      parameters:
      - name: id
        in: path
        description: id
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Hardware'
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Too Many Requests
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Server Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '503':
          description: Service Unavailable
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - OAuth2: []
  /track-and-trace/orders/{id}/porting-data:
    post:
      tags:
      - rest-track-and-trace-controller
      summary: Change port in date or customer number
      description: 'Endpoint allows to change both : customer number and wish date in one request or change only one parameter.

        There are several possibility to set data:

        | newWishDate | asap | customerNumber | result |

        |-------------|--------|----------------|-------------------------------------|

        | date | false | null | change only wish date |

        | null | true | null | change only wish date to ASAP |

        | null | true | number | change customer number and wishDate |

        | date | false | number | change customer number and wishDate |

        | date | true | * | validation error |

        | null | false | null | validation error |


        Required privileges (one of the following):


        privileges_orders_track_and_trace


        privileges_orders_authorization'
      operationId: changePortingDataUsingPOST
      parameters:
      - name: id
        in: path
        description: id
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Too Many Requests
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Server Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '503':
          description: Service Unavailable
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - OAuth2: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChangePortingData'
        description: data
        required: true
  /track-and-trace/orders/{id}/pretty:
    get:
      tags:
      - rest-track-and-trace-controller
      summary: Get order details in pretty form
      description: 'Required privileges (one of the following):


        privileges_orders_track_and_trace


        privileges_orders_authorization'
      operationId: getPrettyOrderDetailsUsingGET
      parameters:
      - name: id
        in: path
        description: id
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PrettyOrderDetails'
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Too Many Requests
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Server Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '503':
          description: Service Unavailable
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - OAuth2: []
  /track-and-trace/overview:
    get:
      tags:
      - rest-track-and-trace-controller
      summary: Get number of orders grouped by orders type
      description: 'Required privileges (one of the following):


        privileges_orders_track_and_trace


        privileges_orders_authorization'
      operationId: getOverviewUsingGET
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: object
                additionalProperties:
                  type: integer
                  format: int64
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Too Many Requests
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Server Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '503':
          description: Service Unavailable
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - OAuth2: []
  /track-and-trace/returned-hardware-service-requests:
    get:
      tags:
      - rest-track-and-trace-controller
      summary: Get return hardware service requests list
      description: 'Required privileges (one of the following):


        privileges_orders_track_and_trace


        privileges_orders_authorization'
      operationId: getReturnedHardwareServiceRequestUsingGET
      parameters:
      - name: currentUserOrdersOnly
        in: query
        required: false
        x-example: false
        schema:
          type: boolean
          default: false
      - name: from
        in: query
        description: Pagination parameter - start from (included). The elements are counted from 0. Default value is 0.
        required: false
        x-example: 0
        schema:
          type: integer
          format: int32
      - name: order
        in: query
        required: false
        schema:
          type: string
          enum:
          - ASC
          - DESC
      - name: patterns
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: status
        in: query
        required: true
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
            enum:
            - IN_PROGRESS
            - UNAUTHORIZED
            - NEW
            - CLOSED
            - CANCELED
            - REJECTED
            - DRAFT
            - THIRD_PARTY
            - HOLD_CUSTOMER
            - WAITING
      - name: to
        in: query
        description: Pagination parameter - end element (exluded). Default value is 20.
        required: false
        x-example: 20
        schema:
          type: integer
          format: int32
      - name: withRequiredActionFirst
        in: query
        required: false
        schema:
          type: boolean
          default: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PagedResult_ReturnedHardwareServiceRequests_'
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Too Many Requests
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Server Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '503':
          description: Service Unavailable
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - OAuth2: []
  /track-and-trace/service-requests:
    get:
      tags:
      - rest-track-and-trace-controller
      summary: Get service requests list
      description: 'Required privileges (one of the following):


        privileges_orders_track_and_trace


        privileges_orders_authorization'
      operationId: getServiceRequestsUsingGET
      parameters:
      - name: Content-Language
        in: header
        description: Content-Language
        required: false
        schema:
          type: string
      - name: currentUserOrdersOnly
        in: query
        required: false
        x-example: false
        schema:
          type: boolean
          default: false
      - name: from
        in: query
        description: Pagination parameter - start from (included). The elements are counted from 0. Default value is 0.
        required: false
        x-example: 0
        schema:
          type: integer
          format: int32
      - name: order
        in: query
        required: false
        schema:
          type: string
          enum:
          - ASC
          - DESC
      - name: patterns
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: sortBy
        in: query
        required: false
        schema:
          type: string
          enum:
          - CREATION_DATE
          - STATUS
          - KPN_REFERENCE
          - REQUEST_BY
          - REQUEST_FOR
          - TYPE
          - CUSTOMER_REFERENCE
      - name: status
        in: query
        required: true
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
            enum:
            - IN_PROGRESS
            - UNAUTHORIZED
            - NEW
            - CLOSED
            - CANCELED
            - REJECTED
            - DRAFT
            - THIRD_PARTY
            - HOLD_CUSTOMER
            - WAITING
      - name: to
        in: query
        description: Pagination parameter - end element (exluded). Default value is 20.
        required: false
        x-example: 20
        schema:
          type: integer
          format: int32
      - name: withRequiredActionFirst
        in: query
        required: false
        schema:
          type: boolean
          default: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PagedResult_ServiceRequest_'
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Too Many Requests
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Server Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '503':
          description: Service Unavailable
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - OAuth2: []
  /track-and-trace/service-requests/{id}:
    get:
      tags:
      - rest-track-and-trace-controller
      summary: Get service requests details
      description: 'The possible keys of `attributes` map in response object:


        Attribute nameMeaning

        loginLogin

        rolesRoles

        firstNameFirst name

        lastNameLast name

        surnamePrefixSurname prefix

        emailE-mail

        dateOfBirthDate of birth

        vipVIP

        employeeNumberEmployee number

        genderGender

        salutationSalutation

        preferredLanguagePreferred language

        commentsComments

        accesspointNameMSISDNMobile number

        accesspointNameSIMSIM card number

        accesspointNameIMSIIMSI

        IMEIIMEI

        Hanset_IMEI_numberIMEI

        accesspointNameFixedNumberFixed Number

        activeToActive to

        contractNameSubscription or device name

        totalOnetimePriceOne time price

        totalRecurrentPriceRecurring price

        deferredPriceDeferred price

        newUiccIdNew SIM card number

        movedGroupNameMoved account

        subscriberAccountIdOld location

        destinationAccountNew location

        selectedDuoUiccidSelected Duo SIM card number

        projectIdProject ID

        new_fixed_numberNew fixed number

        new_desk_numberNew extension

        oldUserGroupNamePrevious user group

        newUserGroupNameNew user group

        vpnNameVPN name

        deskNumberExtension

        accesspointNameDeskNumberExtension

        mobileAddressMobile number

        enterpriseNameEnterprise name

        enterpriseIDEnterprise ID

        mobilityGroupNameFixed-Mobile PBX name

        userGroupNameUser group

        enterpriseUserGroupUser group

        initialUserPrincipalNameUser Principal Name

        sipAccountNameSIP account name

        accessInstanceAttributeinitialUserPrincipalNameUser Principal Name

        accesspointNameQueuePhoneNumberQueue phone number

        accesspointNameSipAccountNameSIP account name

        subscriptionAmountNew subscription amount

        contract_contact_nameContract contact person (name)

        contract_contact_phoneContract contact person (phone)

        contract_contact_mailContract contact person (mail)

        financial_contact_nameFinancial contact person (name)

        financial_contact_phoneFinancial contact person (phone)

        financial_contact_mailFinancial contact person (mail)

        technical_contact_nameTechnical contact Person (name)

        technical_contact_phoneTechnical contact Person (phone)

        technical_contact_mailTechnical contact Person (mail)

        deviceOptionDevice option

        deviceType_labelDevice type

        macAddressMac address

        deviceNameDevice name

        sacGroupAccountId_labelLocation account

        groupIdLocation

        vGroupMovingToIDNew location

        pbxNamePBX

        groupCitemId_labelGroup

        FixedAlternate fixed number

        DeskNumberAlternate extension

        billing_retention_periodFinancial data retention period (months)

        managedGroupNameAuthorized for

        subscriptionTypeSubscription type

        CurrentNetworkOperatorCurrent network operator

        CurrentServiceProviderCurrent service provider

        Customer_name_at_current_providerCustomer name at current provider

        Current_contract_numberCustomer number at current provider

        UIccIdCurrent SIM card number

        InitialsInitials

        FamilyNamePrefixFamily name prefix

        FamilyNameFamily name

        delivery_TT_idDelivery Track&trace ID

        IsAppleDEPApple DEP

        IsSamsungKNOXSamsung KNOX

        keepCurrentSimKeep existing SIM card

        NoteNote

        Porting_wish_datePreferred transition date

        returnReasonReason for return

        returnRemarksRemarks

        companyNameCompany name

        companyNamePronounciationComapny name pronounciation

        businessVoiceMailMessageTextChosen business voicemail message


        dl {

        display: flex;

        flex-flow: row wrap;

        }

        dt {

        flex-basis: 20%;

        text-align: right;

        }

        dd {

        flex-basis: 70%;

        flex-grow: 1;

        }


        Required privileges (one of the following):


        privileges_orders_track_and_trace


        privileges_orders_authorization'
      operationId: getServiceRequestDetailsUsingGET
      parameters:
      - name: id
        in: path
        description: id
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ServiceRequestDetails'
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Too Many Requests
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Server Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '503':
          description: Service Unavailable
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - OAuth2: []
  /track-and-trace/service-requests/{id}/attachments/{attachmentId}:
    get:
      tags:
      - rest-track-and-trace-controller
      summary: Get attachment with given id and serviceRequestId
      description: 'Required privileges (one of the following):


        privileges_orders_track_and_trace


        privileges_orders_authorization'
      operationId: getAttachmentUsingGET
      parameters:
      - name: attachmentId
        in: path
        description: attachmentId
        required: true
        schema:
          type: integer
          format: int64
      - name: id
        in: path
        description: id
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Serializable'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - OAuth2: []
  /track-and-trace/service-requests/{id}/cancel:
    post:
      tags:
      - rest-track-and-trace-controller
      summary: Cancel service request
      description: 'Required privileges (one of the following):


        privileges_orders_track_and_trace


        privileges_orders_authorization'
      operationId: cancelServiceReqestUsingPOST
      parameters:
      - name: id
        in: path
        description: id
        required: true
        schema:
          type: integer
          format: int64
      - name: note
        in: query
        description: note
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Too Many Requests
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Server Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '503':
          description: Service Unavailable
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - OAuth2: []
components:
  schemas:
    OrderReceiver1:
      type: object
      properties:
        accountName:
          type: string
        companyName:
          type: string
        employeeNumber:
          type: string
        firstName:
          type: string
        id:
          type: integer
          format: int64
        lastName:
          type: string
        prefix:
          type: string
      title: OrderReceiver1
    Address2:
      type: object
      properties:
        attention:
          type: string
        city:
          type: string
        companyName:
          type: string
        country:
          type: string
        floor:
          type: string
        houseNumber:
          type: string
        location:
          type: string
        postalCode:
          type: string
        provinceOrState:
          type: string
        room:
          type: string
        street:
          type: string
      title: Address2
    OrderReceiver:
      type: object
      properties:
        accountName:
          type: string
        companyName:
          type: string
        employeeNumber:
          type: string
        firstName:
          type: string
        id:
          type: integer
          format: int64
        lastName:
          type: string
        prefix:
          type: string
      title: OrderReceiver
    ContractServiceUpdate:
      type: object
      properties:
        children:
          type: array
          items:
            $ref: '#/components/schemas/ContractServiceUpdate'
        name:
          $ref: '#/components/schemas/LocalizedString'
        newState:
          type: string
          enum:
          - 'ON'
          - 'OFF'
        oldState:
          type: string
          enum:
          - 'ON'
          - 'OFF'
      title: ContractServiceUpdate
    ServiceRequest:
      type: object
      properties:
        creationDate:
          type: string
        customerReference:
          type: string
        finishDate:
          type: string
          format: date-time
        fixedNumber:
          type: string
        id:
          type: integer
          format: int64
        isBeingCanceled:
          type: boolean
        kpnReference:
          type: string
        msisdn:
          type: string
        orderedBy:
          $ref: '#/components/schemas/OrderParticipant'
        orderedFor:
          $ref: '#/components/schemas/OrderReceiver'
        requiredAction:
          type: string
          enum:
          - AUTHORIZATION
          - PORT_IN_DATA_CHANGE
        status:
          type: string
          enum:
          - IN_PROGRESS
          - UNAUTHORIZED
          - NEW
          - CLOSED
          - CANCELED
          - REJECTED
          - DRAFT
          - THIRD_PARTY
          - HOLD_CUSTOMER
          - WAITING
        type:
          $ref: '#/components/schemas/LocalizedString'
      title: ServiceRequest
    ContractingSuborder1:
      type: object
      properties:
        children:
          type: array
          items:
            $ref: '#/components/schemas/ContractingSuborder'
        expectedDeliveryDate:
          type: string
        id:
          type: string
        imeiNumbers:
          type: array
          items:
            type: string
        mobileNumbers:
          type: array
          items:
            type: string
        multiplicity:
          type: integer
          format: int64
        name:
          $ref: '#/components/schemas/LocalizedString'
        oneTimePriceInCents:
          type: integer
          format: int64
        privateCopyingLevyInCents:
          type: integer
          format: int64
        productName:
          type: string
        serialNumbers:
          type: array
          items:
            type: string
        status:
          type: string
      title: ContractingSuborder1
    Threshold1:
      type: object
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
      title: Threshold1
    ContractingSuborder:
      type: object
      properties:
        children:
          type: array
          items:
            $ref: '#/components/schemas/ContractingSuborder'
        expectedDeliveryDate:
          type: string
        id:
          type: string
        imeiNumbers:
          type: array
          items:
            type: string
        mobileNumbers:
          type: array
          items:
            type: string
        multiplicity:
          type: integer
          format: int64
        name:
          $ref: '#/components/schemas/LocalizedString'
        oneTimePriceInCents:
          type: integer
          format: int64
        privateCopyingLevyInCents:
          type: integer
          format: int64
        productName:
          type: string
        serialNumbers:
          type: array
          items:
            type: string
        status:
          type: string
      title: ContractingSuborder
    OrderDetails1:
      type: object
      properties:
        appleDepEnrollment:
          $ref: '#/components/schemas/OperationAvailability2'
        appleDepId:
          type: string
        attributes:
          type: object
        cancelOrder:
          $ref: '#/components/schemas/OrderCancelStatus1'
        changePortingData:
          $ref: '#/components/schemas/OperationAvailability2'
        changeWishDate:
          $ref: '#/components/schemas/OperationAvailability2'
        contextAccountId:
          type: integer
          format: int64
        contextCustomerId:
          type: integer
          format: int64
        creationDate:
          type: string
          format: date-time
        customerReference:
          type: string
        deliveryAddress:
          $ref: '#/components/schemas/Address1'
        deliveryId:
          type: string
        eSimConfirmationCode:
          type: string
        eSimEmail:
          type: string
        eid:
          type: integer
          format: int64
        finishDate:
          type: string
          format: date-time
        firstPossibleWishDate:
          type: string
          format: date-time
        flexibleNumberPresentation:
          $ref: '#/components/schemas/FlexibleNumberPresentation1'
        id:
          type: integer
          format: int64
        invoiceAddress:
          $ref: '#/components/schemas/Address2'
        items:
          type: array
          items:
            $ref: '#/components/schemas/ContractingSuborder1'
        kpnReference:
          type: string
        msisdn:
          type: string
        oneTimeCostInCents:
          type: integer
          format: int32
        personsInvolved:
          $ref: '#/components/schemas/OrderParticipants1'
        portingCustomerNumber:
          type: string
        portingMessage:
          type: string
        recurringCostInCents:
          type: integer
          format: int32
        registeredForAppleDep:
          type: boolean
        registeredForSamsungKnox:
          type: boolean
        requiredAction:
          type: string
          enum:
          - AUTHORIZATION
          - PORT_IN_DATA_CHANGE
        returnHardware:
          $ref: '#/components/schemas/OperationAvailability2'
        samsungKnoxEnrollment:
          $ref: '#/components/schemas/OperationAvailability2'
        samsungKnoxId:
          type: string
        sim:
          type: string
        startDate:
          type: string
          format: date-time
        status:
          type: string
          enum:
          - CANCELED
          - CLOSED
          - DRAFT
          - HOLD_CUSTOMER
          - IN_PROGRESS
          - NEW
          - REJECTED
          - THIRD_PARTY
          - UNAUTHORIZED
          - WAITING
        thresholds:
          type: object
          description: 'Possible keys: VOICE_NATIONAL_MIN, VOICE_ROAMING_EUR, DATA_NATIONAL_MB, DATA_ROAMING_MB'
          additionalProperties:
            $ref: '#/components/schemas/Threshold1'
        type:
          $ref: '#/components/schemas/LocalizedString1'
        wishDate:
          type: string
          format: date-time
      title: OrderDetails1
    PrettyContractingSuborder:
      type: object
      properties:
        expectedDeliveryDate:
          type: string
        imeiNumbers:
          type: array
          items:
            type: string
        mobileNumbers:
          type: array
          items:
            type: string
        multiplicity:
          type: integer
          format: int64
        name:
          $ref: '#/components/schemas/LocalizedString'
        oneTimePriceInCents:
          type: integer
          format: int64
        privateCopyingLevyInCents:
          type: integer
          format: int64
        serialNumbers:
          type: array
          items:
            type: string
        status:
          type: string
      title: PrettyContractingSuborder
    PagedResult_ServiceRequest_:
      type: object
      properties:
        result:
          type: array
          description: One page of result
          items:
            $ref: '#/components/schemas/ServiceRequest'
        total:
          type: integer
          format: int32
          description: Total number of all elements in collection
      title: PagedResult_ServiceRequest_
      description: Paged list of elements
    OrderParticipant1:
      type: object
      properties:
        accountName:
          type: string
        firstName:
          type: string
        id:
          type: integer
          format: int64
        lastName:
          type: string
        prefix:
          type: string
      title: OrderParticipant1
    LocalizedString1:
      type: object
      properties:
        en:
          type: string
          description: English version
        nl:
          type: string
          description: Dutch version
      title: LocalizedString1
      description: Text with two language versions
    ReturnedHardwareServiceRequests:
      type: object
      properties:
        creationDate:
          type: string
        id:
          type: integer
          format: int64
        kpnReference:
          type: string
        parentOrderSymbol:
          type: string
        requestBy:
          $ref: '#/components/schemas/OrderParticipant'
        returnedHardware:
          type: array
          items:
            $ref: '#/components/schemas/ReturnedHardware'
        status:
          type: string
          enum:
          - IN_PROGRESS
          - UNAUTHORIZED
          - NEW
          - CLOSED
          - CANCELED
          - REJECTED
          - DRAFT
          - THIRD_PARTY
          - HOLD_CUSTOMER
          - WAITING
      title: ReturnedHardwareServiceRequests
    ReturnedHardware:
      type: object
      properties:
        multiplicity:
          type: integer
          format: int32
        product:
          type: string
      title: ReturnedHardware
    Threshold:
      type: object
      properties:
        dailyValue:
          type: number
          format: float
        id:
          type: integer
          format: int64
        name:
          type: string
        type:
          type: string
          enum:
          - DATA_NATIONAL_MB
          - DATA_ROAMING_MB
          - VOICE_NATIONAL_MIN
          - VOICE_ROAMING_EUR
      title: Threshold
    ErrorResponse:
      type: object
      properties:
        transactionId:
          type: string
          description: transaction id of the the request
          title: Transaction ID
        status:
          type: string
          description: Status
          title: Status
        name:
          type: string
          description: Error name
          title: Error name
        message:
          type: string
          description: Error message
          title: Error message
        info:
          type: string
          description: Additional information about error
          title: Info
    Hardware:
      type: object
      properties:
        apple:
          type: boolean
        contractItem:
          $ref: '#/components/schemas/ContractItem'
        imei:
          type: string
        product:
          $ref: '#/components/schemas/Product'
        returned:
          type: boolean
        samsung:
          type: boolean
        serialNumber:
          type: string
      title: Hardware
    HardwareSuborder:
      type: object
      properties:
        imeiNumber:
          type: string
        name:
          $ref: '#/components/schemas/LocalizedString'
        priceInCents:
          type: integer
          format: int64
        serialNumber:
          type: string
      title: HardwareSuborder
    OperationAvailability:
      type: object
      properties:
        blockingOrders:
          type: array
          items:
            $ref: '#/components/schemas/BlockingOrder'
        enabled:
          type: boolean
        visible:
          type: boolean
      title: OperationAvailability
    OrderParticipant:
      type: object
      properties:
        accountName:
          type: string
        firstName:
          type: string
        id:
          type: integer
          format: int64
        lastName:
          type: string
        prefix:
          type: string
      title: OrderParticipant
    Address1:
      type: object
      properties:
        attention:
          type: string
        city:
          type: string
        companyName:
          type: string
        country:
          type: string
        floor:
          type: string
        houseNumber:
          type: string
        location:
          type: string
        postalCode:
          type: string
        provinceOrState:
          type: string
        room:
          type: string
        street:
          type: string
      title: Address1
    ContractItem:
      type: object
      properties:
        children:
          type: array
          items:
            $ref: '#/components/schemas/ContractItem'
        citemBsId:
          type: integer
          format: int64
        contractId:
          type: integer
          format: int64
        id:
          type: integer
          format: int64
        name:
          $ref: '#/components/schemas/LocalizedString'
        productBsId:
          type: integer
          format: int64
        tariffPlanVariantBsId:
          type: integer
          format: int64
      title: ContractItem
    OrderParticipants1:
      type: object
      properties:
        approvedBy:
          $ref: '#/components/schemas/OrderAuthorizer1'
        orderedBy:
          $ref: '#/components/schemas/OrderParticipant1'
        receivedBy:
          $ref: '#/components/schemas/OrderReceiver1'
      title: OrderParticipants1
    ServiceRequestDetails:
      type: object
      properties:
        attachments:
          type: array
          items:
            $ref: '#/components/schemas/Attachment'
        attributes:
          type: object
        cancelOrder:
          $ref: '#/components/schemas/OrderCancelStatus'
        creationDate:
          type: string
          format: date-time
        customerReference:
          type: string
        expectedDate:
          type: string
          format: date-time
        finishDate:
          type: string
          format: date-time
        flexibleNumberPresentation:
          $ref: '#/components/schemas/FlexibleNumberPresentation'
        hardwareItems:
          type: array
          items:
            $ref: '#/components/schemas/HardwareSuborder'
        id:
          type: integer
          format: int64
        invoiceAddress:
          $ref: '#/components/schemas/Address'
        kpnReference:
          type: string
        modifiedItems:
          type: array
          items:
            $ref: '#/components/schemas/ContractServiceUpdate'
        newSim:
          type: string
        personsInvolved:
          $ref: '#/components/schemas/OrderParticipants'
        reactivate:
          $ref: '#/components/schemas/OperationAvailability'
        requiredAction:
          type: string
          enum:
          - AUTHORIZATION
          - PORT_IN_DATA_CHANGE
        sim:
          type: string
        status:
          type: string
          enum:
          - IN_PROGRESS
          - UNAUTHORIZED
          - NEW
          - CLOSED
          - CANCELED
          - REJECTED
          - DRAFT
          - THIRD_PARTY
          - HOLD_CUSTOMER
          - WAITING
        thresholds:
          type: object
          description: 'Possible keys: VOICE_NATIONAL_MIN, VOICE_ROAMING_EUR, DATA_NATIONAL_MB, DATA_ROAMING_MB'
          additionalProperties:
            $ref: '#/components/schemas/Threshold'
        totalPriceInCents:
          type: integer
          format: int64
        type:
          $ref: '#/components/schemas/LocalizedString'
        wishDate:
          type: string
          format: date-time
      title: ServiceRequestDetails
    OrderCancelStatus:
      type: object
      properties:
        enabled:
          type: boolean
        visible:
          type: boolean
      title: OrderCancelStatus
    BlockingOrder:
      type: object
      properties:
        id:
          type: integer
          format: int64
        kpnReference:
          type: string
        status:
          type: string
          enum:
          - IN_PROGRESS
          - UNAUTHORIZED
          - NEW
          - CLOSED
          - CANCELED
          - REJECTED
          - DRAFT
          - THIRD_PARTY
          - HOLD_CUSTOMER
          - WAITING
        type:
          type: string
          enum:
          - CONTRACTING
          - SERVICE_REQUEST
      title: BlockingOrder
    Address:
      type: object
      properties:
        attention:
          type: string
        city:
          type: string
        companyName:
          type: string
        country:
          type: string
        floor:
          type: string
        houseNumber:
          type: string
        location:
          type: string
        postalCode:
          type: string
        provinceOrState:
          type: string
        room:
          type: string
        street:
          type: string
      title: Address
    PagedResult_Order_:
      type: object
      properties:
        result:
          type: array
          description: One page of result
          items:
            $ref: '#/components/schemas/Order'
        total:
          type: integer
          format: int32
          description: Total number of all elements in collection
      title: PagedResult_Order_
      description: Paged list of elements
    PrettyOrderDetails:
      type: object
      properties:
        appleDepEnrollment:
          $ref: '#/components/schemas/OperationAvailability'
        appleDepId:
          type: string
        cancelOrder:
          $ref: '#/components/schemas/OrderCancelStatus'
        changePortingData:
          $ref: '#/components/schemas/OperationAvailability'
        changeWishDate:
          $ref: '#/components/schemas/OperationAvailability'
        creationDate:
          type: string
          format: date-time
        customerReference:
          type: string
        deliveryAddress:
          $ref: '#/components/schemas/Address'
        deliveryId:
          type: string
        eSimConfirmationCode:
          type: string
        eSimEmail:
          type: string
        finishDate:
          type: string
          format: date-time
        firstPossibleWishDate:
          type: string
          format: date-time
        flexibleNumberPresentation:
          $ref: '#/components/schemas/FlexibleNumberPresentation'
        id:
          type: integer
          format: int64
        invoiceAddress:
          $ref: '#/components/schemas/Address'
        items:
          type: object
          additionalProperties:
            type: array
            items:
              $ref: '#/components/schemas/PrettyContractingSuborder'
        kpnReference:
          type: string
        msisdn:
          type: string
        oneTimeCostInCents:
          type: integer
          format: int32
        personsInvolved:
          $ref: '#/components/schemas/OrderParticipants'
        portingCustomerNumber:
          type: string
        portingMessage:
          type: string
        recurringCostInCents:
          type: integer
          format: int32
        registeredForAppleDep:
          type: boolean
        registeredForSamsungKnox:
          type: boolean
        requiredAction:
          type: string
          enum:
          - AUTHORIZATION
          - PORT_IN_DATA_CHANGE
        returnHardware:
          $ref: '#/components/schemas/OperationAvailability'
        samsungKnoxEnrollment:
          $ref: '#/components/schemas/OperationAvailability'
        samsungKnoxId:
          type: string
        sim:
          type: string
        status:
          type: string
          enum:
          - IN_PROGRESS
          - UNAUTHORIZED
          - NEW
          - CLOSED
          - CANCELED
          - REJECTED
          - DRAFT
          - THIRD_PARTY
          - HOLD_CUSTOMER
          - WAITING
        thresholds:
          type: object
          description: 'Possible keys: VOICE_NATIONAL_MIN, VOICE_ROAMING_EUR, DATA_NATIONAL_MB, DATA_ROAMING_MB'
          additionalProperties:
            $ref: '#/components/schemas/Threshold'
        type:
          $ref: '#/components/schemas/LocalizedString'
        wishDate:
          type: string
          format: date-time
      title: PrettyOrderDetails
    OrderAuthorizer1:
      type: object
      properties:
        accountName:
          type: string
        firstName:
          type: string
        id:
          type: integer
          format: int64
        lastName:
          type: string
        prefix:
          type: string
        spectatedBy:
          type: string
      title: OrderAuthorizer1
    FlexibleNumberPresentation:
      type: object
      properties:
        defaultNumber:
          type: string
        fixedNumbers:
          type: array
          items:
            $ref: '#/components/schemas/FixedNumberPresentation'
        mobileNumberPresentation:
          type: boolean
      title: FlexibleNumberPresentation
    OrderParticipants:
      type: object
      properties:
        approvedBy:
          $ref: '#/components/schemas/OrderAuthorizer'
        orderedBy:
          $ref: '#/components/schemas/OrderParticipant'
        receivedBy:
          $ref: '#/components/schemas/OrderReceiver'
      title: OrderParticipants
    FlexibleNumberPresentation1:
      type: object
      properties:
        defaultNumber:
          type: string
        fixedNumbers:
          type: array
          items:
            $ref: '#/components/schemas/FixedNumberPresentation'
        mobileNumberPresentation:
          type: boolean
      title: FlexibleNumberPresentation1
    Product:
      type: object
      properties:
        bsId:
          type: integer
          format: int64
        name:
          type: string
        oneTimePriceInCents:
          type: integer
          format: int64
        privateCopyingLevyInCents:
          type: integer
          format: int64
      title: Product
    OrderAuthorizer:
      type: object
      properties:
        accountName:
          type: string
        firstName:
          type: string
        id:
          type: integer
          format: int64
        lastName:
          type: string
        prefix:
          type: string
        spectatedBy:
          type: string
      title: OrderAuthorizer
    Serializable:
      type: object
      title: Serializable
    ChangePortingData:
      type: object
      properties:
        asap:
          type: boolean
        customerNumber:
          type: string
        newWishDate:
          type: string
          format: date-time
      title: ChangePortingData
    Order:
      type: object
      properties:
        contractItems:
          type: array
          items:
            $ref: '#/components/schemas/ContractItem'
        creationDate:
          type: string
        customerReference:
          type: string
        finishDate:
          type: string
        id:
          type: integer
          format: int64
        isBeingCanceled:
          type: boolean
        kpnReference:
          type: string
        msisdn:
          type: string
        orderedBy:
          $ref: '#/components/schemas/OrderParticipant'
        orderedFor:
          $ref: '#/components/schemas/OrderReceiver'
        portingMessage:
          type: string
        requiredAction:
          type: string
          enum:
          - AUTHORIZATION
          - PORT_IN_DATA_CHANGE
        status:
          type: string
          enum:
          - IN_PROGRESS
          - UNAUTHORIZED
          - NEW
          - CLOSED
          - CANCELED
          - REJECTED
          - DRAFT
          - THIRD_PARTY
          - HOLD_CUSTOMER
          - WAITING
        type:
          $ref: '#/components/schemas/LocalizedString'
      title: Order
    Attachment:
      type: object
      properties:
        fileName:
          type: string
        id:
          type: integer
          format: int64
      title: Attachment
    PagedResult_ReturnedHardwareServiceRequests_:
      type: object
      properties:
        result:
          type: array
          description: One page of result
          items:
            $ref: '#/components/schemas/ReturnedHardwareServiceRequests'
        total:
          type: integer
          format: int32
          description: Total number of all elements in collection
      title: PagedResult_ReturnedHardwareServiceRequests_
      description: Paged list of elements
    OperationAvailability2:
      type: object
      properties:
        enabled:
          type: boolean
        visible:
          type: boolean
      title: OperationAvailability2
    LocalizedString:
      type: object
      properties:
        en:
          type: string
          description: English version
        nl:
          type: string
          description: Dutch version
      title: LocalizedString
      description: Text with two language versions
    OrderCancelStatus1:
      type: object
      properties:
        enabled:
          type: boolean
        visible:
          type: boolean
      title: OrderCancelStatus1
    FixedNumberPresentation:
      type: object
      properties:
        description:
          type: string
          enum:
          - ORGANISATION
          - FIXED_NUMBER
          - HUNTGROUP
          - CALL_CENTER
        number:
          type: string
      title: FixedNumberPresentation
  securitySchemes:
    OAuth2:
      type: oauth2
      flows:
        clientCredentials:
          scopes: {}
          tokenUrl: https://api-prd.kpn.com/oauth/grip/msm/accesstoken?grant_type=client_credentials
