openapi: 3.0.0
info:
  version: 1.54.0
  title: KPN SD-LAN SD-WAN Network View API
  description: >-
    The SD-LAN SD-WAN Network View API is a modern REST API based on the OpenAPI specification.
        
    The Network View API gives users read rights to retrieve information from the `Network View API` resources. 
        
    - **Note**: By default you have read only access but based on your requirements and contract you can be granted `Manager` access to this API which is more than read only. To request manager access, please contact us at api_developer@kpn.com.
    
   
    ---

    ## [Source view](https://app.swaggerhub.com/apis/kpn/kpn-sd_lan_sd_wan_network_view_api/)<br/>
    [Documentation view](https://app.swaggerhub.com/apis-docs/kpn/kpn-sd_lan_sd_wan_network_view_api/)

    ---

    ## [KPN Developer](https://developer.kpn.com/)<br/>
    [Getting Started](https://developer.kpn.com/getting-started)


servers:
  - url: https://api-prd.kpn.com/kpn/meraki
paths:
  /organizations/{organizationId}/networks:
    get:
      summary: List networks in an organization
      description: Retrieve the list of networks for a given organization.
      operationId: getOrganizationNetworks
      parameters:
        - name: organizationId
          in: path
          required: true
          schema:
            type: string
          description: The ID of the organization.
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                    name:
                      type: string
              example:
                - id: N_12345
                  name: Test Network
  /organizations/{organizationId}/devices:
    get:
      summary: List devices in an organization
      description: Retrieve the list of devices for a given organization.
      operationId: getOrganizationDevices
      parameters:
        - name: organizationId
          in: path
          required: true
          schema:
            type: string
          description: The ID of the organization.
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    serial:
                      type: string
                    model:
                      type: string
                    name:
                      type: string
              example:
                - serial: Q234-ABCD-5678
                  model: MX67
                  name: Main Office MX
  /networks/{networkId}/clients:
    get:
      summary: List clients in a network
      description: Retrieve the list of clients for a given network.
      operationId: getNetworkClients
      parameters:
        - name: networkId
          in: path
          required: true
          schema:
            type: string
          description: The ID of the network.
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                    mac:
                      type: string
                    description:
                      type: string
              example:
                - id: C12345
                  mac: '00:11:22:33:44:55'
                  description: Test Client
  /getOrganizations: {}
  /getOrganizationNetworks: {}
  /getOrganizationDevices: {}
  /getNetworkClients: {}
  /devices/{serial}/appliance/dhcp/subnets:
    get:
      description: Return the DHCP subnet information for an appliance
      operationId: getDeviceApplianceDhcpSubnets
      parameters:
        - name: serial
          in: path
          description: Serial
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
              example:
                - subnet: 192.168.1.0/24
                  vlanId: 100
                  usedCount: 2
                  freeCount: 251
      summary: Return the DHCP subnet information for an appliance
      tags:
        - appliance.monitor
  /devices/{serial}/appliance/performance:
    get:
      description: Return the performance score for a single MX. Only primary MX devices supported. If no data is available, a 204 error code is returned.
      operationId: getDeviceAppliancePerformance
      parameters:
        - name: serial
          in: path
          description: Serial
          schema:
            type: string
          required: true
        - name: t0
          in: query
          description: The beginning of the timespan for the data. The maximum lookback period is 30 days from today.
          schema:
            type: string
        - name: t1
          in: query
          description: The end of the timespan for the data. t1 can be a maximum of 14 days after t0.
          schema:
            type: string
        - name: timespan
          in: query
          description: The timespan for which the information will be fetched. If specifying timespan, do not specify parameters t0 and t1. The value must be in seconds and be greater than or equal to 30 minutes and be less than or equal to 14 days. The default is 30 minutes.
          schema:
            type: number
            format: float
            minimum: 1800
            maximum: 1209600
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
              example:
                perfScore: 10
      summary: Return the performance score for a single MX
      tags:
        - appliance.monitor
  /devices/{serial}/appliance/prefixes/delegated:
    get:
      description: Return current delegated IPv6 prefixes on an appliance.
      operationId: getDeviceAppliancePrefixesDelegated
      parameters:
        - name: serial
          in: path
          description: Serial
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
              example:
                - origin:
                    interface: wan1
                  prefix: 2001:db8:3c4d:15::/64
                  counts:
                    assigned: 2
                    available: 253
                  method: auto
                  description: My ISP provider
                  isPreferred: true
                  expiresAt: '2018-05-12T00:00:00Z'
      summary: Return current delegated IPv6 prefixes on an appliance.
      tags:
        - appliance.monitor
  /devices/{serial}/appliance/prefixes/delegated/vlanAssignments:
    get:
      description: Return prefixes assigned to all IPv6 enabled VLANs on an appliance.
      operationId: getDeviceAppliancePrefixesDelegatedVlanAssignments
      parameters:
        - name: serial
          in: path
          description: Serial
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
              example:
                - vlan:
                    id: 100
                    name: My VLAN
                  origin:
                    interface: wan1
                    prefix: 2001:db8:3c4d:15::/64
                  status: Active
                  ipv6:
                    prefix: 2001:db8:3c4d:15::/64
                    address: 2001:db8:3c4d:15::1
                    linkLocal:
                      address: 2001:db8:3c4d:15::1
                    solicitedNodeMulticast:
                      address: 2001:db8:3c4d:15::1
      summary: Return prefixes assigned to all IPv6 enabled VLANs on an appliance.
      tags:
        - appliance.monitor
  /devices/{serial}/appliance/radio/settings:
    get:
      description: Return the radio settings of an appliance
      operationId: getDeviceApplianceRadioSettings
      parameters:
        - name: serial
          in: path
          description: Serial
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  serial:
                    type: string
                    description: The device serial
                  rfProfileId:
                    type: string
                    description: RF Profile ID
                  twoFourGhzSettings:
                    type: object
                    properties:
                      channel:
                        type: integer
                        enum:
                          - 1
                          - 2
                          - 3
                          - 4
                          - 5
                          - 6
                          - 7
                          - 8
                          - 9
                          - 10
                          - 11
                          - 12
                          - 13
                          - 14
                        description: Manual channel for 2.4 GHz
                      targetPower:
                        type: integer
                        description: Manual target power for 2.4 GHz
                    description: Manual radio settings for 2.4 GHz
                  fiveGhzSettings:
                    type: object
                    properties:
                      channel:
                        type: integer
                        enum:
                          - 36
                          - 40
                          - 44
                          - 48
                          - 52
                          - 56
                          - 60
                          - 64
                          - 100
                          - 104
                          - 108
                          - 112
                          - 116
                          - 120
                          - 124
                          - 128
                          - 132
                          - 136
                          - 140
                          - 144
                          - 149
                          - 153
                          - 157
                          - 161
                          - 165
                          - 169
                          - 173
                          - 177
                        description: Manual channel for 5 GHz
                      channelWidth:
                        type: integer
                        enum:
                          - 0
                          - 20
                          - 40
                          - 80
                          - 160
                        description: Manual channel width for 5 GHz
                      targetPower:
                        type: integer
                        description: Manual target power for 5 GHz
                    description: Manual radio settings for 5 GHz
              example:
                serial: Q234-ABCD-5678
                rfProfileId: '1234'
                twoFourGhzSettings:
                  channel: 11
                  targetPower: 21
                fiveGhzSettings:
                  channel: 149
                  channelWidth: 20
                  targetPower: 15
      summary: Return the radio settings of an appliance
      tags:
        - appliance.configure
    put:
      description: Update the radio settings of an appliance
      operationId: updateDeviceApplianceRadioSettings
      parameters:
        - name: serial
          in: path
          description: Serial
          schema:
            type: string
          required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                rfProfileId:
                  type: string
                  description: The ID of an RF profile to assign to the device. If the value of this parameter is null, the appropriate basic RF profile (indoor or outdoor) will be assigned to the device. Assigning an RF profile will clear ALL manually configured overrides on the device (channel width, channel, power).
                twoFourGhzSettings:
                  type: object
                  properties:
                    channel:
                      type: integer
                      enum:
                        - 1
                        - 2
                        - 3
                        - 4
                        - 5
                        - 6
                        - 7
                        - 8
                        - 9
                        - 10
                        - 11
                        - 12
                        - 13
                        - 14
                      description: Sets a manual channel for 2.4 GHz. Can be '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13' or '14' or null for using auto channel.
                    targetPower:
                      type: integer
                      description: Set a manual target power for 2.4 GHz (dBm). Enter null for using auto power range.
                  description: Manual radio settings for 2.4 GHz.
                fiveGhzSettings:
                  type: object
                  properties:
                    channel:
                      type: integer
                      enum:
                        - 36
                        - 40
                        - 44
                        - 48
                        - 52
                        - 56
                        - 60
                        - 64
                        - 100
                        - 104
                        - 108
                        - 112
                        - 116
                        - 120
                        - 124
                        - 128
                        - 132
                        - 136
                        - 140
                        - 144
                        - 149
                        - 153
                        - 157
                        - 161
                        - 165
                        - 169
                        - 173
                        - 177
                      description: Sets a manual channel for 5 GHz. Can be '36', '40', '44', '48', '52', '56', '60', '64', '100', '104', '108', '112', '116', '120', '124', '128', '132', '136', '140', '144', '149', '153', '157', '161', '165', '169', '173' or '177' or null for using auto channel.
                    channelWidth:
                      type: integer
                      enum:
                        - 0
                        - 20
                        - 40
                        - 80
                        - 160
                      description: Sets a manual channel width for 5 GHz. Can be '0', '20', '40', '80' or '160' or null for using auto channel width.
                    targetPower:
                      type: integer
                      description: Set a manual target power for 5 GHz (dBm). Enter null for using auto power range.
                  description: Manual radio settings for 5 GHz.
              example:
                rfProfileId: '1234'
                twoFourGhzSettings:
                  channel: 11
                  targetPower: 21
                fiveGhzSettings:
                  channel: 149
                  channelWidth: 20
                  targetPower: 15
        required: false
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  serial:
                    type: string
                    description: The device serial
                  rfProfileId:
                    type: string
                    description: RF Profile ID
                  twoFourGhzSettings:
                    type: object
                    properties:
                      channel:
                        type: integer
                        enum:
                          - 1
                          - 2
                          - 3
                          - 4
                          - 5
                          - 6
                          - 7
                          - 8
                          - 9
                          - 10
                          - 11
                          - 12
                          - 13
                          - 14
                        description: Manual channel for 2.4 GHz
                      targetPower:
                        type: integer
                        description: Manual target power for 2.4 GHz
                    description: Manual radio settings for 2.4 GHz
                  fiveGhzSettings:
                    type: object
                    properties:
                      channel:
                        type: integer
                        enum:
                          - 36
                          - 40
                          - 44
                          - 48
                          - 52
                          - 56
                          - 60
                          - 64
                          - 100
                          - 104
                          - 108
                          - 112
                          - 116
                          - 120
                          - 124
                          - 128
                          - 132
                          - 136
                          - 140
                          - 144
                          - 149
                          - 153
                          - 157
                          - 161
                          - 165
                          - 169
                          - 173
                          - 177
                        description: Manual channel for 5 GHz
                      channelWidth:
                        type: integer
                        enum:
                          - 0
                          - 20
                          - 40
                          - 80
                          - 160
                        description: Manual channel width for 5 GHz
                      targetPower:
                        type: integer
                        description: Manual target power for 5 GHz
                    description: Manual radio settings for 5 GHz
              example:
                serial: Q234-ABCD-5678
                rfProfileId: '1234'
                twoFourGhzSettings:
                  channel: 11
                  targetPower: 21
                fiveGhzSettings:
                  channel: 149
                  channelWidth: 20
                  targetPower: 15
      summary: Update the radio settings of an appliance
      tags:
        - appliance.configure
  /devices/{serial}/appliance/uplinks/settings:
    get:
      description: Return the uplink settings for an MX appliance
      operationId: getDeviceApplianceUplinksSettings
      parameters:
        - name: serial
          in: path
          description: Serial
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  interfaces:
                    type: object
                    properties:
                      wan1:
                        type: object
                        properties:
                          enabled:
                            type: boolean
                            description: Enable or disable the interface.
                          vlanTagging:
                            type: object
                            properties:
                              enabled:
                                type: boolean
                                description: Whether VLAN tagging is enabled.
                              vlanId:
                                type: integer
                                description: The ID of the VLAN to use for VLAN tagging.
                            description: VLAN tagging settings.
                          svis:
                            type: object
                            properties:
                              ipv4:
                                type: object
                                properties:
                                  assignmentMode:
                                    type: string
                                    enum:
                                      - dynamic
                                      - static
                                    description: The assignment mode for this SVI. Applies only when PPPoE is disabled.
                                  address:
                                    type: string
                                    description: IP address and subnet mask when in static mode.
                                  gateway:
                                    type: string
                                    description: Gateway IP address when in static mode.
                                  nameservers:
                                    type: object
                                    properties:
                                      addresses:
                                        type: array
                                        items:
                                          type: string
                                        description: Up to 2 nameserver addresses to use, ordered in priority from highest to lowest priority.
                                    description: The nameserver settings for this SVI.
                                description: IPv4 settings for static/dynamic mode.
                              ipv6:
                                type: object
                                properties:
                                  assignmentMode:
                                    type: string
                                    enum:
                                      - dynamic
                                      - static
                                    description: The assignment mode for this SVI. Applies only when PPPoE is disabled.
                                  address:
                                    type: string
                                    description: Static address that will override the one(s) received by SLAAC.
                                  gateway:
                                    type: string
                                    description: Static gateway that will override the one received by autoconf.
                                  nameservers:
                                    type: object
                                    properties:
                                      addresses:
                                        type: array
                                        items:
                                          type: string
                                        description: Up to 2 nameserver addresses to use, ordered in priority from highest to lowest priority.
                                    description: The nameserver settings for this SVI.
                                description: IPv6 settings for static/dynamic mode.
                            description: SVI settings by protocol.
                          pppoe:
                            type: object
                            properties:
                              enabled:
                                type: boolean
                                description: Whether PPPoE is enabled.
                              authentication:
                                type: object
                                properties:
                                  enabled:
                                    type: boolean
                                    description: Whether PPPoE authentication is enabled.
                                  username:
                                    type: string
                                    description: Username for PPPoE authentication.
                                description: Settings for PPPoE Authentication.
                            description: Configuration options for PPPoE.
                        description: WAN 1 settings.
                      wan2:
                        type: object
                        properties:
                          enabled:
                            type: boolean
                            description: Enable or disable the interface.
                          vlanTagging:
                            type: object
                            properties:
                              enabled:
                                type: boolean
                                description: Whether VLAN tagging is enabled.
                              vlanId:
                                type: integer
                                description: The ID of the VLAN to use for VLAN tagging.
                            description: VLAN tagging settings.
                          svis:
                            type: object
                            properties:
                              ipv4:
                                type: object
                                properties:
                                  assignmentMode:
                                    type: string
                                    enum:
                                      - dynamic
                                      - static
                                    description: The assignment mode for this SVI. Applies only when PPPoE is disabled.
                                  address:
                                    type: string
                                    description: IP address and subnet mask when in static mode.
                                  gateway:
                                    type: string
                                    description: Gateway IP address when in static mode.
                                  nameservers:
                                    type: object
                                    properties:
                                      addresses:
                                        type: array
                                        items:
                                          type: string
                                        description: Up to 2 nameserver addresses to use, ordered in priority from highest to lowest priority.
                                    description: The nameserver settings for this SVI.
                                description: IPv4 settings for static/dynamic mode.
                              ipv6:
                                type: object
                                properties:
                                  assignmentMode:
                                    type: string
                                    enum:
                                      - dynamic
                                      - static
                                    description: The assignment mode for this SVI. Applies only when PPPoE is disabled.
                                  address:
                                    type: string
                                    description: Static address that will override the one(s) received by SLAAC.
                                  gateway:
                                    type: string
                                    description: Static gateway that will override the one received by autoconf.
                                  nameservers:
                                    type: object
                                    properties:
                                      addresses:
                                        type: array
                                        items:
                                          type: string
                                        description: Up to 2 nameserver addresses to use, ordered in priority from highest to lowest priority.
                                    description: The nameserver settings for this SVI.
                                description: IPv6 settings for static/dynamic mode.
                            description: SVI settings by protocol.
                          pppoe:
                            type: object
                            properties:
                              enabled:
                                type: boolean
                                description: Whether PPPoE is enabled.
                              authentication:
                                type: object
                                properties:
                                  enabled:
                                    type: boolean
                                    description: Whether PPPoE authentication is enabled.
                                  username:
                                    type: string
                                    description: Username for PPPoE authentication.
                                description: Settings for PPPoE Authentication.
                            description: Configuration options for PPPoE.
                        description: WAN 2 settings.
                    description: Interface settings.
              example:
                interfaces:
                  wan1:
                    enabled: true
                    vlanTagging:
                      enabled: true
                      vlanId: 1
                    svis:
                      ipv4:
                        assignmentMode: static
                        address: 9.10.11.10/16
                        gateway: 13.14.15.16
                        nameservers:
                          addresses:
                            - 1.2.3.4
                      ipv6:
                        assignmentMode: static
                        address: 1:2:3::4
                        gateway: 1:2:3::5
                        nameservers:
                          addresses:
                            - 1001:4860:4860::8888
                            - 1001:4860:4860::8844
                    pppoe:
                      enabled: true
                      authentication:
                        enabled: true
                        username: username
                  wan2:
                    enabled: true
                    vlanTagging:
                      enabled: true
                      vlanId: 1
                    svis:
                      ipv4:
                        assignmentMode: static
                        address: 9.10.11.10/16
                        gateway: 13.14.15.16
                        nameservers:
                          addresses:
                            - 1.2.3.4
                      ipv6:
                        assignmentMode: static
                        address: 1:2:3::4
                        gateway: 1:2:3::5
                        nameservers:
                          addresses:
                            - 1001:4860:4860::8888
                            - 1001:4860:4860::8844
                    pppoe:
                      enabled: true
                      authentication:
                        enabled: true
                        username: username
      summary: Return the uplink settings for an MX appliance
      tags:
        - appliance.configure
    put:
      description: Update the uplink settings for an MX appliance
      operationId: updateDeviceApplianceUplinksSettings
      parameters:
        - name: serial
          in: path
          description: Serial
          schema:
            type: string
          required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                interfaces:
                  type: object
                  properties:
                    wan1:
                      type: object
                      properties:
                        enabled:
                          type: boolean
                          description: Enable or disable the interface.
                        vlanTagging:
                          type: object
                          properties:
                            enabled:
                              type: boolean
                              description: Whether VLAN tagging is enabled.
                            vlanId:
                              type: integer
                              description: The ID of the VLAN to use for VLAN tagging.
                          description: VLAN tagging settings.
                        svis:
                          type: object
                          properties:
                            ipv4:
                              type: object
                              properties:
                                assignmentMode:
                                  type: string
                                  enum:
                                    - dynamic
                                    - static
                                  description: The assignment mode for this SVI. Applies only when PPPoE is disabled.
                                address:
                                  type: string
                                  description: IP address and subnet mask when in static mode.
                                gateway:
                                  type: string
                                  description: Gateway IP address when in static mode.
                                nameservers:
                                  type: object
                                  properties:
                                    addresses:
                                      type: array
                                      items:
                                        type: string
                                      description: Up to 2 nameserver addresses to use, ordered in priority from highest to lowest priority.
                                  description: The nameserver settings for this SVI.
                              description: IPv4 settings for static/dynamic mode.
                            ipv6:
                              type: object
                              properties:
                                assignmentMode:
                                  type: string
                                  enum:
                                    - dynamic
                                    - static
                                  description: The assignment mode for this SVI. Applies only when PPPoE is disabled.
                                address:
                                  type: string
                                  description: Static address that will override the one(s) received by SLAAC.
                                gateway:
                                  type: string
                                  description: Static gateway that will override the one received by autoconf.
                                nameservers:
                                  type: object
                                  properties:
                                    addresses:
                                      type: array
                                      items:
                                        type: string
                                      description: Up to 2 nameserver addresses to use, ordered in priority from highest to lowest priority.
                                  description: The nameserver settings for this SVI.
                              description: IPv6 settings for static/dynamic mode.
                          description: SVI settings by protocol.
                        pppoe:
                          type: object
                          properties:
                            enabled:
                              type: boolean
                              description: Whether PPPoE is enabled.
                            authentication:
                              type: object
                              properties:
                                enabled:
                                  type: boolean
                                  description: Whether PPPoE authentication is enabled.
                                username:
                                  type: string
                                  description: Username for PPPoE authentication.
                                password:
                                  type: string
                                  description: Password for PPPoE authentication. This parameter is not returned.
                              description: Settings for PPPoE Authentication.
                          description: Configuration options for PPPoE.
                      description: WAN 1 settings.
                    wan2:
                      type: object
                      properties:
                        enabled:
                          type: boolean
                          description: Enable or disable the interface.
                        vlanTagging:
                          type: object
                          properties:
                            enabled:
                              type: boolean
                              description: Whether VLAN tagging is enabled.
                            vlanId:
                              type: integer
                              description: The ID of the VLAN to use for VLAN tagging.
                          description: VLAN tagging settings.
                        svis:
                          type: object
                          properties:
                            ipv4:
                              type: object
                              properties:
                                assignmentMode:
                                  type: string
                                  enum:
                                    - dynamic
                                    - static
                                  description: The assignment mode for this SVI. Applies only when PPPoE is disabled.
                                address:
                                  type: string
                                  description: IP address and subnet mask when in static mode.
                                gateway:
                                  type: string
                                  description: Gateway IP address when in static mode.
                                nameservers:
                                  type: object
                                  properties:
                                    addresses:
                                      type: array
                                      items:
                                        type: string
                                      description: Up to 2 nameserver addresses to use, ordered in priority from highest to lowest priority.
                                  description: The nameserver settings for this SVI.
                              description: IPv4 settings for static/dynamic mode.
                            ipv6:
                              type: object
                              properties:
                                assignmentMode:
                                  type: string
                                  enum:
                                    - dynamic
                                    - static
                                  description: The assignment mode for this SVI. Applies only when PPPoE is disabled.
                                address:
                                  type: string
                                  description: Static address that will override the one(s) received by SLAAC.
                                gateway:
                                  type: string
                                  description: Static gateway that will override the one received by autoconf.
                                nameservers:
                                  type: object
                                  properties:
                                    addresses:
                                      type: array
                                      items:
                                        type: string
                                      description: Up to 2 nameserver addresses to use, ordered in priority from highest to lowest priority.
                                  description: The nameserver settings for this SVI.
                              description: IPv6 settings for static/dynamic mode.
                          description: SVI settings by protocol.
                        pppoe:
                          type: object
                          properties:
                            enabled:
                              type: boolean
                              description: Whether PPPoE is enabled.
                            authentication:
                              type: object
                              properties:
                                enabled:
                                  type: boolean
                                  description: Whether PPPoE authentication is enabled.
                                username:
                                  type: string
                                  description: Username for PPPoE authentication.
                                password:
                                  type: string
                                  description: Password for PPPoE authentication. This parameter is not returned.
                              description: Settings for PPPoE Authentication.
                          description: Configuration options for PPPoE.
                      description: WAN 2 settings.
                  description: Interface settings.
              example:
                interfaces:
                  wan1:
                    enabled: true
                    vlanTagging:
                      enabled: true
                      vlanId: 1
                    svis:
                      ipv4:
                        assignmentMode: static
                        address: 9.10.11.10/16
                        gateway: 13.14.15.16
                        nameservers:
                          addresses:
                            - 1.2.3.4
                      ipv6:
                        assignmentMode: static
                        address: 1:2:3::4
                        gateway: 1:2:3::5
                        nameservers:
                          addresses:
                            - 1001:4860:4860::8888
                            - 1001:4860:4860::8844
                    pppoe:
                      enabled: true
                      authentication:
                        enabled: true
                        username: username
                        password: password
                  wan2:
                    enabled: true
                    vlanTagging:
                      enabled: true
                      vlanId: 1
                    svis:
                      ipv4:
                        assignmentMode: static
                        address: 9.10.11.10/16
                        gateway: 13.14.15.16
                        nameservers:
                          addresses:
                            - 1.2.3.4
                      ipv6:
                        assignmentMode: static
                        address: 1:2:3::4
                        gateway: 1:2:3::5
                        nameservers:
                          addresses:
                            - 1001:4860:4860::8888
                            - 1001:4860:4860::8844
                    pppoe:
                      enabled: true
                      authentication:
                        enabled: true
                        username: username
                        password: password
              required:
                - interfaces
        required: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  interfaces:
                    type: object
                    properties:
                      wan1:
                        type: object
                        properties:
                          enabled:
                            type: boolean
                            description: Enable or disable the interface.
                          vlanTagging:
                            type: object
                            properties:
                              enabled:
                                type: boolean
                                description: Whether VLAN tagging is enabled.
                              vlanId:
                                type: integer
                                description: The ID of the VLAN to use for VLAN tagging.
                            description: VLAN tagging settings.
                          svis:
                            type: object
                            properties:
                              ipv4:
                                type: object
                                properties:
                                  assignmentMode:
                                    type: string
                                    enum:
                                      - dynamic
                                      - static
                                    description: The assignment mode for this SVI. Applies only when PPPoE is disabled.
                                  address:
                                    type: string
                                    description: IP address and subnet mask when in static mode.
                                  gateway:
                                    type: string
                                    description: Gateway IP address when in static mode.
                                  nameservers:
                                    type: object
                                    properties:
                                      addresses:
                                        type: array
                                        items:
                                          type: string
                                        description: Up to 2 nameserver addresses to use, ordered in priority from highest to lowest priority.
                                    description: The nameserver settings for this SVI.
                                description: IPv4 settings for static/dynamic mode.
                              ipv6:
                                type: object
                                properties:
                                  assignmentMode:
                                    type: string
                                    enum:
                                      - dynamic
                                      - static
                                    description: The assignment mode for this SVI. Applies only when PPPoE is disabled.
                                  address:
                                    type: string
                                    description: Static address that will override the one(s) received by SLAAC.
                                  gateway:
                                    type: string
                                    description: Static gateway that will override the one received by autoconf.
                                  nameservers:
                                    type: object
                                    properties:
                                      addresses:
                                        type: array
                                        items:
                                          type: string
                                        description: Up to 2 nameserver addresses to use, ordered in priority from highest to lowest priority.
                                    description: The nameserver settings for this SVI.
                                description: IPv6 settings for static/dynamic mode.
                            description: SVI settings by protocol.
                          pppoe:
                            type: object
                            properties:
                              enabled:
                                type: boolean
                                description: Whether PPPoE is enabled.
                              authentication:
                                type: object
                                properties:
                                  enabled:
                                    type: boolean
                                    description: Whether PPPoE authentication is enabled.
                                  username:
                                    type: string
                                    description: Username for PPPoE authentication.
                                description: Settings for PPPoE Authentication.
                            description: Configuration options for PPPoE.
                        description: WAN 1 settings.
                      wan2:
                        type: object
                        properties:
                          enabled:
                            type: boolean
                            description: Enable or disable the interface.
                          vlanTagging:
                            type: object
                            properties:
                              enabled:
                                type: boolean
                                description: Whether VLAN tagging is enabled.
                              vlanId:
                                type: integer
                                description: The ID of the VLAN to use for VLAN tagging.
                            description: VLAN tagging settings.
                          svis:
                            type: object
                            properties:
                              ipv4:
                                type: object
                                properties:
                                  assignmentMode:
                                    type: string
                                    enum:
                                      - dynamic
                                      - static
                                    description: The assignment mode for this SVI. Applies only when PPPoE is disabled.
                                  address:
                                    type: string
                                    description: IP address and subnet mask when in static mode.
                                  gateway:
                                    type: string
                                    description: Gateway IP address when in static mode.
                                  nameservers:
                                    type: object
                                    properties:
                                      addresses:
                                        type: array
                                        items:
                                          type: string
                                        description: Up to 2 nameserver addresses to use, ordered in priority from highest to lowest priority.
                                    description: The nameserver settings for this SVI.
                                description: IPv4 settings for static/dynamic mode.
                              ipv6:
                                type: object
                                properties:
                                  assignmentMode:
                                    type: string
                                    enum:
                                      - dynamic
                                      - static
                                    description: The assignment mode for this SVI. Applies only when PPPoE is disabled.
                                  address:
                                    type: string
                                    description: Static address that will override the one(s) received by SLAAC.
                                  gateway:
                                    type: string
                                    description: Static gateway that will override the one received by autoconf.
                                  nameservers:
                                    type: object
                                    properties:
                                      addresses:
                                        type: array
                                        items:
                                          type: string
                                        description: Up to 2 nameserver addresses to use, ordered in priority from highest to lowest priority.
                                    description: The nameserver settings for this SVI.
                                description: IPv6 settings for static/dynamic mode.
                            description: SVI settings by protocol.
                          pppoe:
                            type: object
                            properties:
                              enabled:
                                type: boolean
                                description: Whether PPPoE is enabled.
                              authentication:
                                type: object
                                properties:
                                  enabled:
                                    type: boolean
                                    description: Whether PPPoE authentication is enabled.
                                  username:
                                    type: string
                                    description: Username for PPPoE authentication.
                                description: Settings for PPPoE Authentication.
                            description: Configuration options for PPPoE.
                        description: WAN 2 settings.
                    description: Interface settings.
              example:
                interfaces:
                  wan1:
                    enabled: true
                    vlanTagging:
                      enabled: true
                      vlanId: 1
                    svis:
                      ipv4:
                        assignmentMode: static
                        address: 9.10.11.10/16
                        gateway: 13.14.15.16
                        nameservers:
                          addresses:
                            - 1.2.3.4
                      ipv6:
                        assignmentMode: static
                        address: 1:2:3::4
                        gateway: 1:2:3::5
                        nameservers:
                          addresses:
                            - 1001:4860:4860::8888
                            - 1001:4860:4860::8844
                    pppoe:
                      enabled: true
                      authentication:
                        enabled: true
                        username: username
                  wan2:
                    enabled: true
                    vlanTagging:
                      enabled: true
                      vlanId: 1
                    svis:
                      ipv4:
                        assignmentMode: static
                        address: 9.10.11.10/16
                        gateway: 13.14.15.16
                        nameservers:
                          addresses:
                            - 1.2.3.4
                      ipv6:
                        assignmentMode: static
                        address: 1:2:3::4
                        gateway: 1:2:3::5
                        nameservers:
                          addresses:
                            - 1001:4860:4860::8888
                            - 1001:4860:4860::8844
                    pppoe:
                      enabled: true
                      authentication:
                        enabled: true
                        username: username
      summary: Update the uplink settings for an MX appliance
      tags:
        - appliance.configure
  /devices/{serial}/appliance/vmx/authenticationToken:
    post:
      description: Generate a new vMX authentication token
      operationId: createDeviceApplianceVmxAuthenticationToken
      parameters:
        - name: serial
          in: path
          description: Serial
          schema:
            type: string
          required: true
      responses:
        '201':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  token:
                    type: string
                    description: The newly generated authentication token for the vMX instance
                  expiresAt:
                    type: string
                    description: The expiration time for the token, in ISO 8601 format
              example:
                token: ffc0b7b578b61be5bd1d172132c78044/9af03bd84d474
                expiresAt: '2021-06-18T12:40:10Z'
      summary: Generate a new vMX authentication token
      tags:
        - appliance.configure
  /devices/{serial}/cellularGateway/lan:
    get:
      description: Show the LAN Settings of a MG
      operationId: getDeviceCellularGatewayLan
      parameters:
        - name: serial
          in: path
          description: Serial
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  deviceName:
                    type: string
                    description: Name of the MG.
                  deviceLanIp:
                    type: string
                    description: Lan IP of the MG
                  deviceSubnet:
                    type: string
                    description: Subnet configuration of the MG.
                  fixedIpAssignments:
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                          description: A descriptive name of the assignment
                        ip:
                          type: string
                          description: The IP address you want to assign to a specific server or device
                        mac:
                          type: string
                          description: The MAC address of the server or device that hosts the internal resource that you wish to receive the specified IP address
                    description: list of all fixed IP assignments for a single MG
                  reservedIpRanges:
                    type: array
                    items:
                      type: object
                      properties:
                        start:
                          type: string
                          description: Starting IP included in the reserved range of IPs
                        end:
                          type: string
                          description: Ending IP included in the reserved range of IPs
                        comment:
                          type: string
                          description: Comment explaining the reserved IP range
                    description: list of all reserved IP ranges for a single MG
              example:
                deviceName: name of the MG
                deviceLanIp: 192.168.0.33
                deviceSubnet: 192.168.0.32/27
                fixedIpAssignments:
                  - name: server 1
                    ip: 192.168.0.10
                    mac: 0b:00:00:00:00:ac
                reservedIpRanges:
                  - start: 192.168.1.0
                    end: 192.168.1.1
                    comment: A reserved IP range
      summary: Show the LAN Settings of a MG
      tags:
        - cellularGateway.configure
    put:
      description: Update the LAN Settings for a single MG.
      operationId: updateDeviceCellularGatewayLan
      parameters:
        - name: serial
          in: path
          description: Serial
          schema:
            type: string
          required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                reservedIpRanges:
                  type: array
                  items:
                    type: object
                    properties:
                      start:
                        type: string
                        description: Starting IP included in the reserved range of IPs
                      end:
                        type: string
                        description: Ending IP included in the reserved range of IPs
                      comment:
                        type: string
                        description: Comment explaining the reserved IP range
                    required:
                      - start
                      - end
                      - comment
                  description: list of all reserved IP ranges for a single MG
                fixedIpAssignments:
                  type: array
                  items:
                    type: object
                    properties:
                      name:
                        type: string
                        description: A descriptive name of the assignment
                      ip:
                        type: string
                        description: The IP address you want to assign to a specific server or device
                      mac:
                        type: string
                        description: The MAC address of the server or device that hosts the internal resource that you wish to receive the specified IP address
                    required:
                      - ip
                      - mac
                  description: list of all fixed IP assignments for a single MG
              example:
                reservedIpRanges:
                  - start: 192.168.1.0
                    end: 192.168.1.1
                    comment: A reserved IP range
                fixedIpAssignments:
                  - name: server 1
                    ip: 192.168.0.10
                    mac: 0b:00:00:00:00:ac
        required: false
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  deviceName:
                    type: string
                    description: Name of the MG.
                  deviceLanIp:
                    type: string
                    description: Lan IP of the MG
                  deviceSubnet:
                    type: string
                    description: Subnet configuration of the MG.
                  fixedIpAssignments:
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                          description: A descriptive name of the assignment
                        ip:
                          type: string
                          description: The IP address you want to assign to a specific server or device
                        mac:
                          type: string
                          description: The MAC address of the server or device that hosts the internal resource that you wish to receive the specified IP address
                    description: list of all fixed IP assignments for a single MG
                  reservedIpRanges:
                    type: array
                    items:
                      type: object
                      properties:
                        start:
                          type: string
                          description: Starting IP included in the reserved range of IPs
                        end:
                          type: string
                          description: Ending IP included in the reserved range of IPs
                        comment:
                          type: string
                          description: Comment explaining the reserved IP range
                    description: list of all reserved IP ranges for a single MG
              example:
                deviceName: name of the MG
                deviceLanIp: 192.168.0.33
                deviceSubnet: 192.168.0.32/27
                fixedIpAssignments:
                  - name: server 1
                    ip: 192.168.0.10
                    mac: 0b:00:00:00:00:ac
                reservedIpRanges:
                  - start: 192.168.1.0
                    end: 192.168.1.1
                    comment: A reserved IP range
      summary: Update the LAN Settings for a single MG.
      tags:
        - cellularGateway.configure
  /devices/{serial}/cellularGateway/portForwardingRules:
    get:
      description: Returns the port forwarding rules for a single MG.
      operationId: getDeviceCellularGatewayPortForwardingRules
      parameters:
        - name: serial
          in: path
          description: Serial
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  rules:
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                          description: A descriptive name for the rule
                        lanIp:
                          type: string
                          description: The IP address of the server or device that hosts the internal resource that you wish to make available on the WAN
                        publicPort:
                          type: string
                          description: A port or port ranges that will be forwarded to the host on the LAN
                        localPort:
                          type: string
                          description: A port or port ranges that will receive the forwarded traffic from the WAN
                        allowedIps:
                          type: array
                          items:
                            type: string
                          description: An array of ranges of WAN IP addresses that are allowed to make inbound connections on the specified ports or port ranges.
                        protocol:
                          type: string
                          description: TCP or UDP
                        access:
                          type: string
                          description: '`any` or `restricted`. Specify the right to make inbound connections on the specified ports or port ranges. If `restricted`, a list of allowed IPs is mandatory.'
                    description: An array of port forwarding params
              example:
                rules:
                  - name: test
                    lanIp: 172.31.128.5
                    publicPort: 11-12
                    localPort: '4'
                    allowedIps:
                      - 10.10.10.10
                      - 10.10.10.11
                    protocol: tcp
                    access: any
      summary: Returns the port forwarding rules for a single MG.
      tags:
        - cellularGateway.configure
    put:
      description: Updates the port forwarding rules for a single MG.
      operationId: updateDeviceCellularGatewayPortForwardingRules
      parameters:
        - name: serial
          in: path
          description: Serial
          schema:
            type: string
          required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                rules:
                  type: array
                  items:
                    type: object
                    properties:
                      name:
                        type: string
                        description: A descriptive name for the rule
                      lanIp:
                        type: string
                        description: The IP address of the server or device that hosts the internal resource that you wish to make available on the WAN
                      publicPort:
                        type: string
                        description: A port or port ranges that will be forwarded to the host on the LAN
                      localPort:
                        type: string
                        description: A port or port ranges that will receive the forwarded traffic from the WAN
                      allowedIps:
                        type: array
                        items:
                          type: string
                        description: An array of ranges of WAN IP addresses that are allowed to make inbound connections on the specified ports or port ranges.
                      protocol:
                        type: string
                        description: TCP or UDP
                      access:
                        type: string
                        description: '`any` or `restricted`. Specify the right to make inbound connections on the specified ports or port ranges. If `restricted`, a list of allowed IPs is mandatory.'
                    required:
                      - lanIp
                      - publicPort
                      - localPort
                      - protocol
                      - access
                  description: An array of port forwarding params
              example:
                rules:
                  - name: test
                    lanIp: 172.31.128.5
                    publicPort: 11-12
                    localPort: '4'
                    allowedIps:
                      - 10.10.10.10
                      - 10.10.10.11
                    protocol: tcp
                    access: any
        required: false
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  rules:
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                          description: A descriptive name for the rule
                        lanIp:
                          type: string
                          description: The IP address of the server or device that hosts the internal resource that you wish to make available on the WAN
                        publicPort:
                          type: string
                          description: A port or port ranges that will be forwarded to the host on the LAN
                        localPort:
                          type: string
                          description: A port or port ranges that will receive the forwarded traffic from the WAN
                        allowedIps:
                          type: array
                          items:
                            type: string
                          description: An array of ranges of WAN IP addresses that are allowed to make inbound connections on the specified ports or port ranges.
                        protocol:
                          type: string
                          description: TCP or UDP
                        access:
                          type: string
                          description: '`any` or `restricted`. Specify the right to make inbound connections on the specified ports or port ranges. If `restricted`, a list of allowed IPs is mandatory.'
                    description: An array of port forwarding params
              example:
                rules:
                  - name: test
                    lanIp: 172.31.128.5
                    publicPort: 11-12
                    localPort: '4'
                    allowedIps:
                      - 10.10.10.10
                      - 10.10.10.11
                    protocol: tcp
                    access: any
      summary: Updates the port forwarding rules for a single MG.
      tags:
        - cellularGateway.configure
  /devices/{serial}/switch/ports:
    get:
      description: List the switch ports for a switch
      operationId: getDeviceSwitchPorts
      parameters:
        - name: serial
          in: path
          description: Serial
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    portId:
                      type: string
                      description: The identifier of the switch port.
                    name:
                      type: string
                      description: The name of the switch port.
                    tags:
                      type: array
                      items:
                        type: string
                      description: The list of tags of the switch port.
                    enabled:
                      type: boolean
                      description: The status of the switch port.
                    poeEnabled:
                      type: boolean
                      description: The PoE status of the switch port.
                    type:
                      type: string
                      enum:
                        - access
                        - stack
                        - trunk
                      description: The type of the switch port ('trunk', 'access' or 'stack').
                    vlan:
                      type: integer
                      description: The VLAN of the switch port. For a trunk port, this is the native VLAN. A null value will clear the value set for trunk ports.
                    voiceVlan:
                      type: integer
                      description: The voice VLAN of the switch port. Only applicable to access ports.
                    allowedVlans:
                      type: string
                      description: The VLANs allowed on the switch port. Only applicable to trunk ports.
                    isolationEnabled:
                      type: boolean
                      description: The isolation status of the switch port.
                    rstpEnabled:
                      type: boolean
                      description: The rapid spanning tree protocol status.
                    stpGuard:
                      type: string
                      enum:
                        - bpdu guard
                        - disabled
                        - loop guard
                        - root guard
                      description: The state of the STP guard ('disabled', 'root guard', 'bpdu guard' or 'loop guard').
                    linkNegotiation:
                      type: string
                      description: The link speed for the switch port.
                    linkNegotiationCapabilities:
                      type: array
                      items:
                        type: string
                      description: Available link speeds for the switch port.
                    portScheduleId:
                      type: string
                      description: The ID of the port schedule. A value of null will clear the port schedule.
                    schedule:
                      type: object
                      properties:
                        id:
                          type: string
                          description: The ID of the port schedule.
                        name:
                          type: string
                          description: The name of the port schedule.
                      description: The port schedule data.
                    udld:
                      type: string
                      enum:
                        - Alert only
                        - Enforce
                      description: The action to take when Unidirectional Link is detected (Alert only, Enforce). Default configuration is Alert only.
                    accessPolicyType:
                      type: string
                      enum:
                        - Custom access policy
                        - MAC allow list
                        - Open
                        - Sticky MAC allow list
                      description: The type of the access policy of the switch port. Only applicable to access ports. Can be one of 'Open', 'Custom access policy', 'MAC allow list' or 'Sticky MAC allow list'.
                    accessPolicyNumber:
                      type: integer
                      description: The number of a custom access policy to configure on the switch port. Only applicable when 'accessPolicyType' is 'Custom access policy'.
                    macAllowList:
                      type: array
                      items:
                        type: string
                      description: Only devices with MAC addresses specified in this list will have access to this port. Up to 20 MAC addresses can be defined. Only applicable when 'accessPolicyType' is 'MAC allow list'.
                    stickyMacAllowList:
                      type: array
                      items:
                        type: string
                      description: The initial list of MAC addresses for sticky Mac allow list. Only applicable when 'accessPolicyType' is 'Sticky MAC allow list'.
                    stickyMacAllowListLimit:
                      type: integer
                      description: The maximum number of MAC addresses for sticky MAC allow list. Only applicable when 'accessPolicyType' is 'Sticky MAC allow list'.
                    stormControlEnabled:
                      type: boolean
                      description: The storm control status of the switch port.
                    adaptivePolicyGroupId:
                      type: string
                      description: The adaptive policy group ID that will be used to tag traffic through this switch port. This ID must pre-exist during the configuration, else needs to be created using adaptivePolicy/groups API. Cannot be applied to a port on a switch bound to profile.
                    adaptivePolicyGroup:
                      type: object
                      properties:
                        id:
                          type: string
                          description: The ID of the adaptive policy group.
                        name:
                          type: string
                          description: The name of the adaptive policy group.
                      description: The adaptive policy group data of the port.
                    peerSgtCapable:
                      type: boolean
                      description: If true, Peer SGT is enabled for traffic through this switch port. Applicable to trunk port only, not access port. Cannot be applied to a port on a switch bound to profile.
                    flexibleStackingEnabled:
                      type: boolean
                      description: For supported switches (e.g. MS420/MS425), whether or not the port has flexible stacking enabled.
                    daiTrusted:
                      type: boolean
                      description: If true, ARP packets for this port will be considered trusted, and Dynamic ARP Inspection will allow the traffic.
                    profile:
                      type: object
                      properties:
                        enabled:
                          type: boolean
                          description: When enabled, override this port's configuration with a port profile.
                        id:
                          type: string
                          description: When enabled, the ID of the port profile used to override the port's configuration.
                        iname:
                          type: string
                          description: When enabled, the IName of the profile.
                      description: Profile attributes
                    module:
                      type: object
                      properties:
                        model:
                          type: string
                          description: The model of the expansion module.
                      description: Expansion module
                    mirror:
                      type: object
                      properties:
                        mode:
                          type: string
                          enum:
                            - Destination port
                            - Not mirroring traffic
                            - Source port
                          description: The port mirror mode. Can be one of ('Destination port', 'Source port' or 'Not mirroring traffic').
                      description: Port mirror
                    dot3az:
                      type: object
                      properties:
                        enabled:
                          type: boolean
                          description: The Energy Efficient Ethernet status of the switch port.
                      description: dot3az settings for the port
                    stackwiseVirtual:
                      type: object
                      properties:
                        isStackWiseVirtualLink:
                          type: boolean
                          description: For SVL devices, whether or not the port is used for StackWise Virtual Link.
                        isDualActiveDetector:
                          type: boolean
                          description: For SVL devices, whether or not the port is used for Dual Active Detection.
                      description: Stackwise Virtual settings for the port
              example:
                - portId: '1'
                  name: My switch port
                  tags:
                    - tag1
                    - tag2
                  enabled: true
                  poeEnabled: true
                  type: access
                  vlan: 10
                  voiceVlan: 20
                  allowedVlans: 1,3,5-10
                  isolationEnabled: false
                  rstpEnabled: true
                  stpGuard: disabled
                  linkNegotiation: Auto negotiate
                  linkNegotiationCapabilities:
                    - Auto negotiate
                    - 1 Gigabit full duplex (auto)
                  portScheduleId: '1234'
                  schedule:
                    id: '1234'
                    name: Port Schedule
                  udld: Alert only
                  accessPolicyType: Sticky MAC allow list
                  accessPolicyNumber: 2
                  macAllowList:
                    - 34:56:fe:ce:8e:a0
                    - 34:56:fe:ce:8e:a1
                  stickyMacAllowList:
                    - 34:56:fe:ce:8e:b0
                    - 34:56:fe:ce:8e:b1
                  stickyMacAllowListLimit: 5
                  stormControlEnabled: true
                  adaptivePolicyGroupId: '123'
                  adaptivePolicyGroup:
                    id: '123'
                    name: Adaptive Policy Group
                  peerSgtCapable: false
                  flexibleStackingEnabled: true
                  daiTrusted: false
                  profile:
                    enabled: false
                    id: '1284392014819'
                    iname: iname
                  module:
                    model: MA-MOD-4X10G
                  mirror:
                    mode: Not mirroring traffic
                  dot3az:
                    enabled: false
                  stackwiseVirtual:
                    isStackWiseVirtualLink: false
                    isDualActiveDetector: false
      summary: List the switch ports for a switch
      tags:
        - switch.configure
  /devices/{serial}/switch/ports/cycle:
    post:
      description: Cycle a set of switch ports
      operationId: cycleDeviceSwitchPorts
      parameters:
        - name: serial
          in: path
          description: Serial
          schema:
            type: string
          required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                ports:
                  type: array
                  items:
                    type: string
                  description: List of switch ports
              example:
                ports:
                  - '1'
                  - 2-5
                  - 1_MA-MOD-8X10G_1
                  - 1_MA-MOD-8X10G_2-1_MA-MOD-8X10G_8
              required:
                - ports
        required: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  ports:
                    type: array
                    items:
                      type: string
                    description: List of switch ports
              example:
                ports:
                  - '1'
                  - 2-5
                  - 1_MA-MOD-8X10G_1
                  - 1_MA-MOD-8X10G_2-1_MA-MOD-8X10G_8
      summary: Cycle a set of switch ports
      tags:
        - switch.monitor
  /devices/{serial}/switch/ports/statuses:
    get:
      description: Return the status for all the ports of a switch
      operationId: getDeviceSwitchPortsStatuses
      parameters:
        - name: serial
          in: path
          description: Serial
          schema:
            type: string
          required: true
        - name: t0
          in: query
          description: The beginning of the timespan for the data. The maximum lookback period is 31 days from today.
          schema:
            type: string
        - name: timespan
          in: query
          description: The timespan for which the information will be fetched. If specifying timespan, do not specify parameter t0. The value must be in seconds and be less than or equal to 31 days. The default is 1 day.
          schema:
            type: number
            format: float
            maximum: 2678400
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    portId:
                      type: string
                      description: The string identifier of this port on the switch. This is commonly just the port number but may contain additional identifying information such as the slot and module-type if the port is located on a port module.
                    enabled:
                      type: boolean
                      description: Whether the port is configured to be enabled.
                    status:
                      type: string
                      enum:
                        - Connected
                        - Disabled
                        - Disconnected
                      description: The current connection status of the port.
                    isUplink:
                      type: boolean
                      description: Whether the port is the switch's uplink.
                    errors:
                      type: array
                      items:
                        type: string
                      description: All errors present on the port.
                    warnings:
                      type: array
                      items:
                        type: string
                      description: All warnings present on the port.
                    speed:
                      type: string
                      enum:
                        - ''
                        - 1 Gbps
                        - 10 Gbps
                        - 10 Mbps
                        - 100 Gbps
                        - 100 Mbps
                        - 2.5 Gbps
                        - 20 Gbps
                        - 25 Gbps
                        - 40 Gbps
                        - 5 Gbps
                        - 50 Gbps
                      description: The current data transfer rate which the port is operating at.
                    duplex:
                      type: string
                      enum:
                        - ''
                        - full
                        - half
                      description: The current duplex of a connected port.
                    spanningTree:
                      type: object
                      properties:
                        statuses:
                          type: array
                          items:
                            type: string
                          description: The current Spanning Tree Protocol statuses of the port.
                      description: The Spanning Tree Protocol (STP) information of the connected device.
                    poe:
                      type: object
                      properties:
                        isAllocated:
                          type: boolean
                          description: Whether the port is drawing power
                      description: PoE status of the port.
                    usageInKb:
                      type: object
                      properties:
                        total:
                          type: integer
                          description: The total amount of data sent and received (in kilobytes).
                        sent:
                          type: integer
                          description: The amount of data sent (in kilobytes).
                        recv:
                          type: integer
                          description: The amount of data received (in kilobytes).
                      description: A breakdown of how many kilobytes have passed through this port during the timespan.
                    cdp:
                      type: object
                      properties:
                        systemName:
                          type: string
                          description: The system name.
                        platform:
                          type: string
                          description: Identifies the hardware platform of the device.
                        deviceId:
                          type: string
                          description: Identifies the device name.
                        portId:
                          type: string
                          description: Identifies the port from which the CDP packet was sent.
                        nativeVlan:
                          type: integer
                          description: Indicates, per interface, the assumed VLAN for untagged packets on the interface.
                        address:
                          type: string
                          description: Contains network addresses of both receiving and sending devices.
                        managementAddress:
                          type: string
                          description: The device's management IP.
                        version:
                          type: string
                          description: Contains the device software release information.
                        vtpManagementDomain:
                          type: string
                          description: Advertises the configured VLAN Trunking Protocl (VTP)-management-domain name of the system.
                        capabilities:
                          type: string
                          description: Identifies the device type, which indicates the functional capabilities of the device.
                      description: The Cisco Discovery Protocol (CDP) information of the connected device.
                    lldp:
                      type: object
                      properties:
                        systemName:
                          type: string
                          description: The device's system name.
                        systemDescription:
                          type: string
                          description: The device's system description.
                        chassisId:
                          type: string
                          description: The device's chassis ID.
                        portId:
                          type: string
                          description: Identifies the port from which the LLDP packet was sent
                        managementVlan:
                          type: integer
                          description: The device's management VLAN.
                        portVlan:
                          type: integer
                          description: The port's VLAN.
                        managementAddress:
                          type: string
                          description: The device's management IP.
                        portDescription:
                          type: string
                          description: Description of the port from which the LLDP packet was sent.
                        systemCapabilities:
                          type: string
                          description: Identifies the device type, which indicates the functional capabilities of the device.
                      description: The Link Layer Discovery Protocol (LLDP) information of the connected device.
                    clientCount:
                      type: integer
                      description: The number of clients connected through this port.
                    powerUsageInWh:
                      type: number
                      format: float
                      description: How much power (in watt-hours) has been delivered by this port during the timespan.
                    trafficInKbps:
                      type: object
                      properties:
                        total:
                          type: number
                          format: float
                          description: The average speed of the data sent and received (in kilobits-per-second).
                        sent:
                          type: number
                          format: float
                          description: The average speed of the data sent (in kilobits-per-second).
                        recv:
                          type: number
                          format: float
                          description: The average speed of the data received (in kilobits-per-second).
                      description: A breakdown of the average speed of data that has passed through this port during the timespan.
                    securePort:
                      type: object
                      properties:
                        enabled:
                          type: boolean
                          description: Whether Secure Port is turned on for this port.
                        active:
                          type: boolean
                          description: Whether Secure Port is currently active for this port.
                        authenticationStatus:
                          type: string
                          enum:
                            - Authentication failure
                            - Authentication in progress
                            - Authentication successful
                            - Authentication timed out
                            - Disabled
                            - Enabled
                          description: The current Secure Port status.
                        configOverrides:
                          type: object
                          properties:
                            type:
                              type: string
                              enum:
                                - access
                                - stack
                                - trunk
                              description: The type of the  ('trunk', 'access' or 'stack').
                            vlan:
                              type: integer
                              description: The VLAN of the . For a trunk port, this is the native VLAN. A null value will clear the value set for trunk ports.
                            voiceVlan:
                              type: integer
                              description: The voice VLAN of the . Only applicable to access ports.
                            allowedVlans:
                              type: string
                              description: The VLANs allowed on the . Only applicable to trunk ports.
                          description: The configuration overrides applied to this port when Secure Port is active.
                      description: The Secure Port status of the port.
              example:
                - portId: '1'
                  enabled: true
                  status: Connected
                  isUplink: false
                  errors:
                    - PoE overload
[...]
