openapi: 3.2.0
info:
  description: 'MobileServicesManagement APIs


    ---


    ## Source view


    Documentation view


    ---


    ## KPN Developer


    Getting Started


    ---'
  version: v11
  title: MobileServicesManagement-KPN Rest Contracting Controller API
  termsOfService: https://developer.kpn.com/legal
  contact:
    name: API Support
    email: api_developer@kpn.com
    url: https://developer.kpn.com/support
servers:
- url: https://api-prd.kpn.com/mobile/kpn/mobileservices
tags:
- name: rest-contracting-controller
  description: Rest Contracting Controller
paths:
  /contracting/basket:
    get:
      tags:
      - rest-contracting-controller
      summary: Get basket content with products tree and prices
      description: 'Required privileges (one of the following):


        privileges_un-authorized_orders_creation


        privileges_orders_authorization'
      operationId: getBasketUsingGET
      parameters:
      - name: sessionId
        in: query
        description: sessionId
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BasketSnapshot'
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Too Many Requests
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Server Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '503':
          description: Service Unavailable
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - OAuth2: []
    post:
      tags:
      - rest-contracting-controller
      summary: Modify state of current basket
      description: This is a central enpoint for contracting or modifing products.
      operationId: modifyBasketUsingPOST
      parameters:
      - name: sessionId
        in: query
        description: sessionId
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: object
                additionalProperties:
                  type: string
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Too Many Requests
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Server Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '503':
          description: Service Unavailable
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - OAuth2: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BasketChange'
        description: change
        required: true
  /contracting/basket/characteristics:
    get:
      tags:
      - rest-contracting-controller
      summary: Get characteristics grouped by its names
      description: 'Example characteristics names: `pbxGroup`, `serviceType`, `combineType`


        Required privileges (one of the following):


        privileges_un-authorized_orders_creation


        privileges_orders_authorization'
      operationId: getCharacteristicsUsingGET
      parameters:
      - name: sessionId
        in: query
        description: sessionId
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: object
                additionalProperties:
                  $ref: '#/components/schemas/Characteristic'
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Too Many Requests
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Server Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '503':
          description: Service Unavailable
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - OAuth2: []
  /contracting/basket/main-products:
    get:
      tags:
      - rest-contracting-controller
      summary: Get list of main products to order
      description: 'Required privileges (one of the following):


        privileges_un-authorized_orders_creation


        privileges_orders_authorization'
      operationId: getMainProductsUsingGET
      parameters:
      - name: Content-Language
        in: header
        description: Content-Language
        required: false
        schema:
          type: string
      - name: category
        in: query
        description: 'Possible values: MOBILE, SIM CARDS, FIXED, HARDWARE, SOFTWARE, OTHER'
        required: false
        schema:
          type: string
      - name: filters
        in: query
        description: 'Possible columns: PRODUCT_NAME, PRICE_IN_CENTS, PRIVATE_COPYING_LEVY_IN_CENTS. For example: STATUS: "a", "b"; PRICE_IN_CENTS: "1", "2"'
        required: false
        schema:
          type: string
      - name: from
        in: query
        description: Pagination parameter - start from (included). The elements are counted from 0. Default value is 0.
        required: false
        x-example: 0
        schema:
          type: integer
          format: int32
      - name: order
        in: query
        required: false
        schema:
          type: string
          enum:
          - ASC
          - DESC
      - name: patterns
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: sessionId
        in: query
        description: sessionId
        required: false
        schema:
          type: string
      - name: sortBy
        in: query
        required: false
        schema:
          type: string
          enum:
          - PRODUCT_NAME
          - CATEGORY
          - FOLDER_NAME
          - PRICE_IN_CENTS
          - PRIVATE_COPYING_LEVY_IN_CENTS
      - name: to
        in: query
        description: Pagination parameter - end element (exluded). Default value is 20.
        required: false
        x-example: 20
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PagedResult_Product_1'
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Too Many Requests
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Server Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '503':
          description: Service Unavailable
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - OAuth2: []
  /contracting/basket/modify-template:
    post:
      tags:
      - rest-contracting-controller
      summary: Modify template
      description: 'Required privileges (one of the following):


        privileges_un-authorized_orders_creation


        privileges_orders_authorization


        and:


        privileges_portfolio_and_profiles_management'
      operationId: modifyTemplateUsingPOST
      parameters:
      - name: sessionId
        in: query
        description: sessionId
        required: false
        schema:
          type: string
      - name: spectatedUserId
        in: query
        description: spectatedUserId
        required: false
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Too Many Requests
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Server Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '503':
          description: Service Unavailable
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - OAuth2: []
  /contracting/basket/order:
    post:
      tags:
      - rest-contracting-controller
      summary: Create order applying changes introduced to basket staring from initializing
      description: 'Possible errors:

        | HTTP code | Error code | Description |

        |------------------------------------|---------------------|----------------------------------------------------------|

        | `ORDERING_IS_BLOCKED_FOR_CUSTOMER` | `403` | Current customer is frozen and can not order anything |

        Required privileges (one of the following):


        privileges_un-authorized_orders_creation


        privileges_orders_authorization'
      operationId: orderUsingPOST_1
      parameters:
      - name: sessionId
        in: query
        description: sessionId
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/OrderConfirmation'
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Too Many Requests
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Server Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '503':
          description: Service Unavailable
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - OAuth2: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrderRequest'
        description: request
        required: true
  /contracting/basket/products:
    get:
      tags:
      - rest-contracting-controller
      summary: Get products tree
      description: 'Required privileges (one of the following):


        privileges_un-authorized_orders_creation


        privileges_orders_authorization'
      operationId: getProductsTreeUsingGET
      parameters:
      - name: sessionId
        in: query
        description: sessionId
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ProductTreeItem'
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Too Many Requests
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Server Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '503':
          description: Service Unavailable
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - OAuth2: []
  /contracting/basket/reset:
    post:
      tags:
      - rest-contracting-controller
      summary: Reset basket
      description: 'Some of the methods are stateful and depend on basket state. Due to this it is sometimes helpful to reinitialize basket.


        Required privileges (one of the following):


        privileges_un-authorized_orders_creation


        privileges_orders_authorization'
      operationId: resetBasketUsingPOST
      parameters:
      - name: sessionId
        in: query
        description: sessionId
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Too Many Requests
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Server Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '503':
          description: Service Unavailable
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - OAuth2: []
  /contracting/basket/resources:
    get:
      tags:
      - rest-contracting-controller
      summary: Get resources
      description: 'Required privileges (one of the following):


        privileges_un-authorized_orders_creation


        privileges_orders_authorization'
      operationId: getResourcesUsingGET
      parameters:
      - name: limit
        in: query
        description: limit
        required: false
        schema:
          type: integer
          format: int32
      - name: prefix
        in: query
        description: prefix
        required: true
        schema:
          type: string
      - name: sessionId
        in: query
        description: sessionId
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Resource'
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Too Many Requests
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Server Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '503':
          description: Service Unavailable
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - OAuth2: []
  /contracting/basket/save-as-template:
    post:
      tags:
      - rest-contracting-controller
      summary: Save as template
      description: 'Required privileges (one of the following):


        privileges_un-authorized_orders_creation


        privileges_orders_authorization


        and:


        privileges_portfolio_and_profiles_management'
      operationId: saveAsTemplateUsingPOST
      parameters:
      - name: sessionId
        in: query
        description: sessionId
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SaveAsTemplateResponse'
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Too Many Requests
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Server Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '503':
          description: Service Unavailable
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - OAuth2: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SaveAsTemplateRequest'
        description: request
        required: true
  /contracting/basket/templates:
    get:
      tags:
      - rest-contracting-controller
      summary: Get templates
      description: 'List of templates can be limited by main product category (if null given all templates will be returned).


        Required privileges (one of the following):


        privileges_un-authorized_orders_creation


        privileges_orders_authorization'
      operationId: getTemplatesUsingGET
      parameters:
      - name: from
        in: query
        description: Pagination parameter - start from (included). The elements are counted from 0. Default value is 0.
        required: false
        x-example: 0
        schema:
          type: integer
          format: int32
      - name: mainProductCategory
        in: query
        required: false
        schema:
          type: string
          enum:
          - HARDWARE
          - FIXED
          - MOBILE
          - SOFTWARE
          - FIXED_MOBILE
          - SKYPE_FOR_BUSINESS
          - CENTREX
          - OTHER
      - name: pattern
        in: query
        required: false
        schema:
          type: string
      - name: sessionId
        in: query
        description: sessionId
        required: false
        schema:
          type: string
      - name: to
        in: query
        description: Pagination parameter - end element (exluded). Default value is 20.
        required: false
        x-example: 20
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PagedResult_Template_'
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Too Many Requests
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Server Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '503':
          description: Service Unavailable
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - OAuth2: []
  /contracting/categories:
    get:
      tags:
      - rest-contracting-controller
      summary: Get available product categories to be contracted for currently logged user
      description: 'Possible values: mobile, fixed, hardware, other, software


        Required privileges (one of the following):


        privileges_un-authorized_orders_creation


        privileges_orders_authorization'
      operationId: getAvailableCategoriesUsingGET
      parameters:
      - name: sessionId
        in: query
        description: sessionId
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  type: string
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Too Many Requests
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Server Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '503':
          description: Service Unavailable
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - OAuth2: []
  /contracting/hardware/categories:
    get:
      tags:
      - rest-contracting-controller
      summary: Get available hardware categories
      description: 'Possible values: `handsets`, `additional mobile hardware`, `sim cards`


        Required privileges (one of the following):


        privileges_un-authorized_orders_creation


        privileges_orders_authorization'
      operationId: getHardwareCategoriesUsingGET
      parameters:
      - name: sessionId
        in: query
        description: sessionId
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  type: string
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Too Many Requests
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Server Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '503':
          description: Service Unavailable
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - OAuth2: []
components:
  schemas:
    DeliveryAddressRequest:
      type: object
      required:
      - city
      - companyName
      - country
      - houseNumber
      - postalCode
      - street
      properties:
        addressName:
          type: string
        attention:
          type: string
          minLength: 0
          maxLength: 35
        city:
          type: string
          minLength: 1
          maxLength: 30
        companyName:
          type: string
          minLength: 1
          maxLength: 35
        country:
          type: string
          description: Only "NL" value is supported
        floor:
          type: string
          minLength: 0
          maxLength: 21
        houseNumber:
          type: string
          minLength: 1
          maxLength: 5
        location:
          type: string
          minLength: 0
          maxLength: 21
        postalCode:
          type: string
          example: 1234AB
          description: should contain 4 digits first and then 2 letters
        room:
          type: string
          minLength: 0
          maxLength: 20
        street:
          type: string
          minLength: 1
          maxLength: 24
      title: DeliveryAddressRequest
    RecurringPrice:
      type: object
      properties:
        monthlyFeeInCents:
          type: number
      title: RecurringPrice
    Price:
      type: object
      properties:
        oneTime:
          $ref: '#/components/schemas/OneTimePrice'
        recurring:
          $ref: '#/components/schemas/RecurringPrice'
      title: Price
    OrderRequest:
      type: object
      properties:
        address:
          $ref: '#/components/schemas/DeliveryAddressRequest'
        addressId:
          type: integer
          format: int64
        referenceNumber:
          type: string
        wishDate:
          type: string
          format: date-time
      title: OrderRequest
    CharacteristicAction:
      type: object
      properties:
        name:
          type: string
        value:
          type: string
      title: CharacteristicAction
    ProductAction:
      type: object
      properties:
        amount:
          type: integer
          format: int32
        productId:
          type: string
        type:
          type: string
          enum:
          - PUT
          - REMOVE
      title: ProductAction
    BasketChange:
      type: object
      properties:
        accountGroupId:
          type: integer
          format: int64
          description: Account group for which new contract is to be created (usually it is subscriber)
        characteristicActions:
          type: array
          items:
            $ref: '#/components/schemas/CharacteristicAction'
        contractId:
          type: integer
          format: int64
        fixedContractId:
          type: integer
          format: int64
        mobileContractId:
          type: integer
          format: int64
        orderId:
          type: integer
          format: int64
          description: Termination order (use this field to initialize reactivation in conjuction with accountGroupId)
        productActions:
          type: array
          items:
            $ref: '#/components/schemas/ProductAction'
        simCardNumber:
          type: string
        templateId:
          type: string
        templateIdToModify:
          type: integer
          format: int64
      title: BasketChange
    ErrorResponse:
      type: object
      properties:
        transactionId:
          type: string
          description: transaction id of the the request
          title: Transaction ID
        status:
          type: string
          description: Status
          title: Status
        name:
          type: string
          description: Error name
          title: Error name
        message:
          type: string
          description: Error message
          title: Error message
        info:
          type: string
          description: Additional information about error
          title: Info
    ProductTreeItem:
      type: object
      properties:
        amount:
          type: integer
          format: int32
        canOrderMoreThanOne:
          type: boolean
        children:
          type: array
          items:
            $ref: '#/components/schemas/ProductTreeItem'
        childrenSelectionStrategy:
          type: string
          description: Information how many children of this item can be selected
          enum:
          - SELECT_ONE
          - SELECT_MANY
          - NONE
        contracted:
          type: boolean
          description: Is already contracted (important during contract modification)?
        disabled:
          type: boolean
          description: Can be select / deselect?
        error:
          $ref: '#/components/schemas/Error'
        id:
          type: string
        name:
          $ref: '#/components/schemas/LocalizedString'
        price:
          $ref: '#/components/schemas/Price'
        selected:
          type: boolean
          description: Is currently selected?
        visible:
          type: boolean
          description: Should be presented to end user?
      title: ProductTreeItem
    Product1:
      type: object
      properties:
        category:
          type: string
          enum:
          - CENTREX
          - FIXED
          - FIXED_MOBILE
          - HARDWARE
          - MOBILE
          - OTHER
          - SKYPE_FOR_BUSINESS
          - SOFTWARE
        id:
          type: string
        name:
          $ref: '#/components/schemas/LocalizedString'
        priceInCents:
          type: number
        privateCopyingLevyInCents:
          type: number
        subcategory:
          type: string
      title: Product1
    Characteristic:
      type: object
      properties:
        name:
          type: string
        possibleValues:
          type: array
          items:
            $ref: '#/components/schemas/CharacteristicRestriction'
        value:
          type: string
      title: Characteristic
    OrderConfirmation:
      type: object
      properties:
        orderId:
          type: integer
          format: int64
      title: OrderConfirmation
    SaveAsTemplateRequest:
      type: object
      properties:
        groupId:
          type: integer
          format: int64
        name:
          type: string
      title: SaveAsTemplateRequest
    PagedResult_Template_:
      type: object
      properties:
        result:
          type: array
          description: One page of result
          items:
            $ref: '#/components/schemas/Template'
        total:
          type: integer
          format: int32
          description: Total number of all elements in collection
      title: PagedResult_Template_
      description: Paged list of elements
    BasketSnapshot:
      type: object
      properties:
        characteristics:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/Characteristic'
        oldPrice:
          $ref: '#/components/schemas/Price'
        productTree:
          type: array
          items:
            $ref: '#/components/schemas/ProductTreeItem'
        totalPrice:
          $ref: '#/components/schemas/Price'
      title: BasketSnapshot
    SaveAsTemplateResponse:
      type: object
      properties:
        id:
          type: integer
          format: int64
      title: SaveAsTemplateResponse
    Resource:
      type: object
      properties:
        address:
          type: string
        id:
          type: integer
          format: int64
      title: Resource
    OneTimePrice:
      type: object
      properties:
        activationFeeInCents:
          type: number
        hardwareFeeInCents:
          type: number
        privateCopyingLevyInCents:
          type: number
      title: OneTimePrice
    PagedResult_Product_1:
      type: object
      properties:
        result:
          type: array
          description: One page of result
          items:
            $ref: '#/components/schemas/Product1'
        total:
          type: integer
          format: int32
          description: Total number of all elements in collection
      title: PagedResult_Product_1
      description: Paged list of elements
    Template:
      type: object
      properties:
        customerLevel:
          type: boolean
        id:
          type: string
        name:
          type: string
        product:
          $ref: '#/components/schemas/Product'
        reason:
          type: string
          enum:
          - INVALID_PRODUCT_CONFIGURATION
          - HARDWARE_IN_TEMPLATE
          - NOT_SUPPORTED_PRODUCT
        templateDefinitionId:
          type: integer
          format: int64
        valid:
          type: boolean
      title: Template
    Error:
      type: object
      properties:
        hint:
          $ref: '#/components/schemas/LocalizedString'
        message:
          $ref: '#/components/schemas/LocalizedString'
      title: Error
    CharacteristicRestriction:
      type: object
      properties:
        caption:
          $ref: '#/components/schemas/LocalizedString'
        value:
          type: string
      title: CharacteristicRestriction
    Product:
      type: object
      properties:
        bsId:
          type: integer
          format: int64
        name:
          type: string
        oneTimePriceInCents:
          type: integer
          format: int64
        privateCopyingLevyInCents:
          type: integer
          format: int64
      title: Product
    LocalizedString:
      type: object
      properties:
        en:
          type: string
          description: English version
        nl:
          type: string
          description: Dutch version
      title: LocalizedString
      description: Text with two language versions
  securitySchemes:
    OAuth2:
      type: oauth2
      flows:
        clientCredentials:
          scopes: {}
          tokenUrl: https://api-prd.kpn.com/oauth/grip/msm/accesstoken?grant_type=client_credentials
