openapi: 3.2.0
info:
  description: 'MobileServicesManagement APIs


    ---


    ## Source view


    Documentation view


    ---


    ## KPN Developer


    Getting Started


    ---'
  version: v11
  title: MobileServicesManagement-KPN Rest Template Controller API
  termsOfService: https://developer.kpn.com/legal
  contact:
    name: API Support
    email: api_developer@kpn.com
    url: https://developer.kpn.com/support
servers:
- url: https://api-prd.kpn.com/mobile/kpn/mobileservices
tags:
- name: rest-template-controller
  description: Rest Template Controller
paths:
  /contracting/templates:
    get:
      tags:
      - rest-template-controller
      summary: Get template overview
      description: 'Required privileges (one of the following):


        privileges_portfolio_and_profiles_management'
      parameters:
      - name: groupId
        in: query
        description: groupId
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TemplateOverview'
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Too Many Requests
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Server Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '503':
          description: Service Unavailable
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - OAuth2: []
      operationId: getContractingTemplates
      x-operation-id-source: derived
  /contracting/templates/{id}:
    get:
      tags:
      - rest-template-controller
      summary: Get template details
      description: 'Required privileges (one of the following):


        privileges_portfolio_and_profiles_management'
      parameters:
      - name: id
        in: path
        description: id
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/TemplateDetailsWithLocations'
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Too Many Requests
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Server Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '503':
          description: Service Unavailable
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - OAuth2: []
      operationId: getContractingTemplatesById
      x-operation-id-source: derived
  /contracting/templates/{id}/delete:
    post:
      tags:
      - rest-template-controller
      summary: Remove template
      description: 'Required privileges (one of the following):


        privileges_portfolio_and_profiles_management'
      operationId: deleteTemplateUsingPOST
      parameters:
      - name: id
        in: path
        description: id
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Too Many Requests
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Server Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '503':
          description: Service Unavailable
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - OAuth2: []
components:
  schemas:
    TemplateItem:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/TemplateItem'
        option:
          type: string
          enum:
          - NOT_AVAILABLE
          - AVAILABLE
          - DEFAULT_DESELECTED
          - DEFAULT_SELECTED
          - REQUIRED
        productName:
          $ref: '#/components/schemas/LocalizedString'
      title: TemplateItem
    TemplateDetailsWithLocations:
      type: object
      properties:
        customerLevel:
          type: boolean
        id:
          type: integer
          format: int64
        items:
          type: array
          items:
            $ref: '#/components/schemas/TemplateItem'
        locations:
          type: array
          items:
            type: array
            items:
              $ref: '#/components/schemas/VirtualHierarchyItem'
        name:
          type: string
        valid:
          type: boolean
      title: TemplateDetailsWithLocations
    ErrorResponse:
      type: object
      properties:
        transactionId:
          type: string
          description: transaction id of the the request
          title: Transaction ID
        status:
          type: string
          description: Status
          title: Status
        name:
          type: string
          description: Error name
          title: Error name
        message:
          type: string
          description: Error message
          title: Error message
        info:
          type: string
          description: Additional information about error
          title: Info
    VirtualHierarchyItem:
      type: object
      properties:
        costCenterNumber:
          type: string
        email:
          type: string
        employeeNumber:
          type: string
        firstName:
          type: string
        id:
          type: integer
          format: int64
        lastName:
          type: string
        name:
          type: string
        operation:
          $ref: '#/components/schemas/OperationState'
        path:
          type: array
          items:
            $ref: '#/components/schemas/VirtualHierarchyItem'
        prefix:
          type: string
        type:
          type: string
          enum:
          - CUSTOMER
          - DEBTOR
          - SUBSCRIBER
          - COST_CENTER
          - CUSTOM_GROUP
          - BUSINESS_LOCATION
      title: VirtualHierarchyItem
    BlockingOrder:
      type: object
      properties:
        id:
          type: integer
          format: int64
        kpnReference:
          type: string
        status:
          type: string
          enum:
          - IN_PROGRESS
          - UNAUTHORIZED
          - NEW
          - CLOSED
          - CANCELED
          - REJECTED
          - DRAFT
          - THIRD_PARTY
          - HOLD_CUSTOMER
          - WAITING
        type:
          type: string
          enum:
          - CONTRACTING
          - SERVICE_REQUEST
      title: BlockingOrder
    OperationState:
      type: object
      properties:
        blocked:
          type: boolean
        blockingOrders:
          type: array
          items:
            $ref: '#/components/schemas/BlockingOrder'
        reason:
          type: string
      title: OperationState
    TemplateOverview:
      type: object
      properties:
        customerLevel:
          type: boolean
        id:
          type: integer
          format: int64
        name:
          type: string
        valid:
          type: boolean
      title: TemplateOverview
    LocalizedString:
      type: object
      properties:
        en:
          type: string
          description: English version
        nl:
          type: string
          description: Dutch version
      title: LocalizedString
      description: Text with two language versions
  securitySchemes:
    OAuth2:
      type: oauth2
      flows:
        clientCredentials:
          scopes: {}
          tokenUrl: https://api-prd.kpn.com/oauth/grip/msm/accesstoken?grant_type=client_credentials
