openapi: 3.2.0
info:
  description: 'MobileServicesManagement APIs


    ---


    ## Source view


    Documentation view


    ---


    ## KPN Developer


    Getting Started


    ---'
  version: v11
  title: MobileServicesManagement-KPN Rest Block Sim Controller API
  termsOfService: https://developer.kpn.com/legal
  contact:
    name: API Support
    email: api_developer@kpn.com
    url: https://developer.kpn.com/support
servers:
- url: https://api-prd.kpn.com/mobile/kpn/mobileservices
tags:
- name: rest-block-sim-controller
  description: Rest Block Sim Controller
paths:
  /order/block-sim:
    post:
      tags:
      - rest-block-sim-controller
      summary: Block sim for given contract
      description: 'Required privileges (one of the following):


        privileges_un-authorized_orders_creation


        privileges_orders_authorization'
      operationId: blockSimUsingPOST
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/OrderSummary'
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Too Many Requests
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Server Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '503':
          description: Service Unavailable
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - OAuth2: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BlockSimRequest'
        description: blockSimRequest
        required: true
  /order/unblock-sim:
    post:
      tags:
      - rest-block-sim-controller
      summary: Unblock sim for given contract
      description: 'Required privileges (one of the following):


        privileges_un-authorized_orders_creation


        privileges_orders_authorization'
      operationId: unblockSimUsingPOST
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/OrderSummary'
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Too Many Requests
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Server Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '503':
          description: Service Unavailable
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - OAuth2: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UnblockSimRequest'
        description: unblockSimOrder
        required: true
components:
  schemas:
    ErrorResponse:
      type: object
      properties:
        transactionId:
          type: string
          description: transaction id of the the request
          title: Transaction ID
        status:
          type: string
          description: Status
          title: Status
        name:
          type: string
          description: Error name
          title: Error name
        message:
          type: string
          description: Error message
          title: Error message
        info:
          type: string
          description: Additional information about error
          title: Info
    UnblockSimRequest:
      type: object
      properties:
        contractId:
          type: integer
          format: int64
        referenceNumber:
          type: string
      title: UnblockSimRequest
    BlockSimRequest:
      type: object
      properties:
        contractId:
          type: integer
          format: int64
        referenceNumber:
          type: string
      title: BlockSimRequest
    OrderSummary:
      type: object
      properties:
        contextName:
          type: string
        creationDate:
          type: string
        id:
          type: integer
          format: int64
        operation:
          type: string
        referenceNumber:
          type: string
        status:
          type: string
          enum:
          - Failed
          - Aborted
          - Finished
          - Suspended
          - InProgress
          - Waiting
          - Draft
          - WaitingForAuthorization
          - Authorized
          - Restored
          - Canceled
          - Scheduled
          - Initialized
          - Rejected
          - ExternalScheduled
      title: OrderSummary
  securitySchemes:
    OAuth2:
      type: oauth2
      flows:
        clientCredentials:
          scopes: {}
          tokenUrl: https://api-prd.kpn.com/oauth/grip/msm/accesstoken?grant_type=client_credentials
