openapi: 3.2.0
info:
  version: 1.54.0
  title: KPN SD-LAN SD-WAN Network View Appliance.configure API
  description: "The SD-LAN SD-WAN Network View API is a modern REST API based on the OpenAPI specification.\n    \nThe Network View API gives users read rights to retrieve information from the `Network View API` resources. \n    \n- **Note**: By default you have read only access but based on your requirements and contract you can be granted `Manager` access to this API which is more than read only. To request manager access, please contact us at api_developer@kpn.com.\n\n---\n## [Source view](https://app.swaggerhub.com/apis/kpn/kpn-sd_lan_sd_wan_network_view_api/)<br/> [Documentation view](https://app.swaggerhub.com/apis-docs/kpn/kpn-sd_lan_sd_wan_network_view_api/)\n---\n## [KPN Developer](https://developer.kpn.com/)<br/> [Getting Started](https://developer.kpn.com/getting-started)"
servers:
- url: https://api-prd.kpn.com/kpn/meraki
security:
- OAuth2ClientCredentials: []
tags:
- name: appliance.configure
paths:
  /devices/{serial}/appliance/radio/settings:
    get:
      description: Return the radio settings of an appliance
      operationId: getDeviceApplianceRadioSettings
      parameters:
      - name: serial
        in: path
        description: Serial
        schema:
          type: string
        required: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  serial:
                    type: string
                    description: The device serial
                  rfProfileId:
                    type: string
                    description: RF Profile ID
                  twoFourGhzSettings:
                    type: object
                    properties:
                      channel:
                        type: integer
                        enum:
                        - 1
                        - 2
                        - 3
                        - 4
                        - 5
                        - 6
                        - 7
                        - 8
                        - 9
                        - 10
                        - 11
                        - 12
                        - 13
                        - 14
                        description: Manual channel for 2.4 GHz
                      targetPower:
                        type: integer
                        description: Manual target power for 2.4 GHz
                    description: Manual radio settings for 2.4 GHz
                  fiveGhzSettings:
                    type: object
                    properties:
                      channel:
                        type: integer
                        enum:
                        - 36
                        - 40
                        - 44
                        - 48
                        - 52
                        - 56
                        - 60
                        - 64
                        - 100
                        - 104
                        - 108
                        - 112
                        - 116
                        - 120
                        - 124
                        - 128
                        - 132
                        - 136
                        - 140
                        - 144
                        - 149
                        - 153
                        - 157
                        - 161
                        - 165
                        - 169
                        - 173
                        - 177
                        description: Manual channel for 5 GHz
                      channelWidth:
                        type: integer
                        enum:
                        - 0
                        - 20
                        - 40
                        - 80
                        - 160
                        description: Manual channel width for 5 GHz
                      targetPower:
                        type: integer
                        description: Manual target power for 5 GHz
                    description: Manual radio settings for 5 GHz
              example:
                serial: Q234-ABCD-5678
                rfProfileId: '1234'
                twoFourGhzSettings:
                  channel: 11
                  targetPower: 21
                fiveGhzSettings:
                  channel: 149
                  channelWidth: 20
                  targetPower: 15
      summary: Return the radio settings of an appliance
      tags:
      - appliance.configure
    put:
      description: Update the radio settings of an appliance
      operationId: updateDeviceApplianceRadioSettings
      parameters:
      - name: serial
        in: path
        description: Serial
        schema:
          type: string
        required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                rfProfileId:
                  type: string
                  description: The ID of an RF profile to assign to the device. If the value of this parameter is null, the appropriate basic RF profile (indoor or outdoor) will be assigned to the device. Assigning an RF profile will clear ALL manually configured overrides on the device (channel width, channel, power).
                twoFourGhzSettings:
                  type: object
                  properties:
                    channel:
                      type: integer
                      enum:
                      - 1
                      - 2
                      - 3
                      - 4
                      - 5
                      - 6
                      - 7
                      - 8
                      - 9
                      - 10
                      - 11
                      - 12
                      - 13
                      - 14
                      description: Sets a manual channel for 2.4 GHz. Can be '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13' or '14' or null for using auto channel.
                    targetPower:
                      type: integer
                      description: Set a manual target power for 2.4 GHz (dBm). Enter null for using auto power range.
                  description: Manual radio settings for 2.4 GHz.
                fiveGhzSettings:
                  type: object
                  properties:
                    channel:
                      type: integer
                      enum:
                      - 36
                      - 40
                      - 44
                      - 48
                      - 52
                      - 56
                      - 60
                      - 64
                      - 100
                      - 104
                      - 108
                      - 112
                      - 116
                      - 120
                      - 124
                      - 128
                      - 132
                      - 136
                      - 140
                      - 144
                      - 149
                      - 153
                      - 157
                      - 161
                      - 165
                      - 169
                      - 173
                      - 177
                      description: Sets a manual channel for 5 GHz. Can be '36', '40', '44', '48', '52', '56', '60', '64', '100', '104', '108', '112', '116', '120', '124', '128', '132', '136', '140', '144', '149', '153', '157', '161', '165', '169', '173' or '177' or null for using auto channel.
                    channelWidth:
                      type: integer
                      enum:
                      - 0
                      - 20
                      - 40
                      - 80
                      - 160
                      description: Sets a manual channel width for 5 GHz. Can be '0', '20', '40', '80' or '160' or null for using auto channel width.
                    targetPower:
                      type: integer
                      description: Set a manual target power for 5 GHz (dBm). Enter null for using auto power range.
                  description: Manual radio settings for 5 GHz.
              example:
                rfProfileId: '1234'
                twoFourGhzSettings:
                  channel: 11
                  targetPower: 21
                fiveGhzSettings:
                  channel: 149
                  channelWidth: 20
                  targetPower: 15
        required: false
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  serial:
                    type: string
                    description: The device serial
                  rfProfileId:
                    type: string
                    description: RF Profile ID
                  twoFourGhzSettings:
                    type: object
                    properties:
                      channel:
                        type: integer
                        enum:
                        - 1
                        - 2
                        - 3
                        - 4
                        - 5
                        - 6
                        - 7
                        - 8
                        - 9
                        - 10
                        - 11
                        - 12
                        - 13
                        - 14
                        description: Manual channel for 2.4 GHz
                      targetPower:
                        type: integer
                        description: Manual target power for 2.4 GHz
                    description: Manual radio settings for 2.4 GHz
                  fiveGhzSettings:
                    type: object
                    properties:
                      channel:
                        type: integer
                        enum:
                        - 36
                        - 40
                        - 44
                        - 48
                        - 52
                        - 56
                        - 60
                        - 64
                        - 100
                        - 104
                        - 108
                        - 112
                        - 116
                        - 120
                        - 124
                        - 128
                        - 132
                        - 136
                        - 140
                        - 144
                        - 149
                        - 153
                        - 157
                        - 161
                        - 165
                        - 169
                        - 173
                        - 177
                        description: Manual channel for 5 GHz
                      channelWidth:
                        type: integer
                        enum:
                        - 0
                        - 20
                        - 40
                        - 80
                        - 160
                        description: Manual channel width for 5 GHz
                      targetPower:
                        type: integer
                        description: Manual target power for 5 GHz
                    description: Manual radio settings for 5 GHz
              example:
                serial: Q234-ABCD-5678
                rfProfileId: '1234'
                twoFourGhzSettings:
                  channel: 11
                  targetPower: 21
                fiveGhzSettings:
                  channel: 149
                  channelWidth: 20
                  targetPower: 15
      summary: Update the radio settings of an appliance
      tags:
      - appliance.configure
  /devices/{serial}/appliance/uplinks/settings:
    get:
      description: Return the uplink settings for an MX appliance
      operationId: getDeviceApplianceUplinksSettings
      parameters:
      - name: serial
        in: path
        description: Serial
        schema:
          type: string
        required: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  interfaces:
                    type: object
                    properties:
                      wan1:
                        type: object
                        properties:
                          enabled:
                            type: boolean
                            description: Enable or disable the interface.
                          vlanTagging:
                            type: object
                            properties:
                              enabled:
                                type: boolean
                                description: Whether VLAN tagging is enabled.
                              vlanId:
                                type: integer
                                description: The ID of the VLAN to use for VLAN tagging.
                            description: VLAN tagging settings.
                          svis:
                            type: object
                            properties:
                              ipv4:
                                type: object
                                properties:
                                  assignmentMode:
                                    type: string
                                    enum:
                                    - dynamic
                                    - static
                                    description: The assignment mode for this SVI. Applies only when PPPoE is disabled.
                                  address:
                                    type: string
                                    description: IP address and subnet mask when in static mode.
                                  gateway:
                                    type: string
                                    description: Gateway IP address when in static mode.
                                  nameservers:
                                    type: object
                                    properties:
                                      addresses:
                                        type: array
                                        items:
                                          type: string
                                        description: Up to 2 nameserver addresses to use, ordered in priority from highest to lowest priority.
                                    description: The nameserver settings for this SVI.
                                description: IPv4 settings for static/dynamic mode.
                              ipv6:
                                type: object
                                properties:
                                  assignmentMode:
                                    type: string
                                    enum:
                                    - dynamic
                                    - static
                                    description: The assignment mode for this SVI. Applies only when PPPoE is disabled.
                                  address:
                                    type: string
                                    description: Static address that will override the one(s) received by SLAAC.
                                  gateway:
                                    type: string
                                    description: Static gateway that will override the one received by autoconf.
                                  nameservers:
                                    type: object
                                    properties:
                                      addresses:
                                        type: array
                                        items:
                                          type: string
                                        description: Up to 2 nameserver addresses to use, ordered in priority from highest to lowest priority.
                                    description: The nameserver settings for this SVI.
                                description: IPv6 settings for static/dynamic mode.
                            description: SVI settings by protocol.
                          pppoe:
                            type: object
                            properties:
                              enabled:
                                type: boolean
                                description: Whether PPPoE is enabled.
                              authentication:
                                type: object
                                properties:
                                  enabled:
                                    type: boolean
                                    description: Whether PPPoE authentication is enabled.
                                  username:
                                    type: string
                                    description: Username for PPPoE authentication.
                                description: Settings for PPPoE Authentication.
                            description: Configuration options for PPPoE.
                        description: WAN 1 settings.
                      wan2:
                        type: object
                        properties:
                          enabled:
                            type: boolean
                            description: Enable or disable the interface.
                          vlanTagging:
                            type: object
                            properties:
                              enabled:
                                type: boolean
                                description: Whether VLAN tagging is enabled.
                              vlanId:
                                type: integer
                                description: The ID of the VLAN to use for VLAN tagging.
                            description: VLAN tagging settings.
                          svis:
                            type: object
                            properties:
                              ipv4:
                                type: object
                                properties:
                                  assignmentMode:
                                    type: string
                                    enum:
                                    - dynamic
                                    - static
                                    description: The assignment mode for this SVI. Applies only when PPPoE is disabled.
                                  address:
                                    type: string
                                    description: IP address and subnet mask when in static mode.
                                  gateway:
                                    type: string
                                    description: Gateway IP address when in static mode.
                                  nameservers:
                                    type: object
                                    properties:
                                      addresses:
                                        type: array
                                        items:
                                          type: string
                                        description: Up to 2 nameserver addresses to use, ordered in priority from highest to lowest priority.
                                    description: The nameserver settings for this SVI.
                                description: IPv4 settings for static/dynamic mode.
                              ipv6:
                                type: object
                                properties:
                                  assignmentMode:
                                    type: string
                                    enum:
                                    - dynamic
                                    - static
                                    description: The assignment mode for this SVI. Applies only when PPPoE is disabled.
                                  address:
                                    type: string
                                    description: Static address that will override the one(s) received by SLAAC.
                                  gateway:
                                    type: string
                                    description: Static gateway that will override the one received by autoconf.
                                  nameservers:
                                    type: object
                                    properties:
                                      addresses:
                                        type: array
                                        items:
                                          type: string
                                        description: Up to 2 nameserver addresses to use, ordered in priority from highest to lowest priority.
                                    description: The nameserver settings for this SVI.
                                description: IPv6 settings for static/dynamic mode.
                            description: SVI settings by protocol.
                          pppoe:
                            type: object
                            properties:
                              enabled:
                                type: boolean
                                description: Whether PPPoE is enabled.
                              authentication:
                                type: object
                                properties:
                                  enabled:
                                    type: boolean
                                    description: Whether PPPoE authentication is enabled.
                                  username:
                                    type: string
                                    description: Username for PPPoE authentication.
                                description: Settings for PPPoE Authentication.
                            description: Configuration options for PPPoE.
                        description: WAN 2 settings.
                    description: Interface settings.
              example:
                interfaces:
                  wan1:
                    enabled: true
                    vlanTagging:
                      enabled: true
                      vlanId: 1
                    svis:
                      ipv4:
                        assignmentMode: static
                        address: 9.10.11.10/16
                        gateway: 13.14.15.16
                        nameservers:
                          addresses:
                          - 1.2.3.4
                      ipv6:
                        assignmentMode: static
                        address: 1:2:3::4
                        gateway: 1:2:3::5
                        nameservers:
                          addresses:
                          - 1001:4860:4860::8888
                          - 1001:4860:4860::8844
                    pppoe:
                      enabled: true
                      authentication:
                        enabled: true
                        username: username
                  wan2:
                    enabled: true
                    vlanTagging:
                      enabled: true
                      vlanId: 1
                    svis:
                      ipv4:
                        assignmentMode: static
                        address: 9.10.11.10/16
                        gateway: 13.14.15.16
                        nameservers:
                          addresses:
                          - 1.2.3.4
                      ipv6:
                        assignmentMode: static
                        address: 1:2:3::4
                        gateway: 1:2:3::5
                        nameservers:
                          addresses:
                          - 1001:4860:4860::8888
                          - 1001:4860:4860::8844
                    pppoe:
                      enabled: true
                      authentication:
                        enabled: true
                        username: username
      summary: Return the uplink settings for an MX appliance
      tags:
      - appliance.configure
    put:
      description: Update the uplink settings for an MX appliance
      operationId: updateDeviceApplianceUplinksSettings
      parameters:
      - name: serial
        in: path
        description: Serial
        schema:
          type: string
        required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                interfaces:
                  type: object
                  properties:
                    wan1:
                      type: object
                      properties:
                        enabled:
                          type: boolean
                          description: Enable or disable the interface.
                        vlanTagging:
                          type: object
                          properties:
                            enabled:
                              type: boolean
                              description: Whether VLAN tagging is enabled.
                            vlanId:
                              type: integer
                              description: The ID of the VLAN to use for VLAN tagging.
                          description: VLAN tagging settings.
                        svis:
                          type: object
                          properties:
                            ipv4:
                              type: object
                              properties:
                                assignmentMode:
                                  type: string
                                  enum:
                                  - dynamic
                                  - static
                                  description: The assignment mode for this SVI. Applies only when PPPoE is disabled.
                                address:
                                  type: string
                                  description: IP address and subnet mask when in static mode.
                                gateway:
                                  type: string
                                  description: Gateway IP address when in static mode.
                                nameservers:
                                  type: object
                                  properties:
                                    addresses:
                                      type: array
                                      items:
                                        type: string
                                      description: Up to 2 nameserver addresses to use, ordered in priority from highest to lowest priority.
                                  description: The nameserver settings for this SVI.
                              description: IPv4 settings for static/dynamic mode.
                            ipv6:
                              type: object
                              properties:
                                assignmentMode:
                                  type: string
                                  enum:
                                  - dynamic
                                  - static
                                  description: The assignment mode for this SVI. Applies only when PPPoE is disabled.
                                address:
                                  type: string
                                  description: Static address that will override the one(s) received by SLAAC.
                                gateway:
                                  type: string
                                  description: Static gateway that will override the one received by autoconf.
                                nameservers:
                                  type: object
                                  properties:
                                    addresses:
                                      type: array
                                      items:
                                        type: string
                                      description: Up to 2 nameserver addresses to use, ordered in priority from highest to lowest priority.
                                  description: The nameserver settings for this SVI.
                              description: IPv6 settings for static/dynamic mode.
                          description: SVI settings by protocol.
                        pppoe:
                          type: object
                          properties:
                            enabled:
                              type: boolean
                              description: Whether PPPoE is enabled.
                            authentication:
                              type: object
                              properties:
                                enabled:
                                  type: boolean
                                  description: Whether PPPoE authentication is enabled.
                                username:
                                  type: string
                                  description: Username for PPPoE authentication.
                                password:
                                  type: string
                                  description: Password for PPPoE authentication. This parameter is not returned.
                              description: Settings for PPPoE Authentication.
                          description: Configuration options for PPPoE.
                      description: WAN 1 settings.
                    wan2:
                      type: object
                      properties:
                        enabled:
                          type: boolean
                          description: Enable or disable the interface.
                        vlanTagging:
                          type: object
                          properties:
                            enabled:
                              type: boolean
                              description: Whether VLAN tagging is enabled.
                            vlanId:
                              type: integer
                              description: The ID of the VLAN to use for VLAN tagging.
                          description: VLAN tagging settings.
                        svis:
                          type: object
                          properties:
                            ipv4:
                              type: object
                              properties:
                                assignmentMode:
                                  type: string
                                  enum:
                                  - dynamic
                                  - static
                                  description: The assignment mode for this SVI. Applies only when PPPoE is disabled.
                                address:
                                  type: string
                                  description: IP address and subnet mask when in static mode.
                                gateway:
                                  type: string
                                  description: Gateway IP address when in static mode.
                                nameservers:
                                  type: object
                                  properties:
                                    addresses:
                                      type: array
                                      items:
                                        type: string
                                      description: Up to 2 nameserver addresses to use, ordered in priority from highest to lowest priority.
                                  description: The nameserver settings for this SVI.
                              description: IPv4 settings for static/dynamic mode.
                            ipv6:
                              type: object
                              properties:
                                assignmentMode:
                                  type: string
                                  enum:
                                  - dynamic
                                  - static
                                  description: The assignment mode for this SVI. Applies only when PPPoE is disabled.
                                address:
                                  type: string
                                  description: Static address that will override the one(s) received by SLAAC.
                                gateway:
                                  type: string
                                  description: Static gateway that will override the one received by autoconf.
                                nameservers:
                                  type: object
                                  properties:
                                    addresses:
                                      type: array
                                      items:
                                        type: string
                                      description: Up to 2 nameserver addresses to use, ordered in priority from highest to lowest priority.
                                  description: The nameserver settings for this SVI.
                              description: IPv6 settings for static/dynamic mode.
                          description: SVI settings by protocol.
                        pppoe:
                          type: object
                          properties:
                            enabled:
                              type: boolean
                              description: Whether PPPoE is enabled.
                            authentication:
                              type: object
                              properties:
                                enabled:
                                  type: boolean
                                  description: Whether PPPoE authentication is enabled.
                                username:
                                  type: string
                                  description: Username for PPPoE authentication.
                                password:
                                  type: string
                                  description: Password for PPPoE authentication. This parameter is not returned.
                              description: Settings for PPPoE Authentication.
                          description: Configuration options for PPPoE.
                      description: WAN 2 settings.
                  description: Interface settings.
              example:
                interfaces:
                  wan1:
                    enabled: true
                    vlanTagging:
                      enabled: true
                      vlanId: 1
                    svis:
                      ipv4:
                        assignmentMode: static
                        address: 9.10.11.10/16
                        gateway: 13.14.15.16
                        nameservers:
                          addresses:
                          - 1.2.3.4
                      ipv6:
                        assignmentMode: static
                        address: 1:2:3::4
                        gateway: 1:2:3::5
                        nameservers:
                          addresses:
                          - 1001:4860:4860::8888
                          - 1001:4860:4860::8844
                    pppoe:
                      enabled: true
                      authentication:
                        enabled: true
                        username: username
                        password: password
                  wan2:
                    enabled: true
                    vlanTagging:
                      enabled: true
                      vlanId: 1
                    svis:
                      ipv4:
                        assignmentMode: static
                        address: 9.10.11.10/16
                        gateway: 13.14.15.16
                        nameservers:
                          addresses:
                          - 1.2.3.4
                      ipv6:
                        assignmentMode: static
                        address: 1:2:3::4
                        gateway: 1:2:3::5
                        nameservers:
                          addresses:
                          - 1001:4860:4860::8888
                          - 1001:4860:4860::8844
                    pppoe:
                      enabled: true
                      authentication:
                        enabled: true
                        username: username
                        password: password
              required:
              - interfaces
        required: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  interfaces:
                    type: object
                    properties:
                      wan1:
                        type: object
                        properties:
                          enabled:
                            type: boolean
                            description: Enable or disable the interface.
                          vlanTagging:
                            type: object
                            properties:
                              enabled:
                                type: boolean
                                description: Whether VLAN tagging is enabled.
                              vlanId:
                                type: integer
                                description: The ID of the VLAN to use for VLAN tagging.
                            description: VLAN tagging settings.
                          svis:
                            type: object
                            properties:
                              ipv4:
                                type: object
                                properties:
                                  assignmentMode:
                                    type: string
                                    enum:
                                    - dynamic
                                    - static
                                    description: The assignment mode for this SVI. Applies only when PPPoE is disabled.
                                  address:
                                    type: string
                                    description: IP address and subnet mask when in static mode.
                                  gateway:
                                    type: string
                                    description: Gateway IP address when in static mode.
                                  nameservers:
                                    type: object
                                    properties:
                                      addresses:
                                        type: array
                                        items:
                                          type: string
                                        description: Up to 2 nameserver addresses to use, ordered in priority from highest to lowest priority.
                                    description: The nameserver settings for this SVI.
                                description: IPv4 settings for static/dynamic mode.
                              ipv6:
                                type: object
                                properties:
                                  assignmentMode:
                                    type: string
                                    enum:
                                    - dynamic
                                    - static
                                    description: The assignment mode for this SVI. Applies only when PPPoE is disabled.
                                  address:
                                    type: string
                                    description: Static address that will override the one(s) received by SLAAC.
                                  gateway:
                                    type: string
                                    description: Static gateway that will override the one received by autoconf.
                                  nameservers:
                                    type: object
                                    properties:
                                      addresses:
                                        type: array
                                        items:
                                          type: string
                                        description: Up to 2 nameserver addresses to use, ordered in priority from highest to lowest priority.
                                    description: The nameserver settings for this SVI.
                                description: IPv6 settings for static/dynamic mode.
                            description: SVI settings by protocol.
                          pppoe:
                            type: object
                            properties:
                              enabled:
                                type: boolean
                                description: Whether PPPoE is enabled.
                              authentication:
                                type: object
                                properties:
                                  enabled:
                                    type: boolean
                                    description: Whether PPPoE authentication is enabled.
                                  username:
                                    type: string
                                    description: Username for PPPoE authentication.
                                description: Settings for PPPoE Authentication.
                            description: Configuration options for PPPoE.
                        description: WAN 1 settings.
                      wan2:
                        type: object
                        properties:
                          enabled:
                            type: boolean
                            description: Enable or disable the interface.
                          vlanTagging:
                            type: object
                            properties:
                              enabled:
                                type: boolean
                                description: Whether VLAN tagging is enabled.
                              vlanId:
                                type: integer
                                description: The ID of the VLAN to use for VLAN tagging.
                            description: VLAN tagging settings.
                          svis:
                            type: object
                            properties:
                              ipv4:
                                type: object
                                properties:
                                  assignmentMode:
                                    type: string
                                    enum:
                                    - dynamic
                                    - static
                                    description: The assignment mode for this SVI. Applies only when PPPoE is disabled.
                                  address:
                                    type: string
                                    description: IP address and subnet mask when in static mode.
                                  gateway:
                                    type: string
                                    description: Gateway IP address when in static mode.
                                  nameservers:
                                    type: object
                                    properties:
                                      addresses:
                                        type: array
                                        items:
                                          type: string
                                        description: Up to 2 nameserver addresses to use, ordered in priority from highest to lowest priority.
                                    description: The nameserver settings for this SVI.
                                description: IPv4 settings for static/dynamic mode.
                              ipv6:
                                type: object
                                properties:
                                  assignmentMode:
                                    type: string
                                    enum:
                                    - dynamic
                                    - static
                                    description: The assignment mode for this SVI. Applies only when PPPoE is disabled.
                                  address:
                                    type: string
                                    description: Static address that will override the one(s) received by SLAAC.
                                  gateway:
                                    type: string
                                    description: Static gateway that will override the one received by autoconf.
                                  nameservers:
                                    type: object
                                    properties:
                                      addresses:
                                        type: array
                                        items:
                                          type: string
                                        description: Up to 2 nameserver addresses to use, ordered in priority from highest to lowest priority.
                                    description: The nameserver settings for this SVI.
                                description: IPv6 settings for static/dynamic mode.
                            description: SVI settings by protocol.
                          pppoe:
                            type: object
                            properties:
                              enabled:
                                type: boolean
                                description: Whether PPPoE is enabled.
                              authentication:
                                type: object
                                properties:
                                  enabled:
                                    type: boolean
                                    description: Whether PPPoE authentication is enabled.
                                  username:
                                    type: string
                                    description: Username for PPPoE authentication.
                                description: Settings for PPPoE Authentication.
                            description: Configuration options for PPPoE.
                        description: WAN 2 settings.
                    description: Interface settings.
              example:
                interfaces:
                  wan1:
                    enabled: true
                    vlanTagging:
                      enabled: true
                      vlanId: 1
                    svis:
                      ipv4:
                        assignmentMode: static
                        address: 9.10.11.10/16
                        gateway: 13.14.15.16
                        nameservers:
                          addresses:
                          - 1.2.3.4
                      ipv6:
                        assignmentMode: static
                        address: 1:2:3::4
                        gateway: 1:2:3::5
                        nameservers:
                          addresses:
                          - 1001:4860:4860::8888
                          - 1001:4860:4860::8844
                    pppoe:
                      enabled: true
                      authentication:
                        enabled: true
                        username: username
                  wan2:
                    enabled: true
                    vlanTagging:
                      enabled: true
                      vlanId: 1
                    svis:
                      ipv4:
                        assignmentMode: static
                        address: 9.10.11.10/16
                        gateway: 13.14.15.16
                        nameservers:
                          addresses:
                          - 1.2.3.4
                      ipv6:
                        assignmentMode: static
                        address: 1:2:3::4
                        gateway: 1:2:3::5
                        nameservers:
                          addresses:
                          - 1001:4860:4860::8888
                          - 1001:4860:4860::8844
                    pppoe:
                      enabled: true
                      authentication:
                        enabled: true
                        username: username
      summary: Update the uplink settings for an MX appliance
      tags:
      - appliance.configure
  /devices/{serial}/appliance/vmx/authenticationToken:
    post:
      description: Generate a new vMX authentication token
      operationId: createDeviceApplianceVmxAuthenticationToken
      parameters:
      - name: serial
        in: path
        description: Serial
        schema:
          type: string
        required: true
      responses:
        '201':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  token:
                    type: string
                    description: The newly generated authentication token for the vMX instance
                  expiresAt:
                    type: string
                    description: The expiration time for the token, in ISO 8601 format
              example:
                token: ffc0b7b578b61be5bd1d172132c78044/9af03bd84d474
                expiresAt: '2021-06-18T12:40:10Z'
      summary: Generate a new vMX authentication token
      tags:
      - appliance.configure
  /networks/{networkId}/appliance/connectivityMonitoringDestinations:
    get:
      description: Return the connectivity testing destinations for an MX network
      operationId: getNetworkApplianceConnectivityMonitoringDestinations
      parameters:
      - name: networkId
        in: path
        description: Network ID
        schema:
          type: string
        required: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  destinations:
                    type: array
                    items:
                      type: object
                      properties:
                        ip:
                          type: string
                          description: The IP address to test connectivity with
                        description:
                          type: string
                          description: Description of the testing destination. Optional, defaults to an empty string
                        default:
                          type: boolean
                          description: Boolean indicating whether this is the default testing destination (true) or not (false). Defaults to false. Only one default is allowed
                    description: The list of connectivity monitoring destinations
              example:
                destinations:
                - ip: 1.2.3.4
                  description: Google
                  default: false
      summary: Return the connectivity testing destinations for an MX network
      tags:
      - appliance.configure
    put:
      description: Update the connectivity testing destinations for an MX network
      operationId: updateNetworkApplianceConnectivityMonitoringDestinations
      parameters:
      - name: networkId
        in: path
        description: Network ID
        schema:
          type: string
        required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                destinations:
                  type: array
                  items:
                    type: object
                    properties:
                      ip:
                        type: string
                        description: The IP address to test connectivity with
                      description:
                        type: string
                        description: Description of the testing destination. Optional, defaults to null
                      default:
                        type: boolean
                        description: Boolean indicating whether this is the default testing destination (true) or not (false). Defaults to false. Only one default is allowed
                    required:
                    - ip
                  description: The list of connectivity monitoring destinations
              example:
                destinations:
                - ip: 1.2.3.4
                  description: Google
                  default: false
        required: false
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  destinations:
                    type: array
                    items:
                      type: object
                      properties:
                        ip:
                          type: string
                          description: The IP address to test connectivity with
                        description:
                          type: string
                          description: Description of the testing destination. Optional, defaults to an empty string
                        default:
                          type: boolean
                          description: Boolean indicating whether this is the default testing destination (true) or not (false). Defaults to false. Only one default is allowed
                    description: The list of connectivity monitoring destinations
              example:
                destinations:
                - ip: 1.2.3.4
                  description: Google
                  default: false
      summary: Update the connectivity testing destinations for an MX network
      tags:
      - appliance.configure
  /networks/{networkId}/appliance/contentFiltering:
    get:
      description: Return the content filtering settings for an MX network
      operationId: getNetworkApplianceContentFiltering
      parameters:
      - name: networkId
        in: path
        description: Network ID
        schema:
          type: string
        required: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
              example:
                allowedUrlPatterns:
                - http://www.example.org
                - http://help.com.au
                blockedUrlPatterns:
                - http://www.example.com
                - http://www.betting.com
                blockedUrlCategories:
                - id: meraki:contentFiltering/category/1
                  name: Real Estate
                - id: meraki:contentFiltering/category/7
                  name: Shopping
                urlCategoryListSize: topSites
      summary: Return the content filtering settings for an MX network
      tags:
      - appliance.configure
    put:
      description: Update the content filtering settings for an MX network
      operationId: updateNetworkApplianceContentFiltering
      parameters:
      - name: networkId
        in: path
        description: Network ID
        schema:
          type: string
        required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                allowedUrlPatterns:
                  type: array
                  items:
                    type: string
                  description: A list of URL patterns that are allowed
                blockedUrlPatterns:
                  type: array
                  items:
                    type: string
                  description: A list of URL patterns that are blocked
                blockedUrlCategories:
                  type: array
                  items:
                    type: string
                  description: A list of URL categories to block
                urlCategoryListSize:
                  type: string
                  enum:
                  - fullList
                  - topSites
                  description: URL category list size which is either 'topSites' or 'fullList'
              example:
                allowedUrlPatterns:
                - http://www.example.org
                - http://help.com.au
                blockedUrlPatterns:
                - http://www.example.com
                - http://www.betting.com
                blockedUrlCategories:
                - meraki:contentFiltering/category/1
                - meraki:contentFiltering/category/7
                urlCategoryListSize: topSites
        required: false
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
              example:
                allowedUrlPatterns:
                - http://www.example.org
                - http://help.com.au
                blockedUrlPatterns:
                - http://www.example.com
                - http://www.betting.com
                blockedUrlCategories:
                - id: meraki:contentFiltering/category/1
                  name: Real Estate
                - id: meraki:contentFiltering/category/7
                  name: Shopping
                urlCategoryListSize: topSites
      summary: Update the content filtering settings for an MX network
      tags:
      - appliance.configure
  /networks/{networkId}/appliance/contentFiltering/categories:
    get:
      description: List all available content filtering categories for an MX network
      operationId: getNetworkApplianceContentFilteringCategories
      parameters:
      - name: networkId
        in: path
        description: Network ID
        schema:
          type: string
        required: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
              example:
                categories:
                - id: meraki:contentFiltering/category/1
                  name: Real Estate
                - id: meraki:contentFiltering/category/3
                  name: Financial Services
                - '...'
                - id: meraki:contentFiltering/category/11
                  name: Adult and Pornography
      summary: List all available content filtering categories for an MX network
      tags:
      - appliance.configure
  /networks/{networkId}/appliance/firewall/cellularFirewallRules:
    get:
      description: Return the cellular firewall rules for an MX network
      operationId: getNetworkApplianceFirewallCellularFirewallRules
      parameters:
      - name: networkId
        in: path
        description: Network ID
        schema:
          type: string
        required: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
              example:
                rules:
                - comment: Allow TCP traffic to subnet with HTTP servers.
                  policy: allow
                  protocol: tcp
                  destPort: '443'
                  destCidr: 192.168.1.0/24
                  srcPort: Any
                  srcCidr: Any
                  syslogEnabled: false
      summary: Return the cellular firewall rules for an MX network
      tags:
      - appliance.configure
    put:
      description: Update the cellular firewall rules of an MX network
      operationId: updateNetworkApplianceFirewallCellularFirewallRules
      parameters:
      - name: networkId
        in: path
        description: Network ID
        schema:
          type: string
        required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                rules:
                  type: array
                  items:
                    type: object
                    properties:
                      comment:
                        type: string
                        description: Description of the rule (optional)
                      policy:
                        type: string
                        enum:
                        - allow
                        - deny
                        description: '''allow'' or ''deny'' traffic specified by this rule'
                      protocol:
                        type: string
                        enum:
                        - any
                        - icmp
                        - icmp6
                        - tcp
                        - udp
                        description: The type of protocol (must be 'tcp', 'udp', 'icmp', 'icmp6' or 'any')
                      srcPort:
                        type: string
                        description: Comma-separated list of source port(s) (integer in the range 1-65535), or 'any'
                      srcCidr:
                        type: string
                        description: 'Comma-separated list of source IP address(es) (in IP or CIDR notation), or ''any'' (note: FQDN not supported for source addresses)'
                      destPort:
                        type: string
                        description: Comma-separated list of destination port(s) (integer in the range 1-65535), or 'any'
                      destCidr:
                        type: string
                        description: Comma-separated list of destination IP address(es) (in IP or CIDR notation), fully-qualified domain names (FQDN) or 'any'
                      syslogEnabled:
                        type: boolean
                        description: Log this rule to syslog (true or false, boolean value) - only applicable if a syslog has been configured (optional)
                    required:
                    - policy
                    - protocol
                    - srcCidr
                    - destCidr
                  description: An ordered array of the firewall rules (not including the default rule)
              example:
                rules:
                - comment: Allow TCP traffic to subnet with HTTP servers.
                  policy: allow
                  protocol: tcp
                  destPort: '443'
                  destCidr: 192.168.1.0/24
                  srcPort: Any
                  srcCidr: Any
                  syslogEnabled: false
        required: false
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
              example:
                rules:
                - comment: Allow TCP traffic to subnet with HTTP servers.
                  policy: allow
                  protocol: tcp
                  destPort: '443'
                  destCidr: 192.168.1.0/24
                  srcPort: Any
                  srcCidr: Any
                  syslogEnabled: false
      summary: Update the cellular firewall rules of an MX network
      tags:
      - appliance.configure
  /networks/{networkId}/appliance/firewall/firewalledServices:
    get:
      description: List the appliance services and their accessibility rules
      operationId: getNetworkApplianceFirewallFirewalledServices
      parameters:
      - name: networkId
        in: path
        description: Network ID
        schema:
          type: string
        required: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    service:
                      type: string
                      description: Appliance service name
                    access:
                      type: string
                      description: A string indicating the rule for which IPs are allowed to use the specified service
                    allowedIps:
                      type: array
                      items:
                        type: string
                      description: An array of allowed IPs that can access the service
              example:
              - service: web
                access: restricted
                allowedIps:
                - 123.123.123.1
      summary: List the appliance services and their accessibility rules
      tags:
      - appliance.configure
  /networks/{networkId}/appliance/firewall/firewalledServices/{service}:
    get:
      description: Return the accessibility settings of the given service ('ICMP', 'web', or 'SNMP')
      operationId: getNetworkApplianceFirewallFirewalledService
      parameters:
      - name: networkId
        in: path
        description: Network ID
        schema:
          type: string
        required: true
      - name: service
        in: path
        description: Service
        schema:
          type: string
        required: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  service:
                    type: string
                    description: Appliance service name
                  access:
                    type: string
                    description: A string indicating the rule for which IPs are allowed to use the specified service
                  allowedIps:
                    type: array
                    items:
                      type: string
                    description: An array of allowed IPs that can access the service
              example:
                service: web
                access: restricted
                allowedIps:
                - 123.123.123.1
      summary: Return the accessibility settings of the given service ('ICMP', 'web', or 'SNMP')
      tags:
      - appliance.configure
    put:
      description: Updates the accessibility settings for the given service ('ICMP', 'web', or 'SNMP')
      operationId: updateNetworkApplianceFirewallFirewalledService
      parameters:
      - name: networkId
        in: path
        description: Network ID
        schema:
          type: string
        required: true
      - name: service
        in: path
        description: Service
        schema:
          type: string
        required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                access:
                  type: string
                  enum:
                  - blocked
                  - restricted
                  - unrestricted
                  description: A string indicating the rule for which IPs are allowed to use the specified service. Acceptable values are "blocked" (no remote IPs can access the service), "restricted" (only allowed IPs can access the service), and "unrestriced" (any remote IP can access the service). This field is required
                allowedIps:
                  type: array
                  items:
                    type: string
                  description: An array of allowed IPs that can access the service. This field is required if "access" is set to "restricted". Otherwise this field is ignored
              example:
                access: restricted
                allowedIps:
                - 123.123.123.1
              required:
              - access
        required: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  service:
                    type: string
                    description: Appliance service name
                  access:
                    type: string
                    description: A string indicating the rule for which IPs are allowed to use the specified service
                  allowedIps:
                    type: array
                    items:
                      type: string
                    description: An array of allowed IPs that can access the service
              example:
                service: web
                access: restricted
                allowedIps:
                - 123.123.123.1
      summary: Updates the accessibility settings for the given service ('ICMP', 'web', or 'SNMP')
      tags:
      - appliance.configure
  /networks/{networkId}/appliance/firewall/inboundCellularFirewallRules:
    get:
      description: Return the inbound cellular firewall rules for an MX network
      operationId: getNetworkApplianceFirewallInboundCellularFirewallRules
      parameters:
      - name: networkId
        in: path
        description: Network ID
        schema:
          type: string
        required: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  rules:
                    type: array
                    items:
                      type: object
                      properties:
                        comment:
                          type: string
                          description: Description of the rule (optional)
                        policy:
                          type: string
                          description: '''allow'' or ''deny'' traffic specified by this rule'
                        protocol:
                          type: string
                          description: The type of protocol (must be 'tcp', 'udp', 'icmp', 'icmp6' or 'any')
                        srcPort:
                          type: string
                          description: Comma-separated list of source port(s) (integer in the range 1-65535), or 'any'
                        srcCidr:
                          type: string
                          description: 'Comma-separated list of source IP address(es) (in IP or CIDR notation), or ''any'' (note: FQDN not supported for source addresses)'
                        destPort:
                          type: string
                          description: Comma-separated list of destination port(s) (integer in the range 1-65535), or 'any'
                        destCidr:
                          type: string
                          description: Comma-separated list of destination IP address(es) (in IP or CIDR notation), fully-qualified domain names (FQDN) or 'any'
                        syslogEnabled:
                          type: boolean
                          description: Log this rule to syslog (true or false, boolean value) - only applicable if a syslog has been configured (optional)
                    description: An ordered array of the firewall rules (not including the default rule)
              example:
                rules:
                - comment: Allow TCP traffic to subnet with HTTP servers.
                  policy: allow
                  protocol: tcp
                  srcPort: Any
                  srcCidr: Any
                  destPort: '443'
                  destCidr: 192.168.1.0/24
                  syslogEnabled: false
      summary: Return the inbound cellular firewall rules for an MX network
      tags:
      - appliance.configure
    put:
      description: Update the inbound cellular firewall rules of an MX network
      operationId: updateNetworkApplianceFirewallInboundCellularFirewallRules
      parameters:
      - name: networkId
        in: path
        description: Network ID
        schema:
          type: string
        required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                rules:
                  type: array
                  items:
                    type: object
                    properties:
                      comment:
                        type: string
                        description: Description of the rule (optional)
                      policy:
                        type: string
                        enum:
                        - allow
                        - deny
                        description: '''allow'' or ''deny'' traffic specified by this rule'
                      protocol:
                        type: string
                        enum:
                        - any
                        - icmp
                        - icmp6
                        - tcp
                        - udp
                        description: The type of protocol (must be 'tcp', 'udp', 'icmp', 'icmp6' or 'any')
                      srcPort:
                        type: string
                        description: Comma-separated list of source port(s) (integer in the range 1-65535), or 'any'
                      srcCidr:
                        type: string
                        description: 'Comma-separated list of source IP address(es) (in IP or CIDR notation), or ''any'' (note: FQDN not supported for source addresses)'
                      destPort:
                        type: string
                        description: Comma-separated list of destination port(s) (integer in the range 1-65535), or 'any'
                      destCidr:
                        type: string
                        description: Comma-separated list of destination IP address(es) (in IP or CIDR notation), fully-qualified domain names (FQDN) or 'any'
                      syslogEnabled:
                        type: boolean
                        description: Log this rule to syslog (true or false, boolean value) - only applicable if a syslog has been configured (optional)
                    required:
                    - policy
                    - protocol
                    - srcCidr
                    - destCidr
                  description: An ordered array of the firewall rules (not including the default rule)
              example:
                rules:
                - comment: Allow TCP traffic to subnet with HTTP servers.
                  policy: allow
                  protocol: tcp
                  srcPort: Any
                  srcCidr: Any
                  destPort: '443'
                  destCidr: 192.168.1.0/24
                  syslogEnabled: false
        required: false
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  rules:
                    type: array
                    items:
                      type: object
                      properties:
                        comment:
                          type: string
                          description: Description of the rule (optional)
                        policy:
                          type: string
                          description: '''allow'' or ''deny'' traffic specified by this rule'
                        protocol:
                          type: string
                          description: The type of protocol (must be 'tcp', 'udp', 'icmp', 'icmp6' or 'any')
                        srcPort:
                          type: string
                          description: Comma-separated list of source port(s) (integer in the range 1-65535), or 'any'
                        srcCidr:
                          type: string
                          description: 'Comma-separated list of source IP address(es) (in IP or CIDR notation), or ''any'' (note: FQDN not supported for source addresses)'
                        destPort:
                          type: string
                          description: Comma-separated list of destination port(s) (integer in the range 1-65535), or 'any'
                        destCidr:
                          type: string
                          description: Comma-separated list of destination IP address(es) (in IP or CIDR notation), fully-qualified domain names (FQDN) or 'any'
                        syslogEnabled:
                          type: boolean
                          description: Log this rule to syslog (true or false, boolean value) - only applicable if a syslog has been configured (optional)
                    description: An ordered array of the firewall rules (not including the default rule)
              example:
                rules:
                - comment: Allow TCP traffic to subnet with HTTP servers.
                  policy: allow
                  protocol: tcp
                  srcPort: Any
                  srcCidr: Any
                  destPort: '443'
                  destCidr: 192.168.1.0/24
                  syslogEnabled: false
      summary: Update the inbound cellular firewall rules of an MX network
      tags:
      - appliance.configure
  /networks/{networkId}/appliance/firewall/inboundFirewallRules:
    get:
      description: Return the inbound firewall rules for an MX network
      operationId: getNetworkApplianceFirewallInboundFirewallRules
      parameters:
      - name: networkId
        in: path
        description: Network ID
        schema:
          type: string
        required: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  rules:
                    type: array
                    items:
                      type: object
                      properties:
                        comment:
                          type: string
                          description: Description of the rule (optional)
                        policy:
                          type: string
                          description: '''allow'' or ''deny'' traffic specified by this rule'
                        protocol:
                          type: string
                          description: The type of protocol (must be 'tcp', 'udp', 'icmp', 'icmp6' or 'any')
                        srcPort:
                          type: string
                          description: Comma-separated list of source port(s) (integer in the range 1-65535), or 'any'
                        srcCidr:
                          type: string
                          description: 'Comma-separated list of source IP address(es) (in IP or CIDR notation), or ''any'' (note: FQDN not supported for source addresses)'
                        destPort:
                          type: string
                          description: Comma-separated list of destination port(s) (integer in the range 1-65535), or 'any'
                        destCidr:
                          type: string
                          description: Comma-separated list of destination IP address(es) (in IP or CIDR notation), fully-qualified domain names (FQDN) or 'any'
                        syslogEnabled:
                          type: boolean
                          description: Log this rule to syslog (true or false, boolean value) - only applicable if a syslog has been configured (optional)
                    description: An ordered array of the firewall rules (not including the default rule)
                  syslogDefaultRule:
                    type: boolean
                    description: Log the special default rule (boolean value - enable only if you've configured a syslog server) (optional)
              example:
                rules:
                - comment: Allow TCP traffic to subnet with HTTP servers.
                  policy: allow
                  protocol: tcp
                  srcPort: Any
                  srcCidr: Any
                  destPort: '443'
                  destCidr: 192.168.1.0/24
                  syslogEnabled: false
                syslogDefaultRule: false
      summary: Return the inbound firewall rules for an MX network
      tags:
      - appliance.configure
    put:
      description: Update the inbound firewall rules of an MX network
      operationId: updateNetworkApplianceFirewallInboundFirewallRules
      parameters:
      - name: networkId
        in: path
        description: Network ID
        schema:
          type: string
        required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                rules:
                  type: array
                  items:
                    type: object
                    properties:
                      comment:
                        type: string
                        description: Description of the rule (optional)
                      policy:
                        type: string
                        enum:
                        - allow
                        - deny
                        description: '''allow'' or ''deny'' traffic specified by this rule'
                      protocol:
                        type: string
                        enum:
                        - any
                        - icmp
                        - icmp6
                        - tcp
                        - udp
                        description: The type of protocol (must be 'tcp', 'udp', 'icmp', 'icmp6' or 'any')
                      srcPort:
                        type: string
                        description: Comma-separated list of source port(s) (integer in the range 1-65535), or 'any'
                      srcCidr:
                        type: string
                        description: 'Comma-separated list of source IP address(es) (in IP or CIDR notation), or ''any'' (note: FQDN not supported for source addresses)'
                      destPort:
                        type: string
                        description: Comma-separated list of destination port(s) (integer in the range 1-65535), or 'any'
                      destCidr:
                        type: string
                        description: Comma-separated list of destination IP address(es) (in IP or CIDR notation), fully-qualified domain names (FQDN) or 'any'
                      syslogEnabled:
                        type: boolean
                        description: Log this rule to syslog (true or false, boolean value) - only applicable if a syslog has been configured (optional)
                    required:
                    - policy
                    - protocol
                    - srcCidr
                    - destCidr
                  description: An ordered array of the firewall rules (not including the default rule)
                syslogDefaultRule:
                  type: boolean
                  description: Log the special default rule (boolean value - enable only if you've configured a syslog server) (optional)
              example:
                rules:
                - comment: Allow TCP traffic to subnet with HTTP servers.
                  policy: allow
                  protocol: tcp
                  srcPort: Any
                  srcCidr: Any
                  destPort: '443'
                  destCidr: 192.168.1.0/24
                  syslogEnabled: false
                syslogDefaultRule: true
        required: false
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  rules:
                    type: array
                    items:
                      type: object
                      properties:
                        comment:
                          type: string
                          description: Description of the rule (optional)
                        policy:
                          type: string
                          description: '''allow'' or ''deny'' traffic specified by this rule'
                        protocol:
                          type: string
                          description: The type of protocol (must be 'tcp', 'udp', 'icmp', 'icmp6' or 'any')
                        srcPort:
                          type: string
                          description: Comma-separated list of source port(s) (integer in the range 1-65535), or 'any'
                        srcCidr:
                          type: string
                          description: 'Comma-separated list of source IP address(es) (in IP or CIDR notation), or ''any'' (note: FQDN not supported for source addresses)'
                        destPort:
                          type: string
                          description: Comma-separated list of destination port(s) (integer in the range 1-65535), or 'any'
                        destCidr:
                          type: string
                          description: Comma-separated list of destination IP address(es) (in IP or CIDR notation), fully-qualified domain names (FQDN) or 'any'
                        syslogEnabled:
                          type: boolean
                          description: Log this rule to syslog (true or false, boolean value) - only applicable if a syslog has been configured (optional)
                    description: An ordered array of the firewall rules (not including the default rule)
                  syslogDefaultRule:
                    type: boolean
                    description: Log the special default rule (boolean value - enable only if you've configured a syslog server) (optional)
              example:
                rules:
                - comment: Allow TCP traffic to subnet with HTTP servers.
                  policy: allow
                  protocol: tcp
                  srcPort: Any
                  srcCidr: Any
                  destPort: '443'
                  destCidr: 192.168.1.0/24
                  syslogEnabled: false
                syslogDefaultRule: false
      summary: Update the inbound firewall rules of an MX network
      tags:
      - appliance.configure
  /networks/{networkId}/appliance/firewall/l3FirewallRules:
    get:
      description: Return the L3 firewall rules for an MX network
      operationId: getNetworkApplianceFirewallL3FirewallRules
      parameters:
      - name: networkId
        in: path
        description: Network ID
        schema:
          type: string
        required: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
              example:
                rules:
                - comment: Allow TCP traffic to subnet with HTTP servers.
                  policy: allow
                  protocol: tcp
                  destPort: '443'
                  destCidr: 192.168.1.0/24
                  srcPort: Any
                  srcCidr: Any
                  syslogEnabled: false
      summary: Return the L3 firewall rules for an MX network
      tags:
      - appliance.configure
    put:
      description: Update the L3 firewall rules of an MX network
      operationId: updateNetworkApplianceFirewallL3FirewallRules
      parameters:
      - name: networkId
        in: path
        description: Network ID
        schema:
          type: string
        required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                rules:
                  type: array
                  items:
                    type: object
                    properties:
                      comment:
                        type: string
                        description: Description of the rule (optional)
                      policy:
                        type: string
                        enum:
                        - allow
                        - deny
                        description: '''allow'' or ''deny'' traffic specified by this rule'
                      protocol:
                        type: string
                        enum:
                        - any
                        - icmp
                        - icmp6
                        - tcp
                        - udp
                        description: The type of protocol (must be 'tcp', 'udp', 'icmp', 'icmp6' or 'any')
                      srcPort:
                        type: string
                        description: Comma-separated list of source port(s) (integer in the range 1-65535), or 'any'
                      srcCidr:
                        type: string
                        description: 'Comma-separated list of source IP address(es) (in IP or CIDR notation), or ''any'' (note: FQDN not supported for source addresses)'
                      destPort:
                        type: string
                        description: Comma-separated list of destination port(s) (integer in the range 1-65535), or 'any'
                      destCidr:
                        type: string
                        description: Comma-separated list of destination IP address(es) (in IP or CIDR notation), fully-qualified domain names (FQDN) or 'any'
                      syslogEnabled:
                        type: boolean
                        description: Log this rule to syslog (true or false, boolean value) - only applicable if a syslog has been configured (optional)
                    required:
                    - policy
                    - protocol
                    - srcCidr
                    - destCidr
                  description: An ordered array of the firewall rules (not including the default rule)
                syslogDefaultRule:
                  type: boolean
                  description: Log the special default rule (boolean value - enable only if you've configured a syslog server) (optional)
              example:
                rules:
                - comment: Allow TCP traffic to subnet with HTTP servers.
                  policy: allow
                  protocol: tcp
                  destPort: '443'
                  destCidr: 192.168.1.0/24
                  srcPort: Any
                  srcCidr: Any
                  syslogEnabled: false
        required: false
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
              example:
                rules:
                - comment: Allow TCP traffic to subnet with HTTP servers.
                  policy: allow
                  protocol: tcp
                  destPort: '443'
                  destCidr: 192.168.1.0/24
                  srcPort: Any
                  srcCidr: Any
                  syslogEnabled: false
      summary: Update the L3 firewall rules of an MX network
      tags:
      - appliance.configure
  /networks/{networkId}/appliance/firewall/l7FirewallRules:
    get:
      description: List the MX L7 firewall rules for an MX network
      operationId: getNetworkApplianceFirewallL7FirewallRules
      parameters:
      - name: networkId
        in: path
        description: Network ID
        schema:
          type: string
        required: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
              example:
                rules:
                - policy: deny
                  type: host
                  value: google.com
                - policy: deny
                  type: port
                  value: '23'
                - policy: deny
                  type: ipRange
                  value: 10.11.12.00/24
                - policy: deny
                  type: ipRange
                  value: 10.11.12.00/24:5555
      summary: List the MX L7 firewall rules for an MX network
      tags:
      - appliance.configure
    put:
      description: Update the MX L7 firewall rules for an MX network
      operationId: updateNetworkApplianceFirewallL7FirewallRules
      parameters:
      - name: networkId
        in: path
        description: Network ID
        schema:
          type: string
        required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                rules:
                  type: array
                  items:
                    type: object
                    properties:
                      policy:
                        type: string
                        enum:
                        - deny
                        description: '''Deny'' traffic specified by this rule'
                      type:
                        type: string
                        enum:
                        - application
                        - applicationCategory
                        - host
                        - ipRange
                        - port
                        description: 'Type of the L7 rule. One of: ''application'', ''applicationCategory'', ''host'', ''port'', ''ipRange'''
                      value:
                        type: string
                        description: The 'value' of what you want to block. Format of 'value' varies depending on type of the rule. The application categories and application ids can be retrieved from the the 'MX L7 application categories' endpoint. The countries follow the two-letter ISO 3166-1 alpha-2 format.
                  description: An ordered array of the MX L7 firewall rules
              example:
                rules:
                - policy: deny
                  type: host
                  value: google.com
                - policy: deny
                  type: port
                  value: '23'
                - policy: deny
                  type: ipRange
                  value: 10.11.12.00/24
                - policy: deny
                  type: ipRange
                  value: 10.11.12.00/24:5555
        required: false
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
              example:
                rules:
                - policy: deny
                  type: host
                  value: google.com
                - policy: deny
                  type: port
                  value: '23'
                - policy: deny
                  type: ipRange
                  value: 10.11.12.00/24
                - policy: deny
                  type: ipRange
                  value: 10.11.12.00/24:5555
      summary: Update the MX L7 firewall rules for an MX network
      tags:
      - appliance.configure
  /networks/{networkId}/appliance/firewall/l7FirewallRules/applicationCategories:
    get:
      description: Return the L7 firewall application categories and their associated applications for an MX network
      operationId: getNetworkApplianceFirewallL7FirewallRulesApplicationCategories
      parameters:
      - name: networkId
        in: path
        description: Network ID
        schema:
          type: string
        required: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  applicationCategories:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: The id of the category
                        name:
                          type: string
                          description: The name of the category
                        applications:
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type: string
                                description: The id of the application
                              name:
                                type: string
                                description: The name of the application
                          description: Details of the associated applications
                    description: ' The L7 firewall application categories and their associated applications for an MX network'
              example:
                applicationCategories:
                - id: meraki:layer7/category/24
                  name: Advertising
                  applications:
                  - id: meraki:layer7/application/5
                    name: Advertising.com
      summary: Return the L7 firewall application categories and their associated applications for an MX network
      tags:
      - appliance.configure
  /networks/{networkId}/appliance/firewall/oneToManyNatRules:
    get:
      description: Return the 1:Many NAT mapping rules for an MX network
      operationId: getNetworkApplianceFirewallOneToManyNatRules
      parameters:
      - name: networkId
        in: path
        description: Network ID
        schema:
          type: string
        required: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
              example:
                rules:
                - publicIp: 146.11.11.13
                  uplink: internet1
                  portRules:
                  - name: Rule 1
                    protocol: tcp
                    publicPort: '9443'
                    localIp: 192.168.128.1
                    localPort: '443'
[...]
