openapi: 3.2.0
info:
  title: Speech To Text - Xdroid Upload audio API
  version: 1.0.0
  description: 'Xdroid Speech To Text API provides a seamless audio transcription service.


    ### Key highlights


    - **Sandbox:** Full-fledged capabilities.


    - **Security:** HTTPS, OAuth, Rate limit.


    - **Versioning:** Supports version-less API, version tight. If no version is provided (in header) it defaults to latest version.


    ---


    Source view


    Documentation view


    ---


    KPN Developer


    Getting Started


    ---'
  contact:
    name: API Support Support
    email: api_developer@kpn.com
    url: https://developer.kpn.com/support
  termsOfService: https://developer.kpn.com/legal
servers:
- url: https://api-prd.kpn.com/data/kpn/voiceanalytics
security:
- oauth2: []
tags:
- name: Upload audio
  description: Uploads an audio file and start a new analytics job.
paths:
  /job:
    post:
      tags:
      - Upload audio
      summary: Submits audio files for analyis
      description: 'To create a new transcript use the following recommendations:

        + Accepted container formats:

        - .wav

        - .mp3 / .mp4

        - .opus / .ogg


        + Preferred requirements:

        - Bitrate: 64 Kbit/s per channel (stero recording is supported)

        - Sample rate: 8 KHz

        - Uncompressed files preferred


        + Max audio file size: 150 MB.'
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                config:
                  type: object
                  description: "A JSON object defining the language of the audio file. For example: \n\n`{\"language\":\"en\",\"recording_start\":\"20201119121111\" }` or\n`{\"language\":\"en\",\"recording_start\":\"\" }`\n\nBody parameter | Description\n---------------|----------------------\n`language` | The parameter `language` is required in ISO language code. Supported language codes: </br> Global English: `en` </br> Global Spanish: `es` </br> Dutch: `nl` </br> French: `fr `</br> Example: `{\"language\":\"en\"}`\n`recording_start` | Day and time when the recording starts. Optional </br> Format: `YmdHis`. Example: `20201216081228`\n"
                audio_file:
                  type: string
                  format: binary
                  description: Attach the audio file to be transcribed. Requirements see above.
      responses:
        200:
          $ref: '#/components/responses/ok'
        400:
          $ref: '#/components/responses/bad_request'
        401:
          $ref: '#/components/responses/unauthorized'
        404:
          $ref: '#/components/responses/not_found'
        413:
          $ref: '#/components/responses/request_entity_too_large'
        500:
          $ref: '#/components/responses/server_error'
      operationId: postJob
      x-operation-id-source: derived
components:
  responses:
    bad_request:
      description: Bad request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/error'
    ok:
      description: OK
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/job'
    not_found:
      description: Not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/error'
    request_entity_too_large:
      description: Request entity too large
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/error'
    unauthorized:
      description: Unauthorized
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/error'
    server_error:
      description: Server error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/error'
  schemas:
    error:
      type: object
      properties:
        transactionId:
          type: string
          description: Transaction ID of the the request.
          title: Transaction ID
        status:
          type: string
          description: Status
          title: Status
        name:
          type: string
          description: Error name
          title: Error name
        message:
          type: string
          description: Error message
          title: Error message
        info:
          type: string
          description: Additional information about error.
          title: Info
    job:
      type: object
      properties:
        job_id:
          type: integer
          description: The job_id identifies your request, you should refer to this identifier later.
          example: 17424
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://api-prd.kpn.com/oauth/client_credential/accesstoken?grant_type=client_credentials
          scopes: {}
