openapi: 3.2.0
info:
  description: 'MobileServicesManagement APIs


    ---


    ## Source view


    Documentation view


    ---


    ## KPN Developer


    Getting Started


    ---'
  version: v11
  title: MobileServicesManagement-KPN Rest Hierarchy Controller API
  termsOfService: https://developer.kpn.com/legal
  contact:
    name: API Support
    email: api_developer@kpn.com
    url: https://developer.kpn.com/support
servers:
- url: https://api-prd.kpn.com/mobile/kpn/mobileservices
tags:
- name: rest-hierarchy-controller
  description: Rest Hierarchy Controller
paths:
  /hierarchy/children:
    get:
      tags:
      - rest-hierarchy-controller
      summary: Get immediate children of given parent hierarchy entity
      description: Return all children of given hierarchy entity which user manages.
      operationId: getChildrenUsingGET
      parameters:
      - name: contextId
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: contextIds
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: from
        in: query
        description: Pagination parameter - start from (included). The elements are counted from 0. Default value is 0.
        required: false
        x-example: 0
        schema:
          type: integer
          format: int32
      - name: id
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: includeCustomer
        in: query
        description: 'Information if it should include customer. Default value: false.'
        required: false
        x-example: false
        schema:
          type: boolean
          default: false
      - name: includeGroups
        in: query
        description: 'Information if it should include pure virtual groups. Default value: true.'
        required: false
        x-example: true
        schema:
          type: boolean
          default: true
      - name: operationType
        in: query
        required: false
        schema:
          type: string
          enum:
          - MOVE_CONTRACT
          - MOVE_GROUP
          - ASSIGN_TO_HIERARCHY
          - CREATE_COST_CENTER
          - CREATE_CUSTOM_GROUP
          - REMOVE_GROUP
      - name: pattern
        in: query
        required: false
        schema:
          type: string
      - name: to
        in: query
        description: Pagination parameter - end element (exluded). Default value is 20.
        required: false
        x-example: 20
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PagedResult_VirtualHierarchyItem_'
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Too Many Requests
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Server Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '503':
          description: Service Unavailable
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - OAuth2: []
  /hierarchy/children/cost-center:
    post:
      tags:
      - rest-hierarchy-controller
      summary: Create cost center
      description: 'Create new cost center

        The request is validated. Possible validation errors:

        | HTTP code | Error code | Description |

        |-----------|------------------------------------|--------------------------------------------------------------|

        | `400` | `WRONG_GROUP_TYPE` | Cannot create cost center under this type of group |

        | `400` | `VALUE_NOT_UNIQUE` | `costCenterNumber` field must be unique |

        | `400` | `ONLY_SINGLE_TYPE_ALLOWED_IN_PATH` | Only one cost center can be in path |

        | `400` | `REQUIRE_DEBTOR_IN_PATH` | Cost center requires debtor above it. |

        | `404` | `VIRTUAL_HIERARCHY_ITEM_NOT_FOUND` | Hierarchy group with given `id` can not be found |

        Required privileges (one of the following):


        privileges_un-authorized_orders_creation


        privileges_orders_authorization


        privileges_virtual_hierarchy_management


        privileges_bulk_upload_data_of_end_user'
      operationId: createCostCenterUsingPOST
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CreateGroupResponse'
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Too Many Requests
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Server Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '503':
          description: Service Unavailable
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - OAuth2: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCostCenterRequestParams'
        description: params
        required: true
  /hierarchy/children/move:
    post:
      tags:
      - rest-hierarchy-controller
      summary: Move specified hierarchy items to the chosen location
      description: 'Returns ids and summaries of generated service requests, if any where created.

        Up to 10 items can be moved at the same time

        Wish date is applied only when moving employess between debtors. If part of the items are moved within the same debtor, wish date will be ignored for these.

        Reference number is only supported when moving emplyees or business location items. Otherwise no service requests are created

        The request is validated. Possible validation errors:

        | HTTP code | Error code | Description |

        |-----------|------------------------------------|-----------------------------------------------------------------------|

        | `403` | `ORDERING_IS_BLOCKED_FOR_CUSTOMER` | Current customer is frozen and can not order anything |

        | `404` | `VIRTUAL_HIERARCHY_ITEM_NOT_FOUND` | One of moved hierarchy items or destination location not found |

        | `400` | `OPERATION_NOT_POSSIBLE` | At least one of provided items cannot be moved to chosen destination. |

        | `400` | `WISH_DATE_NOT_SUPPORTED` | Wish date is only supported when moving emplyees between debtor. This must apply to at least one of the moved objects |

        | `400` | `REFERENCE_NUMBER_NOT_SUPPORTED` | Reference number is only supported when moving emplyees or business location items. |

        Required privileges (one of the following):


        privileges_un-authorized_orders_creation


        privileges_orders_authorization


        privileges_virtual_hierarchy_view


        privileges_virtual_hierarchy_management


        privileges_bulk_upload_data_of_end_user'
      operationId: moveHierarchyItemsUsingPOST
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BulkOrderSummary'
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Too Many Requests
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Server Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '503':
          description: Service Unavailable
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - OAuth2: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MoveGroupsParams'
        description: params
        required: true
  /hierarchy/children/operations:
    get:
      tags:
      - rest-hierarchy-controller
      summary: Get operations availability for logged user
      description: 'Return all operations with availability and reason if blocked.

        | Reason | Description |

        |------------------------------------------------|-------------------------------------------------------------------|

        | `NO_REQUIRED_PRIVILEGE` | User doesn''t have required privilege |

        | `NO_ENTITIES_TO_USE` | There is no entity to execute this action on |

        Required privileges (one of the following):


        privileges_un-authorized_orders_creation


        privileges_orders_authorization


        privileges_virtual_hierarchy_view


        privileges_virtual_hierarchy_management


        privileges_bulk_upload_data_of_end_user'
      operationId: getHierarchyOperationsUsingGET
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/HierarchyOperationsAvailability'
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Too Many Requests
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Server Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '503':
          description: Service Unavailable
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - OAuth2: []
  /hierarchy/children/virtual-group:
    post:
      tags:
      - rest-hierarchy-controller
      summary: Create virtual group
      description: 'Create new virtual group

        The request is validated. Possible validation errors:

        | HTTP code | Error code | Description |

        |-----------|------------------------------------|------------------------------------------------------------|

        | `400` | `WRONG_GROUP_TYPE` | Cannot create virtual group as a child of given group type |

        | `404` | `VIRTUAL_HIERARCHY_ITEM_NOT_FOUND` | Hierarchy group with given `id` can not be found |

        Required privileges (one of the following):


        privileges_un-authorized_orders_creation


        privileges_orders_authorization


        privileges_virtual_hierarchy_management


        privileges_bulk_upload_data_of_end_user'
      operationId: createVirtualGroupUsingPOST
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CreateGroupResponse'
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Too Many Requests
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Server Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '503':
          description: Service Unavailable
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - OAuth2: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateVirtualGroupRequestParams'
        description: params
        required: true
  /hierarchy/children/{id}:
    get:
      tags:
      - rest-hierarchy-controller
      summary: Get hierarchy entity details
      description: 'Get details for organisation structure entitity with given `id`.

        Different set of attributes is returned for different entity types. Supported item types are:


        `CUSTOMER`


        `DEBTOR`


        `COST_CENTER`


        `CUSTOM_GROUP`


        `BUSINESS_LOCATION`


        Details for `SUBSCRIBER` are not supported. `subscribers/{id}` should be used instead.


        Possible exceptions:

        | HTTP code | Error code | Description |

        |-----------|------------------------------------|--------------------------------------------------------------|

        | `400` | `WRONG_GROUP_TYPE` | Item of unsupported type |

        | `404` | `VIRTUAL_HIERARCHY_ITEM_NOT_FOUND` | Information for item with the given `id` cannot be found |

        Required privileges (one of the following):


        privileges_un-authorized_orders_creation


        privileges_orders_authorization


        privileges_virtual_hierarchy_view


        privileges_virtual_hierarchy_management


        privileges_bulk_upload_data_of_end_user'
      operationId: getDetailsUsingGET
      parameters:
      - name: id
        in: path
        description: id
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/HierarchyItemDetails'
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Too Many Requests
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Server Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '503':
          description: Service Unavailable
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - OAuth2: []
    post:
      tags:
      - rest-hierarchy-controller
      summary: Update hierarchy entity (cost center, custom group)
      description: 'Change custom group or cost center data

        The request is validated. Possible validation errors:

        | HTTP code | Error code | Description |

        |-----------|------------------------------------|--------------------------------------------------------------|

        | `400` | `WRONG_GROUP_TYPE` | Only custom group and cost center data can be modified |

        | `400` | `VALUE_REQUIRED` | `costCenterNumber` field is required for cost center |

        | `400` | `VALUE_NOT_UNIQUE` | `costCenterNumber` field must be unique within the customer |

        | `404` | `VIRTUAL_HIERARCHY_ITEM_NOT_FOUND` | Hierarchy group with given `id` can not be found |

        Required privileges (one of the following):


        privileges_un-authorized_orders_creation


        privileges_orders_authorization


        privileges_virtual_hierarchy_management


        privileges_bulk_upload_data_of_end_user'
      operationId: updateChildUsingPOST
      parameters:
      - name: id
        in: path
        description: id
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Too Many Requests
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Server Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '503':
          description: Service Unavailable
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - OAuth2: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateChildRequestParams'
        description: params
        required: true
  /hierarchy/children/{id}/operations:
    get:
      tags:
      - rest-hierarchy-controller
      summary: Get operations availability for chosen item
      description: 'Get available operations for organisational hierarchy item with the given `id`.

        Possible operations are:


        `create subscriber`


        `create cost center`


        `create virtual group`


        `edit item`


        `move item`


        `remove item`


        Operations for `SUBSCRIBER` are not supported. `subscribers/{id}/operations` should be used instead.


        Possible exceptions:

        | HTTP code | Error code | Description |

        |-----------|------------------------------------|--------------------------------------------------------------|

        | `400` | `WRONG_GROUP_TYPE` | Item of unsupported type |

        | `404` | `VIRTUAL_HIERARCHY_ITEM_NOT_FOUND` | Information for item with the given `id` cannot be found |

        Required privileges (one of the following):


        privileges_un-authorized_orders_creation


        privileges_orders_authorization


        privileges_virtual_hierarchy_management


        privileges_bulk_upload_data_of_end_user'
      operationId: getItemOperationsUsingGET
      parameters:
      - name: id
        in: path
        description: id
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/HierarchyItemOperationsAvailability'
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Too Many Requests
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Server Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '503':
          description: Service Unavailable
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - OAuth2: []
  /hierarchy/children/{id}/remove:
    post:
      tags:
      - rest-hierarchy-controller
      summary: Remove hierarchy entity (cost center, custom group)
      description: 'Remove custom group or cost center data. The underlying end users and organizational units will be moved to the next highest item in the organizational structure.

        The request is validated. Possible validation errors:

        | HTTP code | Error code | Description |

        |-----------|------------------------------------|--------------------------------------------------------------|

        | `400` | `WRONG_GROUP_TYPE` | Only custom group and cost center data can be modified |

        | `404` | `VIRTUAL_HIERARCHY_ITEM_NOT_FOUND` | Hierarchy group with given `id` can not be found |

        | `400` | `FORBIDDEN_PATH_WHEN_REMOVING` | Entity cannot be removed because that will cause error in items hierarchy. Exception is thrown when path in hierarchy is: ... -> CUSTOM_GROUP -> COST_CENTER -> CUSTOM_GROUP ... -> and user try to remove COST_CENTER. CUSTOM_GROUP cannot be under CUSTOM_GROUP. |

        Required privileges (one of the following):


        privileges_un-authorized_orders_creation


        privileges_orders_authorization


        privileges_virtual_hierarchy_management


        privileges_bulk_upload_data_of_end_user'
      operationId: removeGroupUsingPOST
      parameters:
      - name: id
        in: path
        description: id
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Too Many Requests
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Server Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '503':
          description: Service Unavailable
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - OAuth2: []
components:
  schemas:
    CostCenterDetails:
      type: object
      properties:
        number:
          type: string
      title: CostCenterDetails
    CreateVirtualGroupRequestParams:
      type: object
      properties:
        groupId:
          type: integer
          format: int64
        name:
          type: string
      title: CreateVirtualGroupRequestParams
    HierarchyItemDetails:
      type: object
      properties:
        businessLocation:
          $ref: '#/components/schemas/BusinessLocationDetails'
        costCenter:
          $ref: '#/components/schemas/CostCenterDetails'
        customer:
          $ref: '#/components/schemas/CustomerDetails'
        debtor:
          $ref: '#/components/schemas/DebtorDetails'
        name:
          type: string
        path:
          type: array
          items:
            $ref: '#/components/schemas/VirtualHierarchyItem'
      title: HierarchyItemDetails
    DebtorDetails:
      type: object
      properties:
        activeFrom:
          type: string
          format: date-time
        additionalInvoiceLayuot:
          type: string
          enum:
          - CSV
          - XML
        appleDepId:
          type: string
        billingAddress:
          $ref: '#/components/schemas/LocationAddress'
        inviceFlag:
          type: boolean
        invoiceDistribution:
          type: string
          enum:
          - MAIL
          - EMAIL
          - EINVOICE
        invoiceLanguage:
          type: string
          enum:
          - EN
          - NL
        krnNumber:
          type: string
        primaryAddress:
          $ref: '#/components/schemas/LocationAddress'
        primaryEmail:
          type: string
        samsungKnoxId:
          type: string
      title: DebtorDetails
    CreateCostCenterRequestParams:
      type: object
      properties:
        costCenterNumber:
          type: string
        groupId:
          type: integer
          format: int64
        name:
          type: string
      title: CreateCostCenterRequestParams
    OperationState:
      type: object
      properties:
        blocked:
          type: boolean
        blockingOrders:
          type: array
          items:
            $ref: '#/components/schemas/BlockingOrder'
        reason:
          type: string
      title: OperationState
    LocationAddress:
      type: object
      properties:
        attention:
          type: string
        city:
          type: string
        country:
          type: string
        floor:
          type: string
        houseNumber:
          type: string
        location:
          type: string
        partyName:
          type: string
        poBoxNumber:
          type: string
        postalCode:
          type: string
        room:
          type: string
        street:
          type: string
      title: LocationAddress
    BusinessLocationDetails:
      type: object
      properties:
        activeFrom:
          type: string
          format: date-time
        activeTo:
          type: string
          format: date-time
        contactEmail:
          type: string
        contactName:
          type: string
        contactPhoneNumber:
          type: string
        expectedNumberOfUsers:
          type: integer
          format: int64
        externalAccountNumber:
          type: string
        primaryAddress:
          $ref: '#/components/schemas/LocationAddress'
      title: BusinessLocationDetails
    CreatedOrder:
      type: object
      properties:
        contextName:
          type: string
        id:
          type: integer
          format: int64
        operation:
          type: string
      title: CreatedOrder
    ErrorResponse:
      type: object
      properties:
        transactionId:
          type: string
          description: transaction id of the the request
          title: Transaction ID
        status:
          type: string
          description: Status
          title: Status
        name:
          type: string
          description: Error name
          title: Error name
        message:
          type: string
          description: Error message
          title: Error message
        info:
          type: string
          description: Additional information about error
          title: Info
    HierarchyItemOperationsAvailability:
      type: object
      properties:
        createCostCenter:
          $ref: '#/components/schemas/HierarchyOperationEnabled'
        createSubscriber:
          $ref: '#/components/schemas/HierarchyOperationEnabled'
        createVirtualGroup:
          $ref: '#/components/schemas/HierarchyOperationEnabled'
        move:
          $ref: '#/components/schemas/HierarchyOperationEnabled'
        remove:
          $ref: '#/components/schemas/HierarchyOperationEnabled'
        update:
          $ref: '#/components/schemas/HierarchyOperationEnabled'
      title: HierarchyItemOperationsAvailability
    MoveGroupsParams:
      type: object
      properties:
        destinationGroupId:
          type: integer
          format: int64
        movedGroupIds:
          type: array
          items:
            type: integer
            format: int64
        referenceNumber:
          type: string
        wishDate:
          type: string
          format: date-time
      title: MoveGroupsParams
    BlockingOrder:
      type: object
      properties:
        id:
          type: integer
          format: int64
        kpnReference:
          type: string
        status:
          type: string
          enum:
          - IN_PROGRESS
          - UNAUTHORIZED
          - NEW
          - CLOSED
          - CANCELED
          - REJECTED
          - DRAFT
          - THIRD_PARTY
          - HOLD_CUSTOMER
          - WAITING
        type:
          type: string
          enum:
          - CONTRACTING
          - SERVICE_REQUEST
      title: BlockingOrder
    HierarchyOperationEnabled:
      type: object
      properties:
        enabled:
          type: boolean
        reason:
          type: string
      title: HierarchyOperationEnabled
    BulkOrderSummary:
      type: object
      properties:
        orders:
          type: array
          items:
            $ref: '#/components/schemas/CreatedOrder'
        referenceNumber:
          type: string
      title: BulkOrderSummary
    PagedResult_VirtualHierarchyItem_:
      type: object
      properties:
        result:
          type: array
          description: One page of result
          items:
            $ref: '#/components/schemas/VirtualHierarchyItem'
        total:
          type: integer
          format: int32
          description: Total number of all elements in collection
      title: PagedResult_VirtualHierarchyItem_
      description: Paged list of elements
    CustomerDetails:
      type: object
      properties:
        billingOwner:
          type: string
        billingRetentionPeriod:
          type: string
          enum:
          - '6'
          - '25'
        ckrNumber:
          type: string
        krnNumber:
          type: string
        orderFrozen:
          type: boolean
        orderFrozenFrom:
          type: string
          format: date-time
        orderFrozenTo:
          type: string
          format: date-time
      title: CustomerDetails
    VirtualHierarchyItem:
      type: object
      properties:
        costCenterNumber:
          type: string
        email:
          type: string
        employeeNumber:
          type: string
        firstName:
          type: string
        id:
          type: integer
          format: int64
        lastName:
          type: string
        name:
          type: string
        operation:
          $ref: '#/components/schemas/OperationState'
        path:
          type: array
          items:
            $ref: '#/components/schemas/VirtualHierarchyItem'
        prefix:
          type: string
        type:
          type: string
          enum:
          - CUSTOMER
          - DEBTOR
          - SUBSCRIBER
          - COST_CENTER
          - CUSTOM_GROUP
          - BUSINESS_LOCATION
      title: VirtualHierarchyItem
    UpdateChildRequestParams:
      type: object
      properties:
        costCenterNumber:
          type: string
        name:
          type: string
      title: UpdateChildRequestParams
    HierarchyOperationsAvailability:
      type: object
      properties:
        create:
          $ref: '#/components/schemas/HierarchyOperationEnabled'
        edit:
          $ref: '#/components/schemas/HierarchyOperationEnabled'
        move:
          $ref: '#/components/schemas/HierarchyOperationEnabled'
        remove:
          $ref: '#/components/schemas/HierarchyOperationEnabled'
        view:
          $ref: '#/components/schemas/HierarchyOperationEnabled'
      title: HierarchyOperationsAvailability
    CreateGroupResponse:
      type: object
      properties:
        groupId:
          type: integer
          format: int64
      title: CreateGroupResponse
  securitySchemes:
    OAuth2:
      type: oauth2
      flows:
        clientCredentials:
          scopes: {}
          tokenUrl: https://api-prd.kpn.com/oauth/grip/msm/accesstoken?grant_type=client_credentials
