openapi: 3.2.0
info:
  version: 1.54.0
  title: KPN SD-LAN SD-WAN Network View Wireless.configure API
  description: "The SD-LAN SD-WAN Network View API is a modern REST API based on the OpenAPI specification.\n    \nThe Network View API gives users read rights to retrieve information from the `Network View API` resources. \n    \n- **Note**: By default you have read only access but based on your requirements and contract you can be granted `Manager` access to this API which is more than read only. To request manager access, please contact us at api_developer@kpn.com.\n\n---\n## [Source view](https://app.swaggerhub.com/apis/kpn/kpn-sd_lan_sd_wan_network_view_api/)<br/> [Documentation view](https://app.swaggerhub.com/apis-docs/kpn/kpn-sd_lan_sd_wan_network_view_api/)\n---\n## [KPN Developer](https://developer.kpn.com/)<br/> [Getting Started](https://developer.kpn.com/getting-started)"
servers:
- url: https://api-prd.kpn.com/kpn/meraki
security:
- OAuth2ClientCredentials: []
tags:
- name: wireless.configure
paths:
  /devices/{serial}/wireless/alternateManagementInterface/ipv6:
    put:
      description: Update alternate management interface IPv6 address
      operationId: updateDeviceWirelessAlternateManagementInterfaceIpv6
      parameters:
      - name: serial
        in: path
        description: Serial
        schema:
          type: string
        required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                addresses:
                  type: array
                  items:
                    type: object
                    properties:
                      protocol:
                        type: string
                        enum:
                        - ipv4
                        - ipv6
                        description: The IP protocol used for the address
                      assignmentMode:
                        type: string
                        enum:
                        - dynamic
                        - static
                        description: The type of address assignment. Either static or dynamic.
                      address:
                        type: string
                        description: The IP address configured for the alternate management interface
                      gateway:
                        type: string
                        description: The gateway address configured for the alternate managment interface
                      prefix:
                        type: string
                        description: The IPv6 prefix length of the IPv6 interface. Required if IPv6 object is included.
                      nameservers:
                        type: object
                        properties:
                          addresses:
                            type: array
                            items:
                              type: string
                            description: Up to 2 nameserver addresses to use, ordered in priority from highest to lowest priority.
                        description: The DNS servers settings for this address.
                  description: configured alternate management interface addresses
              example:
                addresses:
                - protocol: ipv6
                  assignmentMode: static
                  address: 2001:db8:3c4d:15::1
                  gateway: fe80:db8:c15:c0:d0c::10ca:1d02
                  prefix: 2001:db8:3c4d:15::/64
                  nameservers:
                    addresses:
                    - 2001:db8:3c4d:15::1
                    - 2001:db8:3c4d:15::1
        required: false
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  addresses:
                    type: array
                    items:
                      type: object
                      properties:
                        protocol:
                          type: string
                          enum:
                          - ipv4
                          - ipv6
                          description: The IP protocol used for the address
                        assignmentMode:
                          type: string
                          enum:
                          - dynamic
                          - static
                          description: The type of address assignment. Either static or dynamic.
                        address:
                          type: string
                          description: The IP address configured for the alternate management interface
                        gateway:
                          type: string
                          description: The gateway address configured for the alternate managment interface
                        prefix:
                          type: string
                          description: The IPv6 prefix of the interface. Required if IPv6 object is included.
                        nameservers:
                          type: object
                          properties:
                            addresses:
                              type: array
                              items:
                                type: string
                              description: Up to 2 nameserver addresses to use, ordered in priority from highest to lowest priority.
                          description: The DNS servers settings for this address.
                    description: configured alternate management interface addresses
              example:
                addresses:
                - protocol: ipv6
                  assignmentMode: static
                  address: 2001:db8:3c4d:15::1
                  gateway: fe80:db8:c15:c0:d0c::10ca:1d02
                  prefix: 2001:db8:3c4d:15::/64
                  nameservers:
                    addresses:
                    - 2001:db8:3c4d:15::1
                    - 2001:db8:3c4d:15::1
      summary: Update alternate management interface IPv6 address
      tags:
      - wireless.configure
  /devices/{serial}/wireless/bluetooth/settings:
    get:
      description: Return the bluetooth settings for a wireless device
      operationId: getDeviceWirelessBluetoothSettings
      parameters:
      - name: serial
        in: path
        description: Serial
        schema:
          type: string
        required: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  uuid:
                    type: string
                    description: Desired UUID of the beacon. If the value is set to null it will reset to Dashboard's automatically generated value.
                  major:
                    type: integer
                    description: Desired major value of the beacon. If the value is set to null it will reset to Dashboard's automatically generated value.
                  minor:
                    type: integer
                    description: Desired minor value of the beacon. If the value is set to null it will reset to Dashboard's automatically generated value.
              example:
                uuid: 00000000-0000-0000-000-000000000000
                major: 13
                minor: 125
      summary: Return the bluetooth settings for a wireless device
      tags:
      - wireless.configure
    put:
      description: Update the bluetooth settings for a wireless device
      operationId: updateDeviceWirelessBluetoothSettings
      parameters:
      - name: serial
        in: path
        description: Serial
        schema:
          type: string
        required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                uuid:
                  type: string
                  description: Desired UUID of the beacon. If the value is set to null it will reset to Dashboard's automatically generated value.
                major:
                  type: integer
                  description: Desired major value of the beacon. If the value is set to null it will reset to Dashboard's automatically generated value.
                minor:
                  type: integer
                  description: Desired minor value of the beacon. If the value is set to null it will reset to Dashboard's automatically generated value.
              example:
                uuid: 00000000-0000-0000-000-000000000000
                major: 13
                minor: 125
        required: false
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  uuid:
                    type: string
                    description: Desired UUID of the beacon. If the value is set to null it will reset to Dashboard's automatically generated value.
                  major:
                    type: integer
                    description: Desired major value of the beacon. If the value is set to null it will reset to Dashboard's automatically generated value.
                  minor:
                    type: integer
                    description: Desired minor value of the beacon. If the value is set to null it will reset to Dashboard's automatically generated value.
              example:
                uuid: 00000000-0000-0000-000-000000000000
                major: 13
                minor: 125
      summary: Update the bluetooth settings for a wireless device
      tags:
      - wireless.configure
  /devices/{serial}/wireless/electronicShelfLabel:
    get:
      description: Return the ESL settings of a device
      operationId: getDeviceWirelessElectronicShelfLabel
      parameters:
      - name: serial
        in: path
        description: Serial
        schema:
          type: string
        required: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  apEslId:
                    type: integer
                    description: An identifier for the device used by the ESL system
                  serial:
                    type: string
                    description: The serial number of the device
                  channel:
                    type: string
                    description: Desired ESL channel for the device, or 'Auto' (case insensitive) to use the recommended channel
                  enabled:
                    type: boolean
                    description: Turn ESL features on and off for this device
                  networkId:
                    type: string
                    description: The identifier for the device's network
                  hostname:
                    type: string
                    description: Hostname of the ESL management service
                  provider:
                    type: string
                    description: The service providing ESL functionality
              example:
                apEslId: 16777216
                serial: Q234-ABCD-5678
                channel: '1'
                enabled: true
                networkId: N_24329156
                hostname: localhost:700
                provider: imagotag
      summary: Return the ESL settings of a device
      tags:
      - wireless.configure
    put:
      description: Update the ESL settings of a device
      operationId: updateDeviceWirelessElectronicShelfLabel
      parameters:
      - name: serial
        in: path
        description: Serial
        schema:
          type: string
        required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                channel:
                  type: string
                  description: Desired ESL channel for the device, or 'Auto' (case insensitive) to use the recommended channel
                enabled:
                  type: boolean
                  description: Turn ESL features on and off for this device
              example:
                channel: '1'
                enabled: true
        required: false
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  apEslId:
                    type: integer
                    description: An identifier for the device used by the ESL system
                  serial:
                    type: string
                    description: The serial number of the device
                  channel:
                    type: string
                    description: Desired ESL channel for the device, or 'Auto' (case insensitive) to use the recommended channel
                  enabled:
                    type: boolean
                    description: Turn ESL features on and off for this device
                  networkId:
                    type: string
                    description: The identifier for the device's network
                  hostname:
                    type: string
                    description: Hostname of the ESL management service
                  provider:
                    type: string
                    description: The service providing ESL functionality
              example:
                apEslId: 16777216
                serial: Q234-ABCD-5678
                channel: '1'
                enabled: true
                networkId: N_24329156
                hostname: localhost:700
                provider: imagotag
      summary: Update the ESL settings of a device
      tags:
      - wireless.configure
  /devices/{serial}/wireless/radio/settings:
    get:
      description: Return the radio settings of a device
      operationId: getDeviceWirelessRadioSettings
      parameters:
      - name: serial
        in: path
        description: Serial
        schema:
          type: string
        required: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
              example:
                serial: Q234-ABCD-5678
                rfProfileId: '1234'
                twoFourGhzSettings:
                  channel: 11
                  targetPower: 21
                fiveGhzSettings:
                  channel: 149
                  channelWidth: 20
                  targetPower: 15
      summary: Return the radio settings of a device
      tags:
      - wireless.configure
    put:
      description: Update the radio settings of a device
      operationId: updateDeviceWirelessRadioSettings
      parameters:
      - name: serial
        in: path
        description: Serial
        schema:
          type: string
        required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                rfProfileId:
                  type: string
                  description: The ID of an RF profile to assign to the device. If the value of this parameter is null, the appropriate basic RF profile (indoor or outdoor) will be assigned to the device. Assigning an RF profile will clear ALL manually configured overrides on the device (channel width, channel, power).
                twoFourGhzSettings:
                  type: object
                  properties:
                    channel:
                      type: integer
                      enum:
                      - 1
                      - 2
                      - 3
                      - 4
                      - 5
                      - 6
                      - 7
                      - 8
                      - 9
                      - 10
                      - 11
                      - 12
                      - 13
                      - 14
                      description: Sets a manual channel for 2.4 GHz. Can be '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13' or '14' or null for using auto channel.
                    targetPower:
                      type: integer
                      description: Set a manual target power for 2.4 GHz (dBm). Enter null for using auto power range.
                  description: Manual radio settings for 2.4 GHz.
                fiveGhzSettings:
                  type: object
                  properties:
                    channel:
                      type: integer
                      enum:
                      - 36
                      - 40
                      - 44
                      - 48
                      - 52
                      - 56
                      - 60
                      - 64
                      - 100
                      - 104
                      - 108
                      - 112
                      - 116
                      - 120
                      - 124
                      - 128
                      - 132
                      - 136
                      - 140
                      - 144
                      - 149
                      - 153
                      - 157
                      - 161
                      - 165
                      - 169
                      - 173
                      - 177
                      description: Sets a manual channel for 5 GHz. Can be '36', '40', '44', '48', '52', '56', '60', '64', '100', '104', '108', '112', '116', '120', '124', '128', '132', '136', '140', '144', '149', '153', '157', '161', '165', '169', '173' or '177' or null for using auto channel.
                    channelWidth:
                      type: integer
                      enum:
                      - 0
                      - 20
                      - 40
                      - 80
                      - 160
                      description: Sets a manual channel for 5 GHz. Can be '0', '20', '40', '80' or '160' or null for using auto channel width.
                    targetPower:
                      type: integer
                      description: Set a manual target power for 5 GHz (dBm). Enter null for using auto power range.
                  description: Manual radio settings for 5 GHz.
              example:
                rfProfileId: '1234'
                twoFourGhzSettings:
                  channel: 11
                  targetPower: 21
                fiveGhzSettings:
                  channel: 149
                  channelWidth: 20
                  targetPower: 15
        required: false
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
              example:
                serial: Q234-ABCD-5678
                rfProfileId: '1234'
                twoFourGhzSettings:
                  channel: 11
                  targetPower: 21
                fiveGhzSettings:
                  channel: 149
                  channelWidth: 20
                  targetPower: 15
      summary: Update the radio settings of a device
      tags:
      - wireless.configure
  /networks/{networkId}/wireless/airMarshal/rules:
    post:
      description: Creates a new rule
      operationId: createNetworkWirelessAirMarshalRule
      parameters:
      - name: networkId
        in: path
        description: Network ID
        schema:
          type: string
        required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                type:
                  type: string
                  enum:
                  - alert
                  - allow
                  - block
                  description: Indicates if this rule will allow, block, or alert.
                match:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - bssid
                      - contains
                      - exact
                      - wildcard
                      description: The type of match.
                    string:
                      type: string
                      description: The string used to match.
                  description: Object describing the rule specification.
              example:
                type: allow
                match:
                  type: bssid
                  string: 00:11:22:33:44:55
              required:
              - type
              - match
        required: true
      responses:
        '201':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  network:
                    type: object
                    properties:
                      id:
                        type: string
                        description: Network ID
                      name:
                        type: string
                        description: Network name
                    description: Network details
                  ruleId:
                    type: string
                    description: Indicates whether or not clients are allowed to       connect to rogue SSIDs by default. (blocked by default)
                  type:
                    type: string
                    description: Indicates whether or not clients are allowed to       connect to rogue SSIDs by default. (blocked by default)
                  updatedAt:
                    type: string
                    format: date-time
                    description: Updated at timestamp
                  createdAt:
                    type: string
                    format: date-time
                    description: Created at timestamp
                  match:
                    type: object
                    properties:
                      string:
                        type: string
                        description: Indicates whether or not clients are allowed to       connect to rogue SSIDs by default. (blocked by default)
                      type:
                        type: string
                        description: Indicates whether or not clients are allowed to       connect to rogue SSIDs by default. (blocked by default)
                    description: Indicates whether or not clients are allowed to       connect to rogue SSIDs by default. (blocked by default)
              example:
                network:
                  id: N_12345
                  name: Network 1
                ruleId: '5239'
                type: allow
                updatedAt: '2023-05-23 12:02:46.298'
                createdAt: '2023-05-23 12:02:46.298'
                match:
                  string: ipsum
                  type: contains
      summary: Creates a new rule
      tags:
      - wireless.configure
  /networks/{networkId}/wireless/airMarshal/rules/{ruleId}:
    put:
      description: Update a rule
      operationId: updateNetworkWirelessAirMarshalRule
      parameters:
      - name: networkId
        in: path
        description: Network ID
        schema:
          type: string
        required: true
      - name: ruleId
        in: path
        description: Rule ID
        schema:
          type: string
        required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                type:
                  type: string
                  enum:
                  - alert
                  - allow
                  - block
                  description: Indicates if this rule will allow, block, or alert.
                match:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - bssid
                      - contains
                      - exact
                      - wildcard
                      description: The type of match.
                    string:
                      type: string
                      description: The string used to match.
                  description: Object describing the rule specification.
              example:
                type: allow
                match:
                  type: bssid
                  string: 00:11:22:33:44:55
        required: false
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  network:
                    type: object
                    properties:
                      id:
                        type: string
                        description: Network ID
                      name:
                        type: string
                        description: Network name
                    description: Network details
                  ruleId:
                    type: string
                    description: Indicates whether or not clients are allowed to       connect to rogue SSIDs by default. (blocked by default)
                  type:
                    type: string
                    description: Indicates whether or not clients are allowed to       connect to rogue SSIDs by default. (blocked by default)
                  updatedAt:
                    type: string
                    format: date-time
                    description: Updated at timestamp
                  createdAt:
                    type: string
                    format: date-time
                    description: Created at timestamp
                  match:
                    type: object
                    properties:
                      string:
                        type: string
                        description: Indicates whether or not clients are allowed to       connect to rogue SSIDs by default. (blocked by default)
                      type:
                        type: string
                        description: Indicates whether or not clients are allowed to       connect to rogue SSIDs by default. (blocked by default)
                    description: Indicates whether or not clients are allowed to       connect to rogue SSIDs by default. (blocked by default)
              example:
                network:
                  id: N_12345
                  name: Network 1
                ruleId: '5239'
                type: allow
                updatedAt: '2023-05-23 12:02:46.298'
                createdAt: '2023-05-23 12:02:46.298'
                match:
                  string: ipsum
                  type: contains
      summary: Update a rule
      tags:
      - wireless.configure
    delete:
      description: Delete an Air Marshal rule.
      operationId: deleteNetworkWirelessAirMarshalRule
      parameters:
      - name: networkId
        in: path
        description: Network ID
        schema:
          type: string
        required: true
      - name: ruleId
        in: path
        description: Rule ID
        schema:
          type: string
        required: true
      responses:
        '204':
          description: Successful operation
      summary: Delete an Air Marshal rule.
      tags:
      - wireless.configure
  /networks/{networkId}/wireless/airMarshal/settings:
    put:
      description: Updates Air Marshal settings.
      operationId: updateNetworkWirelessAirMarshalSettings
      parameters:
      - name: networkId
        in: path
        description: Network ID
        schema:
          type: string
        required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                defaultPolicy:
                  type: string
                  enum:
                  - allow
                  - block
                  description: Allows clients to access rogue networks. Blocked by default.
              example:
                defaultPolicy: allow
              required:
              - defaultPolicy
        required: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  networkId:
                    type: string
                    description: The network ID
                  defaultPolicy:
                    type: string
                    description: Indicates whether or not clients are allowed to       connect to rogue SSIDs. (blocked by default)
              example:
                networkId: N_12345
                defaultPolicy: allow
      summary: Updates Air Marshal settings.
      tags:
      - wireless.configure
  /networks/{networkId}/wireless/alternateManagementInterface:
    get:
      description: Return alternate management interface and devices with IP assigned
      operationId: getNetworkWirelessAlternateManagementInterface
      parameters:
      - name: networkId
        in: path
        description: Network ID
        schema:
          type: string
        required: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
              example:
                enabled: true
                vlanId: 100
                protocols:
                - radius
                - snmp
                - syslog
                - ldap
                accessPoints:
                - serial: Q234-ABCD-5678
                  alternateManagementIp: 1.2.3.4
                  subnetMask: 255.255.255.0
                  gateway: 1.2.3.5
                  dns1: 8.8.8.8
                  dns2: 8.8.4.4
      summary: Return alternate management interface and devices with IP assigned
      tags:
      - wireless.configure
    put:
      description: Update alternate management interface and device static IP
      operationId: updateNetworkWirelessAlternateManagementInterface
      parameters:
      - name: networkId
        in: path
        description: Network ID
        schema:
          type: string
        required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                enabled:
                  type: boolean
                  description: Boolean value to enable or disable alternate management interface
                vlanId:
                  type: integer
                  description: Alternate management interface VLAN, must be between 1 and 4094
                protocols:
                  type: array
                  items:
                    type: string
                    enum:
                    - ldap
                    - radius
                    - snmp
                    - syslog
                  description: 'Can be one or more of the following values: ''radius'', ''snmp'', ''syslog'' or ''ldap'''
                accessPoints:
                  type: array
                  items:
                    type: object
                    properties:
                      serial:
                        type: string
                        description: Serial number of access point to be configured with alternate management IP
                      alternateManagementIp:
                        type: string
                        description: Wireless alternate management interface device IP. Provide an empty string to remove alternate management IP assignment
                      subnetMask:
                        type: string
                        description: Subnet mask must be in IP format
                      gateway:
                        type: string
                        description: Gateway must be in IP format
                      dns1:
                        type: string
                        description: Primary DNS must be in IP format
                      dns2:
                        type: string
                        description: Optional secondary DNS must be in IP format
                    required:
                    - serial
                    - alternateManagementIp
                  description: 'Array of access point serial number and IP assignment. Note: accessPoints IP assignment is not applicable for template networks, in other words, do not put ''accessPoints'' in the body when updating template networks. Also, an empty ''accessPoints'' array will remove all previous static IP assignments'
              example:
                enabled: true
                vlanId: 100
                protocols:
                - radius
                - snmp
                - syslog
                - ldap
                accessPoints:
                - serial: Q234-ABCD-5678
                  alternateManagementIp: 1.2.3.4
                  subnetMask: 255.255.255.0
                  gateway: 1.2.3.5
                  dns1: 8.8.8.8
                  dns2: 8.8.4.4
        required: false
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
              example:
                enabled: true
                vlanId: 100
                protocols:
                - radius
                - snmp
                - syslog
                - ldap
                accessPoints:
                - serial: Q234-ABCD-5678
                  alternateManagementIp: 1.2.3.4
                  subnetMask: 255.255.255.0
                  gateway: 1.2.3.5
                  dns1: 8.8.8.8
                  dns2: 8.8.4.4
      summary: Update alternate management interface and device static IP
      tags:
      - wireless.configure
  /networks/{networkId}/wireless/billing:
    get:
      description: Return the billing settings of this network
      operationId: getNetworkWirelessBilling
      parameters:
      - name: networkId
        in: path
        description: Network ID
        schema:
          type: string
        required: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  currency:
                    type: string
                    description: The currency code of this node group's billing plans
                  plans:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: The id of the pricing plan to update.
                        price:
                          type: number
                          format: float
                          description: The price of the billing plan.
                        bandwidthLimits:
                          type: object
                          properties:
                            limitUp:
                              type: integer
                              description: The maximum upload limit (integer, in Kbps).
                            limitDown:
                              type: integer
                              description: The maximum download limit (integer, in Kbps).
                          description: The uplink bandwidth settings for the pricing plan.
                        timeLimit:
                          type: string
                          description: The time limit of the pricing plan in minutes.
                    description: Array of billing plans in the node group. (Can configure a maximum of 5)
              example:
                currency: USD
                plans:
                - id: '1'
                  price: 5
                  bandwidthLimits:
                    limitUp: 1000
                    limitDown: 1000
                  timeLimit: 1 hour
      summary: Return the billing settings of this network
      tags:
      - wireless.configure
    put:
      description: Update the billing settings
      operationId: updateNetworkWirelessBilling
      parameters:
      - name: networkId
        in: path
        description: Network ID
        schema:
          type: string
        required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                currency:
                  type: string
                  description: The currency code of this node group's billing plans
                plans:
                  type: array
                  items:
                    type: object
                    properties:
                      id:
                        type: string
                        description: The id of the pricing plan to update.
                      price:
                        type: number
                        format: float
                        description: The price of the billing plan.
                      bandwidthLimits:
                        type: object
                        properties:
                          limitUp:
                            type: integer
                            description: The maximum upload limit (integer, in Kbps). null indicates no limit
                          limitDown:
                            type: integer
                            description: The maximum download limit (integer, in Kbps). null indicates no limit
                        description: The uplink bandwidth settings for the pricing plan.
                      timeLimit:
                        type: string
                        enum:
                        - 1 day
                        - 1 hour
                        - 1 week
                        - 30 days
                        description: The time limit of the pricing plan in minutes. Can be '1 hour', '1 day', '1 week', or '30 days'.
                    required:
                    - price
                    - bandwidthLimits
                    - timeLimit
                  description: Array of billing plans in the node group. (Can configure a maximum of 5)
              example:
                currency: USD
                plans:
                - id: '1'
                  price: 5
                  bandwidthLimits:
                    limitUp: 1000000
                    limitDown: 1000000
                  timeLimit: 1 hour
        required: false
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  currency:
                    type: string
                    description: The currency code of this node group's billing plans
                  plans:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: The id of the pricing plan to update.
                        price:
                          type: number
                          format: float
                          description: The price of the billing plan.
                        bandwidthLimits:
                          type: object
                          properties:
                            limitUp:
                              type: integer
                              description: The maximum upload limit (integer, in Kbps).
                            limitDown:
                              type: integer
                              description: The maximum download limit (integer, in Kbps).
                          description: The uplink bandwidth settings for the pricing plan.
                        timeLimit:
                          type: string
                          description: The time limit of the pricing plan in minutes.
                    description: Array of billing plans in the node group. (Can configure a maximum of 5)
              example:
                currency: USD
                plans:
                - id: '1'
                  price: 5
                  bandwidthLimits:
                    limitUp: 1000
                    limitDown: 1000
                  timeLimit: 1 hour
      summary: Update the billing settings
      tags:
      - wireless.configure
  /networks/{networkId}/wireless/bluetooth/settings:
    get:
      description: Return the Bluetooth settings for a network. <a href="https://documentation.meraki.com/MR/Bluetooth/Bluetooth_Low_Energy_(BLE)">Bluetooth settings</a> must be enabled on the network.
      operationId: getNetworkWirelessBluetoothSettings
      parameters:
      - name: networkId
        in: path
        description: Network ID
        schema:
          type: string
        required: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  scanningEnabled:
                    type: boolean
                    description: Whether APs will scan for Bluetooth enabled clients.
                  advertisingEnabled:
                    type: boolean
                    description: Whether APs will advertise beacons.
                  uuid:
                    type: string
                    description: The UUID to be used in the beacon identifier.
                  majorMinorAssignmentMode:
                    type: string
                    description: The way major and minor number should be assigned to nodes in the network. ('Unique', 'Non-unique')
                  major:
                    type: integer
                    description: The major number to be used in the beacon identifier. Only valid in 'Non-unique' mode.
                  minor:
                    type: integer
                    description: The minor number to be used in the beacon identifier. Only valid in 'Non-unique' mode.
                  eslEnabled:
                    type: boolean
                    description: Whether ESL is enabled on this network.
              example:
                scanningEnabled: true
                advertisingEnabled: true
                uuid: 00000000-0000-0000-000-000000000000
                majorMinorAssignmentMode: Non-unique
                major: 1
                minor: 1
                eslEnabled: true
      summary: Return the Bluetooth settings for a network. <a href="https://documentation.meraki.com/MR/Bluetooth/Bluetooth_Low_Energy_(BLE)">Bluetooth settings</a> must be enabled on the network.
      tags:
      - wireless.configure
    put:
      description: Update the Bluetooth settings for a network. See the docs page for <a href="https://documentation.meraki.com/MR/Bluetooth/Bluetooth_Low_Energy_(BLE)">Bluetooth settings</a>.
      operationId: updateNetworkWirelessBluetoothSettings
      parameters:
      - name: networkId
        in: path
        description: Network ID
        schema:
          type: string
        required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                scanningEnabled:
                  type: boolean
                  description: Whether APs will scan for Bluetooth enabled clients.
                advertisingEnabled:
                  type: boolean
                  description: Whether APs will advertise beacons.
                uuid:
                  type: string
                  description: The UUID to be used in the beacon identifier.
                majorMinorAssignmentMode:
                  type: string
                  enum:
                  - Non-unique
                  - Unique
                  description: The way major and minor number should be assigned to nodes in the network. ('Unique', 'Non-unique')
                major:
                  type: integer
                  description: The major number to be used in the beacon identifier. Only valid in 'Non-unique' mode.
                minor:
                  type: integer
                  description: The minor number to be used in the beacon identifier. Only valid in 'Non-unique' mode.
              example:
                scanningEnabled: true
                advertisingEnabled: true
                uuid: 00000000-0000-0000-000-000000000000
                majorMinorAssignmentMode: Non-unique
                major: 1
                minor: 1
        required: false
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  scanningEnabled:
                    type: boolean
                    description: Whether APs will scan for Bluetooth enabled clients.
                  advertisingEnabled:
                    type: boolean
                    description: Whether APs will advertise beacons.
                  uuid:
                    type: string
                    description: The UUID to be used in the beacon identifier.
                  majorMinorAssignmentMode:
                    type: string
                    description: The way major and minor number should be assigned to nodes in the network. ('Unique', 'Non-unique')
                  major:
                    type: integer
                    description: The major number to be used in the beacon identifier. Only valid in 'Non-unique' mode.
                  minor:
                    type: integer
                    description: The minor number to be used in the beacon identifier. Only valid in 'Non-unique' mode.
                  eslEnabled:
                    type: boolean
                    description: Whether ESL is enabled on this network.
              example:
                scanningEnabled: true
                advertisingEnabled: true
                uuid: 00000000-0000-0000-000-000000000000
                majorMinorAssignmentMode: Non-unique
                major: 1
                minor: 1
                eslEnabled: true
      summary: Update the Bluetooth settings for a network
      tags:
      - wireless.configure
  /networks/{networkId}/wireless/electronicShelfLabel:
    get:
      description: Return the ESL settings of a wireless network
      operationId: getNetworkWirelessElectronicShelfLabel
      parameters:
      - name: networkId
        in: path
        description: Network ID
        schema:
          type: string
        required: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  hostname:
                    type: string
                    description: Desired ESL hostname of the network
                  enabled:
                    type: boolean
                    description: Turn ESL features on and off for this network
              example:
                hostname: N_24329156
                enabled: true
      summary: Return the ESL settings of a wireless network
      tags:
      - wireless.configure
    put:
      description: Update the ESL settings of a wireless network
      operationId: updateNetworkWirelessElectronicShelfLabel
      parameters:
      - name: networkId
        in: path
        description: Network ID
        schema:
          type: string
        required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                hostname:
                  type: string
                  description: Desired ESL hostname of the network
                enabled:
                  type: boolean
                  description: Turn ESL features on and off for this network
              example:
                hostname: N_24329156
                enabled: true
        required: false
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  hostname:
                    type: string
                    description: Desired ESL hostname of the network
                  enabled:
                    type: boolean
                    description: Turn ESL features on and off for this network
              example:
                hostname: N_24329156
                enabled: true
      summary: Update the ESL settings of a wireless network
      tags:
      - wireless.configure
  /networks/{networkId}/wireless/electronicShelfLabel/configuredDevices:
    get:
      description: Get a list of all ESL eligible devices of a network
      operationId: getNetworkWirelessElectronicShelfLabelConfiguredDevices
      parameters:
      - name: networkId
        in: path
        description: Network ID
        schema:
          type: string
        required: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    hostname:
                      type: string
                      description: Desired ESL hostname of the network
                    enabled:
                      type: boolean
                      description: Turn ESL features on and off for this network
              example:
              - hostname: N_24329156
                enabled: true
      summary: Get a list of all ESL eligible devices of a network
      tags:
      - wireless.configure
  /networks/{networkId}/wireless/ethernet/ports/profiles:
    get:
      description: List the AP port profiles for this network
      operationId: getNetworkWirelessEthernetPortsProfiles
      parameters:
      - name: networkId
        in: path
        description: Network ID
        schema:
          type: string
        required: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    profileId:
                      type: string
                      description: AP port profile ID
                    name:
                      type: string
                      description: AP port profile name
                    isDefault:
                      type: boolean
                      description: Is default profile
                    ports:
                      type: array
                      items:
                        type: object
                        properties:
                          name:
                            type: string
                            description: Name
                          number:
                            type: integer
                            description: Number
                          enabled:
                            type: boolean
                            description: Enabled
                          ssid:
                            type: integer
                            description: Ssid number
                          pskGroupId:
                            type: string
                            description: PSK Group number
                      description: Ports config
                    usbPorts:
                      type: array
                      items:
                        type: object
                        properties:
                          name:
                            type: string
                            description: Name
                          enabled:
                            type: boolean
                            description: Enabled
                          ssid:
                            type: integer
                            description: Ssid number
                      description: Usb ports config
              example:
              - profileId: '1001'
                name: Ap Port Profile Name
                isDefault: false
                ports:
                - name: port 1
                  number: 1
                  enabled: true
                  ssid: 1
                  pskGroupId: '100'
                usbPorts:
                - name: usb port
                  enabled: true
                  ssid: 5
      summary: List the AP port profiles for this network
      tags:
      - wireless.configure
    post:
      description: Create an AP port profile
      operationId: createNetworkWirelessEthernetPortsProfile
      parameters:
      - name: networkId
        in: path
        description: Network ID
        schema:
          type: string
        required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: AP port profile name
                ports:
                  type: array
                  items:
                    type: object
                    properties:
                      name:
                        type: string
                        description: AP port name
                      enabled:
                        type: boolean
                        description: AP port enabled
                      ssid:
                        type: integer
                        description: AP port ssid number
                      pskGroupId:
                        type: string
                        description: AP port PSK Group ID
                    required:
                    - name
                  description: AP ports configuration
                usbPorts:
                  type: array
                  items:
                    type: object
                    properties:
                      name:
                        type: string
                        description: AP usb port name
                      enabled:
                        type: boolean
                        description: AP usb port enabled
                      ssid:
                        type: integer
                        description: AP usb port ssid number
                    required:
                    - name
                  description: AP usb ports configuration
              example:
                name: name
                ports:
                - name: port
                  enabled: true
                  ssid: 1
                  pskGroupId: '2'
                usbPorts:
                - name: usb port
                  enabled: true
                  ssid: 2
              required:
              - name
              - ports
        required: true
      responses:
        '201':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  profileId:
                    type: string
                    description: AP port profile ID
                  name:
                    type: string
                    description: AP port profile name
                  isDefault:
                    type: boolean
                    description: Is default profile
                  ports:
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                          description: Name
                        number:
                          type: integer
                          description: Number
                        enabled:
                          type: boolean
                          description: Enabled
                        ssid:
                          type: integer
                          description: Ssid number
                        pskGroupId:
                          type: string
                          description: PSK Group number
                    description: Ports config
                  usbPorts:
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                          description: Name
                        enabled:
                          type: boolean
                          description: Enabled
                        ssid:
                          type: integer
                          description: Ssid number
                    description: Usb ports config
              example:
                profileId: '1001'
                name: Ap Port Profile Name
                isDefault: false
                ports:
                - name: port 1
                  number: 1
                  enabled: true
                  ssid: 1
                  pskGroupId: '100'
                usbPorts:
                - name: usb port
                  enabled: true
                  ssid: 5
      summary: Create an AP port profile
      tags:
      - wireless.configure
  /networks/{networkId}/wireless/ethernet/ports/profiles/assign:
    post:
      description: Assign AP port profile to list of APs
      operationId: assignNetworkWirelessEthernetPortsProfiles
      parameters:
      - name: networkId
        in: path
        description: Network ID
        schema:
          type: string
        required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                serials:
                  type: array
                  items:
                    type: string
                  description: List of AP serials
                profileId:
                  type: string
                  description: AP profile ID
              example:
                serials:
                - Q234-ABCD-0001
                - Q234-ABCD-0002
                - Q234-ABCD-0003
                profileId: '1001'
              required:
              - serials
              - profileId
        required: true
      responses:
        '201':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  serials:
                    type: array
                    items:
                      type: string
                    description: List of updated AP serials
                  profileId:
                    type: string
                    description: AP profile ID
              example:
                serials:
                - Q234-ABCD-0001
                - Q234-ABCD-0002
                - Q234-ABCD-0003
                profileId: '1001'
      summary: Assign AP port profile to list of APs
      tags:
      - wireless.configure
  /networks/{networkId}/wireless/ethernet/ports/profiles/setDefault:
    post:
      description: Set the AP port profile to be default for this network
      operationId: setNetworkWirelessEthernetPortsProfilesDefault
      parameters:
      - name: networkId
        in: path
        description: Network ID
        schema:
          type: string
        required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                profileId:
                  type: string
                  description: AP profile ID
              example:
                profileId: '1001'
              required:
              - profileId
        required: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  profileId:
                    type: string
                    description: AP profile ID
              example:
                profileId: '1001'
      summary: Set the AP port profile to be default for this network
      tags:
      - wireless.configure
  /networks/{networkId}/wireless/ethernet/ports/profiles/{profileId}:
    get:
      description: Show the AP port profile by ID for this network
      operationId: getNetworkWirelessEthernetPortsProfile
      parameters:
      - name: networkId
        in: path
        description: Network ID
        schema:
          type: string
        required: true
      - name: profileId
        in: path
        description: Profile ID
        schema:
          type: string
        required: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  profileId:
                    type: string
                    description: AP port profile ID
                  name:
                    type: string
                    description: AP port profile name
                  isDefault:
                    type: boolean
                    description: Is default profile
                  ports:
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                          description: Name
                        number:
                          type: integer
                          description: Number
                        enabled:
                          type: boolean
                          description: Enabled
                        ssid:
                          type: integer
                          description: Ssid number
                        pskGroupId:
                          type: string
                          description: PSK Group number
                    description: Ports config
                  usbPorts:
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                          description: Name
                        enabled:
                          type: boolean
                          description: Enabled
                        ssid:
                          type: integer
                          description: Ssid number
                    description: Usb ports config
              example:
                profileId: '1001'
                name: Ap Port Profile Name
                isDefault: false
                ports:
                - name: port 1
                  number: 1
                  enabled: true
                  ssid: 1
                  pskGroupId: '100'
                usbPorts:
                - name: usb port
                  enabled: true
                  ssid: 5
      summary: Show the AP port profile by ID for this network
      tags:
      - wireless.configure
    put:
      description: Update the AP port profile by ID for this network
      operationId: updateNetworkWirelessEthernetPortsProfile
      parameters:
      - name: networkId
        in: path
        description: Network ID
        schema:
          type: string
        required: true
      - name: profileId
        in: path
        description: Profile ID
        schema:
          type: string
        required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: AP port profile name
                ports:
                  type: array
                  items:
                    type: object
                    properties:
                      name:
                        type: string
                        description: AP port name
                      enabled:
                        type: boolean
                        description: AP port enabled
                      ssid:
                        type: integer
                        description: AP port ssid number
                      pskGroupId:
                        type: string
                        description: AP port PSK Group number
                    required:
                    - name
                  description: AP ports configuration
                usbPorts:
                  type: array
                  items:
                    type: object
                    properties:
                      name:
                        type: string
                        description: AP usb port name
                      enabled:
                        type: boolean
                        description: AP usb port enabled
                      ssid:
                        type: integer
                        description: AP usb port ssid number
                    required:
                    - name
                  description: AP usb ports configuration
              example: {}
        required: false
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  profileId:
                    type: string
                    description: AP port profile ID
                  name:
                    type: string
                    description: AP port profile name
                  isDefault:
                    type: boolean
                    description: Is default profile
                  ports:
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                          description: Name
                        number:
                          type: integer
                          description: Number
                        enabled:
                          type: boolean
                          description: Enabled
                        ssid:
                          type: integer
                          description: Ssid number
                        pskGroupId:
                          type: string
                          description: PSK Group number
                    description: Ports config
                  usbPorts:
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                          description: Name
                        enabled:
                          type: boolean
                          description: Enabled
                        ssid:
                          type: integer
                          description: Ssid number
                    description: Usb ports config
              example:
                profileId: '1001'
                name: Ap Port Profile Name
                isDefault: false
                ports:
                - name: port 1
                  number: 1
                  enabled: true
                  ssid: 1
                  pskGroupId: '100'
                usbPorts:
                - name: usb port
                  enabled: true
                  ssid: 5
      summary: Update the AP port profile by ID for this network
      tags:
      - wireless.configure
    delete:
      description: Delete an AP port profile
      operationId: deleteNetworkWirelessEthernetPortsProfile
      parameters:
      - name: networkId
        in: path
        description: Network ID
        schema:
          type: string
        required: true
      - name: profileId
        in: path
        description: Profile ID
        schema:
          type: string
        required: true
      responses:
        '204':
          description: Successful operation
      summary: Delete an AP port profile
      tags:
      - wireless.configure
  /networks/{networkId}/wireless/rfProfiles:
    get:
      description: List RF profiles for this network
      operationId: getNetworkWirelessRfProfiles
      parameters:
      - name: networkId
        in: path
        description: Network ID
        schema:
          type: string
        required: true
      - name: includeTemplateProfiles
        in: query
        description: If the network is bound to a template, this parameter controls whether or not the non-basic RF profiles defined on the template should be included in the response alongside the non-basic profiles defined on the bound network. Defaults to false.
        schema:
          type: boolean
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: The name of the new profile. Must be unique.
                  networkId:
                    type: string
                    description: The network ID of the RF Profile
                  name:
                    type: string
                    description: The name of the new profile. Must be unique. This param is required on creation.
                  clientBalancingEnabled:
                    type: boolean
                    description: Steers client to best available access point. Can be either true or false. Defaults to true.
                  minBitrateType:
                    type: string
                    description: Minimum bitrate can be set to either 'band' or 'ssid'. Defaults to band.
                  bandSelectionType:
                    type: string
                    description: Band selection can be set to either 'ssid' or 'ap'. This param is required on creation.
                  apBandSettings:
                    type: object
                    properties:
                      bandOperationMode:
                        type: string
                        description: Choice between 'dual', '2.4ghz', '5ghz', '6ghz' or 'multi'. Defaults to dual.
                      bands:
                        type: object
                        properties:
                          enabled:
                            type: array
                            items:
                              type: string
                            description: List of enabled bands. Can include ["2.4", "5", "6", "disabled"]
                        description: Settings related to all bands
                      bandSteeringEnabled:
                        type: boolean
                        description: Steers client to most open band. Can be either true or false. Defaults to true.
                    description: Settings that will be enabled if selectionType is set to 'ap'.
                  twoFourGhzSettings:
                    type: object
                    properties:
                      maxPower:
                        type: integer
                        description: Sets max power (dBm) of 2.4Ghz band. Can be integer between 2 and 30. Defaults to 30.
                      minPower:
                        type: integer
                        description: Sets min power (dBm) of 2.4Ghz band. Can be integer between 2 and 30. Defaults to 5.
                      minBitrate:
                        type: number
                        format: float
                        description: Sets min bitrate (Mbps) of 2.4Ghz band. Can be one of '1', '2', '5.5', '6', '9', '11', '12', '18', '24', '36', '48' or '54'. Defaults to 11.
                      validAutoChannels:
                        type: array
                        items:
                          type: integer
                        description: Sets valid auto channels for 2.4Ghz band. Can be one of '1', '6' or '11'. Defaults to [1, 6, 11].
                      axEnabled:
                        type: boolean
                        description: Determines whether ax radio on 2.4Ghz band is on or off. Can be either true or false. If false, we highly recommend disabling band steering. Defaults to true.
                      rxsop:
                        type: integer
                        description: The RX-SOP level controls the sensitivity of the radio. It is strongly recommended to use RX-SOP only after consulting a wireless expert. RX-SOP can be configured in the range of -65 to -95 (dBm). A value of null will reset this to the default.
                    description: Settings related to 2.4Ghz band
                  fiveGhzSettings:
                    type: object
                    properties:
                      maxPower:
                        type: integer
                        description: Sets max power (dBm) of 5Ghz band. Can be integer between 2 and 30. Defaults to 30.
                      minPower:
                        type: integer
                        description: Sets min power (dBm) of 5Ghz band. Can be integer between 2 and 30. Defaults to 8.
                      minBitrate:
                        type: integer
                        description: Sets min bitrate (Mbps) of 5Ghz band. Can be one of '6', '9', '12', '18', '24', '36', '48' or '54'. Defaults to 12.
                      validAutoChannels:
                        type: array
                        items:
                          type: integer
                        description: Sets valid auto channels for 5Ghz band. Can be one of '36', '40', '44', '48', '52', '56', '60', '64', '100', '104', '108', '112', '116', '120', '124', '128', '132', '136', '140', '144', '149', '153', '157', '161' or '165'.Defaults to [36, 40, 44, 48, 52, 56, 60, 64, 100, 104, 108, 112, 116, 120, 124, 128, 132, 136, 140, 144, 149, 153, 157, 161, 165].
                      channelWidth:
                        type: string
                        description: Sets channel width (MHz) for 5Ghz band. Can be one of 'auto', '20', '40' or '80'. Defaults to auto.
                      rxsop:
                        type: integer
                        description: The RX-SOP level controls the sensitivity of the radio. It is strongly recommended to use RX-SOP only after consulting a wireless expert. RX-SOP can be configured in the range of -65 to -95 (dBm). A value of null will reset this to the default.
                    description: Settings related to 5Ghz band
                  sixGhzSettings:
                    type: object
                    properties:
                      maxPower:
                        type: integer
                        description: Sets max power (dBm) of 6Ghz band. Can be integer between 2 and 30. Defaults to 30.
                      minPower:
                        type: integer
                        description: Sets min power (dBm) of 6Ghz band. Can be integer between 2 and 30. Defaults to 8.
                      minBitrate:
                        type: integer
                        description: Sets min bitrate (Mbps) of 6Ghz band. Can be one of '6', '9', '12', '18', '24', '36', '48' or '54'. Defaults to 12.
                      validAutoChannels:
                        type: array
                        items:
                          type: integer
                        description: Sets valid auto channels for 6Ghz band. Can be one of '1', '5', '9', '13', '17', '21', '25', '29', '33', '37', '41', '45', '49', '53', '57', '61', '65', '69', '73', '77', '81', '85', '89', '93', '97', '101', '105', '109', '113', '117', '121', '125', '129', '133', '137', '141', '145', '149', '153', '157', '161', '165', '169', '173', '177', '181', '185', '189', '193', '197', '201', '205', '209', '213', '217', '221', '225', '229' or '233'. Defaults to auto.
                      channelWidth:
                        type: string
                        description: Sets channel width (MHz) for 6Ghz band. Can be one of '0', '20', '40', '80' or '160'. Defaults to auto.
                      rxsop:
                        type: integer
                        description: The RX-SOP level controls the sensitivity of the radio. It is strongly recommended to use RX-SOP only after consulting a wireless expert. RX-SOP can be configured in the range of -65 to -95 (dBm). A value of null will reset this to the default.
                    description: Settings related to 6Ghz band. Only applicable to networks with 6Ghz capable APs
                  transmission:
                    type: object
                    properties:
                      enabled:
                        type: boolean
                        description: Toggle for radio transmission. When false, radios will not transmit at all.
                    description: Settings related to radio transmission.
                  perSsidSettings:
                    type: object
                    properties:
                      '0':
                        type: object
                        properties:
                          name:
                            type: string
                            description: Name of SSID
                          minBitrate:
                            type: integer
                            description: Sets min bitrate (Mbps) of this SSID. Can be one of '1', '2', '5.5', '6', '9', '11', '12', '18', '24', '36', '48' or '54'.
                          bandOperationMode:
                            type: string
                            enum:
                            - 2.4ghz
                            - 5ghz
                            - 6ghz
                            - dual
                            - multi
                            description: Choice between 'dual', '2.4ghz', '5ghz', '6ghz' or 'multi'.
                          bands:
                            type: object
                            properties:
                              enabled:
                                type: array
                                items:
                                  type: string
                                description: List of enabled bands. Can include ["2.4", "5", "6", "disabled"]
                            description: Settings related to all bands
                          bandSteeringEnabled:
                            type: boolean
                            description: Steers client to most open band between 2.4 GHz and 5 GHz. Can be either true or false.
                        description: Settings for SSID 0
                      '1':
                        type: object
                        properties:
                          name:
                            type: string
                            description: Name of SSID
                          minBitrate:
                            type: integer
                            description: Sets min bitrate (Mbps) of this SSID. Can be one of '1', '2', '5.5', '6', '9', '11', '12', '18', '24', '36', '48' or '54'.
                          bandOperationMode:
                            type: string
                            enum:
                            - 2.4ghz
                            - 5ghz
                            - 6ghz
                            - dual
                            - multi
                            description: Choice between 'dual', '2.4ghz', '5ghz', '6ghz' or 'multi'.
                          bands:
                            type: object
                            properties:
                              enabled:
                                type: array
                                items:
                                  type: string
                                description: List of enabled bands. Can include ["2.4", "5", "6", "disabled"]
                            description: Settings related to all bands
                          bandSteeringEnabled:
                            type: boolean
                            description: Steers client to most open band between 2.4 GHz and 5 GHz. Can be either true or false.
                        description: Settings for SSID 1
                      '2':
                        type: object
                        properties:
                          name:
                            type: string
                            description: Name of SSID
                          minBitrate:
                            type: integer
                            description: Sets min bitrate (Mbps) of this SSID. Can be one of '1', '2', '5.5', '6', '9', '11', '12', '18', '24', '36', '48' or '54'.
                          bandOperationMode:
                            type: string
                            enum:
                            - 2.4ghz
                            - 5ghz
                            - 6ghz
                            - dual
                            - multi
                            description: Choice between 'dual', '2.4ghz', '5ghz', '6ghz' or 'multi'.
                          bands:
                            type: object
                            properties:
                              enabled:
                                type: array
                                items:
                                  type: string
                                description: List of enabled bands. Can include ["2.4", "5", "6", "disabled"]
                            description: Settings related to all bands
                          bandSteeringEnabled:
                            type: boolean
                            description: Steers client to most open band between 2.4 GHz and 5 GHz. Can be either true or false.
                        description: Settings for SSID 2
                      '3':
                        type: object
                        properties:
                          name:
                            type: string
                            description: Name of SSID
                          minBitrate:
                            type: integer
                            description: Sets min bitrate (Mbps) of this SSID. Can be one of '1', '2', '5.5', '6', '9', '11', '12', '18', '24', '36', '48' or '54'.
                          bandOperationMode:
                            type: string
                            enum:
                            - 2.4ghz
                            - 5ghz
                            - 6ghz
                            - dual
                            - multi
                            description: Choice between 'dual', '2.4ghz', '5ghz', '6ghz' or 'multi'.
                          bands:
                            type: object
                            properties:
                              enabled:
                                type: array
                                items:
                                  type: string
                                description: List of enabled bands. Can include ["2.4", "5", "6", "disabled"]
                            description: Settings related to all bands
                          bandSteeringEnabled:
                            type: boolean
                            description: Steers client to most open band between 2.4 GHz and 5 GHz. Can be either true or false.
                        description: Settings for SSID 3
                      '4':
                        type: object
                        properties:
                          name:
                            type: string
                            description: Name of SSID
                          minBitrate:
                            type: integer
                            description: Sets min bitrate (Mbps) of this SSID. Can be one of '1', '2', '5.5', '6', '9', '11', '12', '18', '24', '36', '48' or '54'.
                          bandOperationMode:
                            type: string
                            enum:
                            - 2.4ghz
                            - 5ghz
                            - 6ghz
                            - dual
                            - multi
                            description: Choice between 'dual', '2.4ghz', '5ghz', '6ghz' or 'multi'.
                          bands:
                            type: object
                            properties:
                              enabled:
                                type: array
                                items:
                                  type: string
                                description: List of enabled bands. Can include ["2.4", "5", "6", "disabled"]
                            description: Settings related to all bands
                          bandSteeringEnabled:
                            type: boolean
                            description: Steers client to most open band between 2.4 GHz and 5 GHz. Can be either true or false.
                        description: Settings for SSID 4
                      '5':
                        type: object
                        properties:
                          name:
                            type: string
                            description: Name of SSID
                          minBitrate:
                            type: integer
                            description: Sets min bitrate (Mbps) of this SSID. Can be one of '1', '2', '5.5', '6', '9', '11', '12', '18', '24', '36', '48' or '54'.
                          bandOperationMode:
                            type: string
                            enum:
                            - 2.4ghz
                            - 5ghz
                            - 6ghz
                            - dual
                            - multi
                            description: Choice between 'dual', '2.4ghz', '5ghz', '6ghz' or 'multi'.
                          bands:
                            type: object
                            properties:
                              enabled:
                                type: array
                                items:
                                  type: string
                                description: List of enabled bands. Can include ["2.4", "5", "6", "disabled"]
                            description: Settings related to all bands
                          bandSteeringEnabled:
                            type: boolean
                            description: Steers client to most open band between 2.4 GHz and 5 GHz. Can be either true or false.
                        description: Settings for SSID 5
                      '6':
                        type: object
                        properties:
                          name:
                            type: string
                            description: Name of SSID
                          minBitrate:
                            type: integer
                            description: Sets min bitrate (Mbps) of this SSID. Can be one of '1', '2', '5.5', '6', '9', '11', '12', '18', '24', '36', '48' or '54'.
                          bandOperationMode:
                            type: string
                            enum:
                            - 2.4ghz
                            - 5ghz
                            - 6ghz
                            - dual
                            - multi
                            description: Choice between 'dual', '2.4ghz', '5ghz', '6ghz' or 'multi'.
                          bands:
                            type: object
                            properties:
                              enabled:
                                type: array
                                items:
                                  type: string
                                description: List of enabled bands. Can include ["2.4", "5", "6", "disabled"]
                            description: Settings related to all bands
                          bandSteeringEnabled:
                            type: boolean
                            description: Steers client to most open band between 2.4 GHz and 5 GHz. Can be either true or false.
                        description: Settings for SSID 6
                      '7':
                        type: object
                        properties:
                          name:
                            type: string
                            description: Name of SSID
                          minBitrate:
                            type: integer
                            description: Sets min bitrate (Mbps) of this SSID. Can be one of '1', '2', '5.5', '6', '9', '11', '12', '18', '24', '36', '48' or '54'.
                          bandOperationMode:
                            type: string
                            enum:
                            - 2.4ghz
                            - 5ghz
                            - 6ghz
                            - dual
                            - multi
                            description: Choice between 'dual', '2.4ghz', '5ghz', '6ghz' or 'multi'.
                          bands:
                            type: object
                            properties:
                              enabled:
                                type: array
                                items:
                                  type: string
                                description: List of enabled bands. Can include ["2.4", "5", "6", "disabled"]
                            description: Settings related to all bands
                          bandSteeringEnabled:
                            type: boolean
                            description: Steers client to most open band between 2.4 GHz and 5 GHz. Can be either true or false.
                        description: Settings for SSID 7
                      '8':
                        type: object
                        properties:
                          name:
                            type: string
                            description: Name of SSID
                          minBitrate:
                            type: integer
                            description: Sets min bitrate (Mbps) of this SSID. Can be one of '1', '2', '5.5', '6', '9', '11', '12', '18', '24', '36', '48' or '54'.
                          bandOperationMode:
                            type: string
                            enum:
                            - 2.4ghz
                            - 5ghz
                            - 6ghz
                            - dual
                            - multi
                            description: Choice between 'dual', '2.4ghz', '5ghz', '6ghz' or 'multi'.
                          bands:
                            type: object
                            properties:
                              enabled:
                                type: array
                                items:
                                  type: string
                                description: List of enabled bands. Can include ["2.4", "5", "6", "disabled"]
                            description: Settings related to all bands
                          bandSteeringEnabled:
                            type: boolean
                            description: Steers client to most open band between 2.4 GHz and 5 GHz. Can be either true or false.
                        description: Settings for SSID 8
                      '9':
                        type: object
                        properties:
                          name:
                            type: string
                            description: Name of SSID
                          minBitrate:
                            type: integer
                            description: Sets min bitrate (Mbps) of this SSID. Can be one of '1', '2', '5.5', '6', '9', '11', '12', '18', '24', '36', '48' or '54'.
                          bandOperationMode:
                            type: string
                            enum:
                            - 2.4ghz
                            - 5ghz
                            - 6ghz
                            - dual
                            - multi
                            description: Choice between 'dual', '2.4ghz', '5ghz', '6ghz' or 'multi'.
                          bands:
                            type: object
                            properties:
                              enabled:
                                type: array
                                items:
                                  type: string
                                description: List of enabled bands. Can include ["2.4", "5", "6", "disabled"]
                            description: Settings related to all bands
                          bandSteeringEnabled:
                            type: boolean
                            description: Steers client to most open band between 2.4 GHz and 5 GHz. Can be either true or false.
                        description: Settings for SSID 9
                      '10':
                        type: object
                        properties:
                          name:
                            type: string
                            description: Name of SSID
                          minBitrate:
                            type: integer
                            description: Sets min bitrate (Mbps) of this SSID. Can be one of '1', '2', '5.5', '6', '9', '11', '12', '18', '24', '36', '48' or '54'.
                          bandOperationMode:
                            type: string
                            enum:
                            - 2.4ghz
                            - 5ghz
                            - 6ghz
                            - dual
                            - multi
                            description: Choice between 'dual', '2.4ghz', '5ghz', '6ghz' or 'multi'.
                          bands:
                            type: object
                            properties:
                              enabled:
                                type: array
                                items:
                                  type: string
                                description: List of enabled bands. Can include ["2.4", "5", "6", "disabled"]
                            description: Settings related to all bands
                          bandSteeringEnabled:
                            type: boolean
                            description: Steers client to most open band between 2.4 GHz and 5 GHz. Can be either true or false.
                        description: Settings for SSID 10
                      '11':
                        type: object
                        properties:
                          name:
                            type: string
                            description: Name of SSID
                          minBitrate:
                            type: integer
                            description: Sets min bitrate (Mbps) of this SSID. Can be one of '1', '2', '5.5', '6', '9', '11', '12', '18', '24', '36', '48' or '54'.
                          bandOperationMode:
                            type: string
                            enum:
                            - 2.4ghz
                            - 5ghz
                            - 6ghz
                            - dual
                            - multi
                            description: Choice between 'dual', '2.4ghz', '5ghz', '6ghz' or 'multi'.
                          bands:
                            type: object
                            properties:
                              enabled:
                                type: array
                                items:
                                  type: string
                                description: List of enabled bands. Can include ["2.4", "5", "6", "disabled"]
                            description: Settings related to all bands
                          bandSteeringEnabled:
                            type: boolean
                            description: Steers client to most open band between 2.4 GHz and 5 GHz. Can be either true or false.
                        description: Settings for SSID 11
                      '12':
                        type: object
                        properties:
                          name:
                            type: string
                            description: Name of SSID
                          minBitrate:
                            type: integer
                            description: Sets min bitrate (Mbps) of this SSID. Can be one of '1', '2', '5.5', '6', '9', '11', '12', '18', '24', '36', '48' or '54'.
                          bandOperationMode:
                            type: string
                            enum:
                            - 2.4ghz
                            - 5ghz
                            - 6ghz
                            - dual
                            - multi
                            description: Choice between 'dual', '2.4ghz', '5ghz', '6ghz' or 'multi'.
                          bands:
                            type: object
                            properties:
                              enabled:
                                type: array
                                items:
                                  type: string
                                description: List of enabled bands. Can include ["2.4", "5", "6", "disabled"]
                            description: Settings related to all bands
                          bandSteeringEnabled:
                            type: boolean
                            description: Steers client to most open band between 2.4 GHz and 5 GHz. Can be either true or false.
                        description: Settings for SSID 12
                      '13':
                        type: object
                        properties:
                          name:
                            type: string
                            description: Name of SSID
                          minBitrate:
                            type: integer
                            description: Sets min bitrate (Mbps) of this SSID. Can be one of '1', '2', '5.5', '6', '9', '11', '12', '18', '24', '36', '48' or '54'.
                          bandOperationMode:
[...]
