openapi: 3.2.0
info:
  version: 1.54.0
  title: KPN SD-LAN SD-WAN Network View Switch.configure API
  description: "The SD-LAN SD-WAN Network View API is a modern REST API based on the OpenAPI specification.\n    \nThe Network View API gives users read rights to retrieve information from the `Network View API` resources. \n    \n- **Note**: By default you have read only access but based on your requirements and contract you can be granted `Manager` access to this API which is more than read only. To request manager access, please contact us at api_developer@kpn.com.\n\n---\n## [Source view](https://app.swaggerhub.com/apis/kpn/kpn-sd_lan_sd_wan_network_view_api/)<br/> [Documentation view](https://app.swaggerhub.com/apis-docs/kpn/kpn-sd_lan_sd_wan_network_view_api/)\n---\n## [KPN Developer](https://developer.kpn.com/)<br/> [Getting Started](https://developer.kpn.com/getting-started)"
servers:
- url: https://api-prd.kpn.com/kpn/meraki
security:
- OAuth2ClientCredentials: []
tags:
- name: switch.configure
paths:
  /devices/{serial}/switch/ports:
    get:
      description: List the switch ports for a switch
      operationId: getDeviceSwitchPorts
      parameters:
      - name: serial
        in: path
        description: Serial
        schema:
          type: string
        required: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    portId:
                      type: string
                      description: The identifier of the switch port.
                    name:
                      type: string
                      description: The name of the switch port.
                    tags:
                      type: array
                      items:
                        type: string
                      description: The list of tags of the switch port.
                    enabled:
                      type: boolean
                      description: The status of the switch port.
                    poeEnabled:
                      type: boolean
                      description: The PoE status of the switch port.
                    type:
                      type: string
                      enum:
                      - access
                      - stack
                      - trunk
                      description: The type of the switch port ('trunk', 'access' or 'stack').
                    vlan:
                      type: integer
                      description: The VLAN of the switch port. For a trunk port, this is the native VLAN. A null value will clear the value set for trunk ports.
                    voiceVlan:
                      type: integer
                      description: The voice VLAN of the switch port. Only applicable to access ports.
                    allowedVlans:
                      type: string
                      description: The VLANs allowed on the switch port. Only applicable to trunk ports.
                    isolationEnabled:
                      type: boolean
                      description: The isolation status of the switch port.
                    rstpEnabled:
                      type: boolean
                      description: The rapid spanning tree protocol status.
                    stpGuard:
                      type: string
                      enum:
                      - bpdu guard
                      - disabled
                      - loop guard
                      - root guard
                      description: The state of the STP guard ('disabled', 'root guard', 'bpdu guard' or 'loop guard').
                    linkNegotiation:
                      type: string
                      description: The link speed for the switch port.
                    linkNegotiationCapabilities:
                      type: array
                      items:
                        type: string
                      description: Available link speeds for the switch port.
                    portScheduleId:
                      type: string
                      description: The ID of the port schedule. A value of null will clear the port schedule.
                    schedule:
                      type: object
                      properties:
                        id:
                          type: string
                          description: The ID of the port schedule.
                        name:
                          type: string
                          description: The name of the port schedule.
                      description: The port schedule data.
                    udld:
                      type: string
                      enum:
                      - Alert only
                      - Enforce
                      description: The action to take when Unidirectional Link is detected (Alert only, Enforce). Default configuration is Alert only.
                    accessPolicyType:
                      type: string
                      enum:
                      - Custom access policy
                      - MAC allow list
                      - Open
                      - Sticky MAC allow list
                      description: The type of the access policy of the switch port. Only applicable to access ports. Can be one of 'Open', 'Custom access policy', 'MAC allow list' or 'Sticky MAC allow list'.
                    accessPolicyNumber:
                      type: integer
                      description: The number of a custom access policy to configure on the switch port. Only applicable when 'accessPolicyType' is 'Custom access policy'.
                    macAllowList:
                      type: array
                      items:
                        type: string
                      description: Only devices with MAC addresses specified in this list will have access to this port. Up to 20 MAC addresses can be defined. Only applicable when 'accessPolicyType' is 'MAC allow list'.
                    stickyMacAllowList:
                      type: array
                      items:
                        type: string
                      description: The initial list of MAC addresses for sticky Mac allow list. Only applicable when 'accessPolicyType' is 'Sticky MAC allow list'.
                    stickyMacAllowListLimit:
                      type: integer
                      description: The maximum number of MAC addresses for sticky MAC allow list. Only applicable when 'accessPolicyType' is 'Sticky MAC allow list'.
                    stormControlEnabled:
                      type: boolean
                      description: The storm control status of the switch port.
                    adaptivePolicyGroupId:
                      type: string
                      description: The adaptive policy group ID that will be used to tag traffic through this switch port. This ID must pre-exist during the configuration, else needs to be created using adaptivePolicy/groups API. Cannot be applied to a port on a switch bound to profile.
                    adaptivePolicyGroup:
                      type: object
                      properties:
                        id:
                          type: string
                          description: The ID of the adaptive policy group.
                        name:
                          type: string
                          description: The name of the adaptive policy group.
                      description: The adaptive policy group data of the port.
                    peerSgtCapable:
                      type: boolean
                      description: If true, Peer SGT is enabled for traffic through this switch port. Applicable to trunk port only, not access port. Cannot be applied to a port on a switch bound to profile.
                    flexibleStackingEnabled:
                      type: boolean
                      description: For supported switches (e.g. MS420/MS425), whether or not the port has flexible stacking enabled.
                    daiTrusted:
                      type: boolean
                      description: If true, ARP packets for this port will be considered trusted, and Dynamic ARP Inspection will allow the traffic.
                    profile:
                      type: object
                      properties:
                        enabled:
                          type: boolean
                          description: When enabled, override this port's configuration with a port profile.
                        id:
                          type: string
                          description: When enabled, the ID of the port profile used to override the port's configuration.
                        iname:
                          type: string
                          description: When enabled, the IName of the profile.
                      description: Profile attributes
                    module:
                      type: object
                      properties:
                        model:
                          type: string
                          description: The model of the expansion module.
                      description: Expansion module
                    mirror:
                      type: object
                      properties:
                        mode:
                          type: string
                          enum:
                          - Destination port
                          - Not mirroring traffic
                          - Source port
                          description: The port mirror mode. Can be one of ('Destination port', 'Source port' or 'Not mirroring traffic').
                      description: Port mirror
                    dot3az:
                      type: object
                      properties:
                        enabled:
                          type: boolean
                          description: The Energy Efficient Ethernet status of the switch port.
                      description: dot3az settings for the port
                    stackwiseVirtual:
                      type: object
                      properties:
                        isStackWiseVirtualLink:
                          type: boolean
                          description: For SVL devices, whether or not the port is used for StackWise Virtual Link.
                        isDualActiveDetector:
                          type: boolean
                          description: For SVL devices, whether or not the port is used for Dual Active Detection.
                      description: Stackwise Virtual settings for the port
              example:
              - portId: '1'
                name: My switch port
                tags:
                - tag1
                - tag2
                enabled: true
                poeEnabled: true
                type: access
                vlan: 10
                voiceVlan: 20
                allowedVlans: 1,3,5-10
                isolationEnabled: false
                rstpEnabled: true
                stpGuard: disabled
                linkNegotiation: Auto negotiate
                linkNegotiationCapabilities:
                - Auto negotiate
                - 1 Gigabit full duplex (auto)
                portScheduleId: '1234'
                schedule:
                  id: '1234'
                  name: Port Schedule
                udld: Alert only
                accessPolicyType: Sticky MAC allow list
                accessPolicyNumber: 2
                macAllowList:
                - 34:56:fe:ce:8e:a0
                - 34:56:fe:ce:8e:a1
                stickyMacAllowList:
                - 34:56:fe:ce:8e:b0
                - 34:56:fe:ce:8e:b1
                stickyMacAllowListLimit: 5
                stormControlEnabled: true
                adaptivePolicyGroupId: '123'
                adaptivePolicyGroup:
                  id: '123'
                  name: Adaptive Policy Group
                peerSgtCapable: false
                flexibleStackingEnabled: true
                daiTrusted: false
                profile:
                  enabled: false
                  id: '1284392014819'
                  iname: iname
                module:
                  model: MA-MOD-4X10G
                mirror:
                  mode: Not mirroring traffic
                dot3az:
                  enabled: false
                stackwiseVirtual:
                  isStackWiseVirtualLink: false
                  isDualActiveDetector: false
      summary: List the switch ports for a switch
      tags:
      - switch.configure
  /devices/{serial}/switch/ports/{portId}:
    get:
      description: Return a switch port
      operationId: getDeviceSwitchPort
      parameters:
      - name: serial
        in: path
        description: Serial
        schema:
          type: string
        required: true
      - name: portId
        in: path
        description: Port ID
        schema:
          type: string
        required: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  portId:
                    type: string
                    description: The identifier of the switch port.
                  name:
                    type: string
                    description: The name of the switch port.
                  tags:
                    type: array
                    items:
                      type: string
                    description: The list of tags of the switch port.
                  enabled:
                    type: boolean
                    description: The status of the switch port.
                  poeEnabled:
                    type: boolean
                    description: The PoE status of the switch port.
                  type:
                    type: string
                    enum:
                    - access
                    - stack
                    - trunk
                    description: The type of the switch port ('trunk', 'access' or 'stack').
                  vlan:
                    type: integer
                    description: The VLAN of the switch port. For a trunk port, this is the native VLAN. A null value will clear the value set for trunk ports.
                  voiceVlan:
                    type: integer
                    description: The voice VLAN of the switch port. Only applicable to access ports.
                  allowedVlans:
                    type: string
                    description: The VLANs allowed on the switch port. Only applicable to trunk ports.
                  isolationEnabled:
                    type: boolean
                    description: The isolation status of the switch port.
                  rstpEnabled:
                    type: boolean
                    description: The rapid spanning tree protocol status.
                  stpGuard:
                    type: string
                    enum:
                    - bpdu guard
                    - disabled
                    - loop guard
                    - root guard
                    description: The state of the STP guard ('disabled', 'root guard', 'bpdu guard' or 'loop guard').
                  linkNegotiation:
                    type: string
                    description: The link speed for the switch port.
                  linkNegotiationCapabilities:
                    type: array
                    items:
                      type: string
                    description: Available link speeds for the switch port.
                  portScheduleId:
                    type: string
                    description: The ID of the port schedule. A value of null will clear the port schedule.
                  schedule:
                    type: object
                    properties:
                      id:
                        type: string
                        description: The ID of the port schedule.
                      name:
                        type: string
                        description: The name of the port schedule.
                    description: The port schedule data.
                  udld:
                    type: string
                    enum:
                    - Alert only
                    - Enforce
                    description: The action to take when Unidirectional Link is detected (Alert only, Enforce). Default configuration is Alert only.
                  accessPolicyType:
                    type: string
                    enum:
                    - Custom access policy
                    - MAC allow list
                    - Open
                    - Sticky MAC allow list
                    description: The type of the access policy of the switch port. Only applicable to access ports. Can be one of 'Open', 'Custom access policy', 'MAC allow list' or 'Sticky MAC allow list'.
                  accessPolicyNumber:
                    type: integer
                    description: The number of a custom access policy to configure on the switch port. Only applicable when 'accessPolicyType' is 'Custom access policy'.
                  macAllowList:
                    type: array
                    items:
                      type: string
                    description: Only devices with MAC addresses specified in this list will have access to this port. Up to 20 MAC addresses can be defined. Only applicable when 'accessPolicyType' is 'MAC allow list'.
                  stickyMacAllowList:
                    type: array
                    items:
                      type: string
                    description: The initial list of MAC addresses for sticky Mac allow list. Only applicable when 'accessPolicyType' is 'Sticky MAC allow list'.
                  stickyMacAllowListLimit:
                    type: integer
                    description: The maximum number of MAC addresses for sticky MAC allow list. Only applicable when 'accessPolicyType' is 'Sticky MAC allow list'.
                  stormControlEnabled:
                    type: boolean
                    description: The storm control status of the switch port.
                  adaptivePolicyGroupId:
                    type: string
                    description: The adaptive policy group ID that will be used to tag traffic through this switch port. This ID must pre-exist during the configuration, else needs to be created using adaptivePolicy/groups API. Cannot be applied to a port on a switch bound to profile.
                  adaptivePolicyGroup:
                    type: object
                    properties:
                      id:
                        type: string
                        description: The ID of the adaptive policy group.
                      name:
                        type: string
                        description: The name of the adaptive policy group.
                    description: The adaptive policy group data of the port.
                  peerSgtCapable:
                    type: boolean
                    description: If true, Peer SGT is enabled for traffic through this switch port. Applicable to trunk port only, not access port. Cannot be applied to a port on a switch bound to profile.
                  flexibleStackingEnabled:
                    type: boolean
                    description: For supported switches (e.g. MS420/MS425), whether or not the port has flexible stacking enabled.
                  daiTrusted:
                    type: boolean
                    description: If true, ARP packets for this port will be considered trusted, and Dynamic ARP Inspection will allow the traffic.
                  profile:
                    type: object
                    properties:
                      enabled:
                        type: boolean
                        description: When enabled, override this port's configuration with a port profile.
                      id:
                        type: string
                        description: When enabled, the ID of the port profile used to override the port's configuration.
                      iname:
                        type: string
                        description: When enabled, the IName of the profile.
                    description: Profile attributes
                  module:
                    type: object
                    properties:
                      model:
                        type: string
                        description: The model of the expansion module.
                    description: Expansion module
                  mirror:
                    type: object
                    properties:
                      mode:
                        type: string
                        enum:
                        - Destination port
                        - Not mirroring traffic
                        - Source port
                        description: The port mirror mode. Can be one of ('Destination port', 'Source port' or 'Not mirroring traffic').
                    description: Port mirror
                  dot3az:
                    type: object
                    properties:
                      enabled:
                        type: boolean
                        description: The Energy Efficient Ethernet status of the switch port.
                    description: dot3az settings for the port
                  stackwiseVirtual:
                    type: object
                    properties:
                      isStackWiseVirtualLink:
                        type: boolean
                        description: For SVL devices, whether or not the port is used for StackWise Virtual Link.
                      isDualActiveDetector:
                        type: boolean
                        description: For SVL devices, whether or not the port is used for Dual Active Detection.
                    description: Stackwise Virtual settings for the port
              example:
                portId: '1'
                name: My switch port
                tags:
                - tag1
                - tag2
                enabled: true
                poeEnabled: true
                type: access
                vlan: 10
                voiceVlan: 20
                allowedVlans: 1,3,5-10
                isolationEnabled: false
                rstpEnabled: true
                stpGuard: disabled
                linkNegotiation: Auto negotiate
                linkNegotiationCapabilities:
                - Auto negotiate
                - 1 Gigabit full duplex (auto)
                portScheduleId: '1234'
                schedule:
                  id: '1234'
                  name: Port Schedule
                udld: Alert only
                accessPolicyType: Sticky MAC allow list
                accessPolicyNumber: 2
                macAllowList:
                - 34:56:fe:ce:8e:a0
                - 34:56:fe:ce:8e:a1
                stickyMacAllowList:
                - 34:56:fe:ce:8e:b0
                - 34:56:fe:ce:8e:b1
                stickyMacAllowListLimit: 5
                stormControlEnabled: true
                adaptivePolicyGroupId: '123'
                adaptivePolicyGroup:
                  id: '123'
                  name: Adaptive Policy Group
                peerSgtCapable: false
                flexibleStackingEnabled: true
                daiTrusted: false
                profile:
                  enabled: false
                  id: '1284392014819'
                  iname: iname
                module:
                  model: MA-MOD-4X10G
                mirror:
                  mode: Not mirroring traffic
                dot3az:
                  enabled: false
                stackwiseVirtual:
                  isStackWiseVirtualLink: false
                  isDualActiveDetector: false
      summary: Return a switch port
      tags:
      - switch.configure
    put:
      description: Update a switch port
      operationId: updateDeviceSwitchPort
      parameters:
      - name: serial
        in: path
        description: Serial
        schema:
          type: string
        required: true
      - name: portId
        in: path
        description: Port ID
        schema:
          type: string
        required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: The name of the switch port.
                tags:
                  type: array
                  items:
                    type: string
                  description: The list of tags of the switch port.
                enabled:
                  type: boolean
                  description: The status of the switch port.
                poeEnabled:
                  type: boolean
                  description: The PoE status of the switch port.
                type:
                  type: string
                  enum:
                  - access
                  - stack
                  - trunk
                  description: The type of the switch port ('trunk', 'access' or 'stack').
                vlan:
                  type: integer
                  description: The VLAN of the switch port. For a trunk port, this is the native VLAN. A null value will clear the value set for trunk ports.
                voiceVlan:
                  type: integer
                  description: The voice VLAN of the switch port. Only applicable to access ports.
                allowedVlans:
                  type: string
                  description: The VLANs allowed on the switch port. Only applicable to trunk ports.
                isolationEnabled:
                  type: boolean
                  description: The isolation status of the switch port.
                rstpEnabled:
                  type: boolean
                  description: The rapid spanning tree protocol status.
                stpGuard:
                  type: string
                  enum:
                  - bpdu guard
                  - disabled
                  - loop guard
                  - root guard
                  description: The state of the STP guard ('disabled', 'root guard', 'bpdu guard' or 'loop guard').
                linkNegotiation:
                  type: string
                  description: The link speed for the switch port.
                portScheduleId:
                  type: string
                  description: The ID of the port schedule. A value of null will clear the port schedule.
                udld:
                  type: string
                  enum:
                  - Alert only
                  - Enforce
                  description: The action to take when Unidirectional Link is detected (Alert only, Enforce). Default configuration is Alert only.
                accessPolicyType:
                  type: string
                  enum:
                  - Custom access policy
                  - MAC allow list
                  - Open
                  - Sticky MAC allow list
                  description: The type of the access policy of the switch port. Only applicable to access ports. Can be one of 'Open', 'Custom access policy', 'MAC allow list' or 'Sticky MAC allow list'.
                accessPolicyNumber:
                  type: integer
                  description: The number of a custom access policy to configure on the switch port. Only applicable when 'accessPolicyType' is 'Custom access policy'.
                macAllowList:
                  type: array
                  items:
                    type: string
                  description: Only devices with MAC addresses specified in this list will have access to this port. Up to 20 MAC addresses can be defined. Only applicable when 'accessPolicyType' is 'MAC allow list'.
                stickyMacAllowList:
                  type: array
                  items:
                    type: string
                  description: The initial list of MAC addresses for sticky Mac allow list. Only applicable when 'accessPolicyType' is 'Sticky MAC allow list'.
                stickyMacAllowListLimit:
                  type: integer
                  description: The maximum number of MAC addresses for sticky MAC allow list. Only applicable when 'accessPolicyType' is 'Sticky MAC allow list'.
                stormControlEnabled:
                  type: boolean
                  description: The storm control status of the switch port.
                adaptivePolicyGroupId:
                  type: string
                  description: The adaptive policy group ID that will be used to tag traffic through this switch port. This ID must pre-exist during the configuration, else needs to be created using adaptivePolicy/groups API. Cannot be applied to a port on a switch bound to profile.
                peerSgtCapable:
                  type: boolean
                  description: If true, Peer SGT is enabled for traffic through this switch port. Applicable to trunk port only, not access port. Cannot be applied to a port on a switch bound to profile.
                flexibleStackingEnabled:
                  type: boolean
                  description: For supported switches (e.g. MS420/MS425), whether or not the port has flexible stacking enabled.
                daiTrusted:
                  type: boolean
                  description: If true, ARP packets for this port will be considered trusted, and Dynamic ARP Inspection will allow the traffic.
                profile:
                  type: object
                  properties:
                    enabled:
                      type: boolean
                      description: When enabled, override this port's configuration with a port profile.
                    id:
                      type: string
                      description: When enabled, the ID of the port profile used to override the port's configuration.
                    iname:
                      type: string
                      description: When enabled, the IName of the profile.
                  description: Profile attributes
                dot3az:
                  type: object
                  properties:
                    enabled:
                      type: boolean
                      description: The Energy Efficient Ethernet status of the switch port.
                  description: dot3az settings for the port
              example:
                name: My switch port
                tags:
                - tag1
                - tag2
                enabled: true
                poeEnabled: true
                type: access
                vlan: 10
                voiceVlan: 20
                allowedVlans: 1,3,5-10
                isolationEnabled: false
                rstpEnabled: true
                stpGuard: disabled
                linkNegotiation: Auto negotiate
                portScheduleId: '1234'
                udld: Alert only
                accessPolicyType: Sticky MAC allow list
                accessPolicyNumber: 2
                macAllowList:
                - 34:56:fe:ce:8e:a0
                - 34:56:fe:ce:8e:a1
                stickyMacAllowList:
                - 34:56:fe:ce:8e:b0
                - 34:56:fe:ce:8e:b1
                stickyMacAllowListLimit: 5
                stormControlEnabled: true
                adaptivePolicyGroupId: '123'
                peerSgtCapable: false
                flexibleStackingEnabled: true
                daiTrusted: false
                profile:
                  enabled: false
                  id: '1284392014819'
                  iname: iname
                dot3az:
                  enabled: false
        required: false
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  portId:
                    type: string
                    description: The identifier of the switch port.
                  name:
                    type: string
                    description: The name of the switch port.
                  tags:
                    type: array
                    items:
                      type: string
                    description: The list of tags of the switch port.
                  enabled:
                    type: boolean
                    description: The status of the switch port.
                  poeEnabled:
                    type: boolean
                    description: The PoE status of the switch port.
                  type:
                    type: string
                    enum:
                    - access
                    - stack
                    - trunk
                    description: The type of the switch port ('trunk', 'access' or 'stack').
                  vlan:
                    type: integer
                    description: The VLAN of the switch port. For a trunk port, this is the native VLAN. A null value will clear the value set for trunk ports.
                  voiceVlan:
                    type: integer
                    description: The voice VLAN of the switch port. Only applicable to access ports.
                  allowedVlans:
                    type: string
                    description: The VLANs allowed on the switch port. Only applicable to trunk ports.
                  isolationEnabled:
                    type: boolean
                    description: The isolation status of the switch port.
                  rstpEnabled:
                    type: boolean
                    description: The rapid spanning tree protocol status.
                  stpGuard:
                    type: string
                    enum:
                    - bpdu guard
                    - disabled
                    - loop guard
                    - root guard
                    description: The state of the STP guard ('disabled', 'root guard', 'bpdu guard' or 'loop guard').
                  linkNegotiation:
                    type: string
                    description: The link speed for the switch port.
                  linkNegotiationCapabilities:
                    type: array
                    items:
                      type: string
                    description: Available link speeds for the switch port.
                  portScheduleId:
                    type: string
                    description: The ID of the port schedule. A value of null will clear the port schedule.
                  schedule:
                    type: object
                    properties:
                      id:
                        type: string
                        description: The ID of the port schedule.
                      name:
                        type: string
                        description: The name of the port schedule.
                    description: The port schedule data.
                  udld:
                    type: string
                    enum:
                    - Alert only
                    - Enforce
                    description: The action to take when Unidirectional Link is detected (Alert only, Enforce). Default configuration is Alert only.
                  accessPolicyType:
                    type: string
                    enum:
                    - Custom access policy
                    - MAC allow list
                    - Open
                    - Sticky MAC allow list
                    description: The type of the access policy of the switch port. Only applicable to access ports. Can be one of 'Open', 'Custom access policy', 'MAC allow list' or 'Sticky MAC allow list'.
                  accessPolicyNumber:
                    type: integer
                    description: The number of a custom access policy to configure on the switch port. Only applicable when 'accessPolicyType' is 'Custom access policy'.
                  macAllowList:
                    type: array
                    items:
                      type: string
                    description: Only devices with MAC addresses specified in this list will have access to this port. Up to 20 MAC addresses can be defined. Only applicable when 'accessPolicyType' is 'MAC allow list'.
                  stickyMacAllowList:
                    type: array
                    items:
                      type: string
                    description: The initial list of MAC addresses for sticky Mac allow list. Only applicable when 'accessPolicyType' is 'Sticky MAC allow list'.
                  stickyMacAllowListLimit:
                    type: integer
                    description: The maximum number of MAC addresses for sticky MAC allow list. Only applicable when 'accessPolicyType' is 'Sticky MAC allow list'.
                  stormControlEnabled:
                    type: boolean
                    description: The storm control status of the switch port.
                  adaptivePolicyGroupId:
                    type: string
                    description: The adaptive policy group ID that will be used to tag traffic through this switch port. This ID must pre-exist during the configuration, else needs to be created using adaptivePolicy/groups API. Cannot be applied to a port on a switch bound to profile.
                  adaptivePolicyGroup:
                    type: object
                    properties:
                      id:
                        type: string
                        description: The ID of the adaptive policy group.
                      name:
                        type: string
                        description: The name of the adaptive policy group.
                    description: The adaptive policy group data of the port.
                  peerSgtCapable:
                    type: boolean
                    description: If true, Peer SGT is enabled for traffic through this switch port. Applicable to trunk port only, not access port. Cannot be applied to a port on a switch bound to profile.
                  flexibleStackingEnabled:
                    type: boolean
                    description: For supported switches (e.g. MS420/MS425), whether or not the port has flexible stacking enabled.
                  daiTrusted:
                    type: boolean
                    description: If true, ARP packets for this port will be considered trusted, and Dynamic ARP Inspection will allow the traffic.
                  profile:
                    type: object
                    properties:
                      enabled:
                        type: boolean
                        description: When enabled, override this port's configuration with a port profile.
                      id:
                        type: string
                        description: When enabled, the ID of the port profile used to override the port's configuration.
                      iname:
                        type: string
                        description: When enabled, the IName of the profile.
                    description: Profile attributes
                  module:
                    type: object
                    properties:
                      model:
                        type: string
                        description: The model of the expansion module.
                    description: Expansion module
                  mirror:
                    type: object
                    properties:
                      mode:
                        type: string
                        enum:
                        - Destination port
                        - Not mirroring traffic
                        - Source port
                        description: The port mirror mode. Can be one of ('Destination port', 'Source port' or 'Not mirroring traffic').
                    description: Port mirror
                  dot3az:
                    type: object
                    properties:
                      enabled:
                        type: boolean
                        description: The Energy Efficient Ethernet status of the switch port.
                    description: dot3az settings for the port
                  stackwiseVirtual:
                    type: object
                    properties:
                      isStackWiseVirtualLink:
                        type: boolean
                        description: For SVL devices, whether or not the port is used for StackWise Virtual Link.
                      isDualActiveDetector:
                        type: boolean
                        description: For SVL devices, whether or not the port is used for Dual Active Detection.
                    description: Stackwise Virtual settings for the port
              example:
                portId: '1'
                name: My switch port
                tags:
                - tag1
                - tag2
                enabled: true
                poeEnabled: true
                type: access
                vlan: 10
                voiceVlan: 20
                allowedVlans: 1,3,5-10
                isolationEnabled: false
                rstpEnabled: true
                stpGuard: disabled
                linkNegotiation: Auto negotiate
                linkNegotiationCapabilities:
                - Auto negotiate
                - 1 Gigabit full duplex (auto)
                portScheduleId: '1234'
                schedule:
                  id: '1234'
                  name: Port Schedule
                udld: Alert only
                accessPolicyType: Sticky MAC allow list
                accessPolicyNumber: 2
                macAllowList:
                - 34:56:fe:ce:8e:a0
                - 34:56:fe:ce:8e:a1
                stickyMacAllowList:
                - 34:56:fe:ce:8e:b0
                - 34:56:fe:ce:8e:b1
                stickyMacAllowListLimit: 5
                stormControlEnabled: true
                adaptivePolicyGroupId: '123'
                adaptivePolicyGroup:
                  id: '123'
                  name: Adaptive Policy Group
                peerSgtCapable: false
                flexibleStackingEnabled: true
                daiTrusted: false
                profile:
                  enabled: false
                  id: '1284392014819'
                  iname: iname
                module:
                  model: MA-MOD-4X10G
                mirror:
                  mode: Not mirroring traffic
                dot3az:
                  enabled: false
                stackwiseVirtual:
                  isStackWiseVirtualLink: false
                  isDualActiveDetector: false
      summary: Update a switch port
      tags:
      - switch.configure
  /devices/{serial}/switch/routing/interfaces:
    get:
      description: List layer 3 interfaces for a switch. Those for a stack may be found under switch stack routing.
      operationId: getDeviceSwitchRoutingInterfaces
      parameters:
      - name: serial
        in: path
        description: Serial
        schema:
          type: string
        required: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    interfaceId:
                      type: string
                      description: The id
                    name:
                      type: string
                      description: The name
                    subnet:
                      type: string
                      description: IPv4 subnet
                    interfaceIp:
                      type: string
                      description: IPv4 address
                    multicastRouting:
                      type: string
                      description: Multicast routing status
                    vlanId:
                      type: integer
                      description: VLAN id
                    ospfSettings:
                      type: object
                      properties:
                        area:
                          type: string
                          description: Area id
                        cost:
                          type: integer
                          description: OSPF Cost
                        isPassiveEnabled:
                          type: boolean
                          description: Disable sending Hello packets on this interface's IPv4 area
                      description: IPv4 OSPF Settings
                    ospfV3:
                      type: object
                      properties:
                        area:
                          type: string
                          description: Area id
                        cost:
                          type: integer
                          description: OSPF Cost
                        isPassiveEnabled:
                          type: boolean
                          description: Disable sending Hello packets on this interface's IPv6 area
                      description: IPv6 OSPF Settings
                    ipv6:
                      type: object
                      properties:
                        assignmentMode:
                          type: string
                          description: Assignment mode
                        address:
                          type: string
                          description: IPv6 address
                        prefix:
                          type: string
                          description: IPv6 subnet
                        gateway:
                          type: string
                          description: IPv6 gateway
                      description: IPv6 addressing
                    defaultGateway:
                      type: string
                      description: IPv4 default gateway
              example:
              - interfaceId: '1234'
                name: L3 interface
                subnet: 192.168.1.0/24
                interfaceIp: 192.168.1.2
                multicastRouting: disabled
                vlanId: 100
                ospfSettings:
                  area: '0'
                  cost: 1
                  isPassiveEnabled: true
                ospfV3:
                  area: '1'
                  cost: 2
                  isPassiveEnabled: true
                ipv6:
                  assignmentMode: static
                  address: 1:2:3:4::1
                  prefix: 1:2:3:4::/48
                  gateway: 1:2:3:4::2
                defaultGateway: 192.168.1.1
      summary: List layer 3 interfaces for a switch
      tags:
      - switch.configure
    post:
      description: Create a layer 3 interface for a switch
      operationId: createDeviceSwitchRoutingInterface
      parameters:
      - name: serial
        in: path
        description: Serial
        schema:
          type: string
        required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: A friendly name or description for the interface or VLAN.
                subnet:
                  type: string
                  description: The network that this routed interface is on, in CIDR notation (ex. 10.1.1.0/24).
                interfaceIp:
                  type: string
                  description: The IP address this switch will use for layer 3 routing on this VLAN or subnet. This cannot be the same         as the switch's management IP.
                multicastRouting:
                  type: string
                  enum:
                  - IGMP snooping querier
                  - disabled
                  - enabled
                  description: 'Enable multicast support if, multicast routing between VLANs is required. Options are:         ''disabled'', ''enabled'' or ''IGMP snooping querier''. Default is ''disabled''.'
                vlanId:
                  type: integer
                  description: The VLAN this routed interface is on. VLAN must be between 1 and 4094.
                defaultGateway:
                  type: string
                  description: The next hop for any traffic that isn't going to a directly connected subnet or over a static route.         This IP address must exist in a subnet with a routed interface. Required if this is the first IPv4 interface.
                ospfSettings:
                  type: object
                  properties:
                    area:
                      type: string
                      description: The OSPF area to which this interface should belong. Can be either 'disabled' or the identifier of an           existing OSPF area. Defaults to 'disabled'.
                    cost:
                      type: integer
                      description: The path cost for this interface. Defaults to 1, but can be increased up to 65535           to give lower priority.
                    isPassiveEnabled:
                      type: boolean
                      description: When enabled, OSPF will not run on the interface, but the subnet will still be advertised.
                  description: The OSPF routing settings of the interface.
                ipv6:
                  type: object
                  properties:
                    assignmentMode:
                      type: string
                      description: The IPv6 assignment mode for the interface. Can be either 'eui-64' or 'static'.
                    prefix:
                      type: string
                      description: The IPv6 prefix of the interface. Required if IPv6 object is included.
                    address:
                      type: string
                      description: The IPv6 address of the interface. Required if assignmentMode is 'static'. Must not be included if           assignmentMode is 'eui-64'.
                    gateway:
                      type: string
                      description: The IPv6 default gateway of the interface. Required if prefix is defined and this is the first           interface with IPv6 configured for the switch.
                  description: The IPv6 settings of the interface.
              example:
                name: L3 interface
                subnet: 192.168.1.0/24
                interfaceIp: 192.168.1.2
                multicastRouting: disabled
                vlanId: 100
                defaultGateway: 192.168.1.1
                ospfSettings:
                  area: '0'
                  cost: 1
                  isPassiveEnabled: true
                ipv6:
                  assignmentMode: static
                  prefix: 1:2:3:4::/48
                  address: 1:2:3:4::1
                  gateway: 1:2:3:4::2
        required: false
      responses:
        '201':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  interfaceId:
                    type: string
                    description: The id
                  name:
                    type: string
                    description: The name
                  subnet:
                    type: string
                    description: IPv4 subnet
                  interfaceIp:
                    type: string
                    description: IPv4 address
                  multicastRouting:
                    type: string
                    description: Multicast routing status
                  vlanId:
                    type: integer
                    description: VLAN id
                  ospfSettings:
                    type: object
                    properties:
                      area:
                        type: string
                        description: Area id
                      cost:
                        type: integer
                        description: OSPF Cost
                      isPassiveEnabled:
                        type: boolean
                        description: Disable sending Hello packets on this interface's IPv4 area
                    description: IPv4 OSPF Settings
                  ospfV3:
                    type: object
                    properties:
                      area:
                        type: string
                        description: Area id
                      cost:
                        type: integer
                        description: OSPF Cost
                      isPassiveEnabled:
                        type: boolean
                        description: Disable sending Hello packets on this interface's IPv6 area
                    description: IPv6 OSPF Settings
                  ipv6:
                    type: object
                    properties:
                      assignmentMode:
                        type: string
                        description: Assignment mode
                      address:
                        type: string
                        description: IPv6 address
                      prefix:
                        type: string
                        description: IPv6 subnet
                      gateway:
                        type: string
                        description: IPv6 gateway
                    description: IPv6 addressing
                  defaultGateway:
                    type: string
                    description: IPv4 default gateway
              example:
                interfaceId: '1234'
                name: L3 interface
                subnet: 192.168.1.0/24
                interfaceIp: 192.168.1.2
                multicastRouting: disabled
                vlanId: 100
                ospfSettings:
                  area: '0'
                  cost: 1
                  isPassiveEnabled: true
                ospfV3:
                  area: '1'
                  cost: 2
                  isPassiveEnabled: true
                ipv6:
                  assignmentMode: static
                  address: 1:2:3:4::1
                  prefix: 1:2:3:4::/48
                  gateway: 1:2:3:4::2
                defaultGateway: 192.168.1.1
      summary: Create a layer 3 interface for a switch
      tags:
      - switch.configure
  /devices/{serial}/switch/routing/interfaces/{interfaceId}:
    get:
      description: Return a layer 3 interface for a switch
      operationId: getDeviceSwitchRoutingInterface
      parameters:
      - name: serial
        in: path
        description: Serial
        schema:
          type: string
        required: true
      - name: interfaceId
        in: path
        description: Interface ID
        schema:
          type: string
        required: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  interfaceId:
                    type: string
                    description: The id
                  name:
                    type: string
                    description: The name
                  subnet:
                    type: string
                    description: IPv4 subnet
                  interfaceIp:
                    type: string
                    description: IPv4 address
                  multicastRouting:
                    type: string
                    description: Multicast routing status
                  vlanId:
                    type: integer
                    description: VLAN id
                  ospfSettings:
                    type: object
                    properties:
                      area:
                        type: string
                        description: Area id
                      cost:
                        type: integer
                        description: OSPF Cost
                      isPassiveEnabled:
                        type: boolean
                        description: Disable sending Hello packets on this interface's IPv4 area
                    description: IPv4 OSPF Settings
                  ospfV3:
                    type: object
                    properties:
                      area:
                        type: string
                        description: Area id
                      cost:
                        type: integer
                        description: OSPF Cost
                      isPassiveEnabled:
                        type: boolean
                        description: Disable sending Hello packets on this interface's IPv6 area
                    description: IPv6 OSPF Settings
                  ipv6:
                    type: object
                    properties:
                      assignmentMode:
                        type: string
                        description: Assignment mode
                      address:
                        type: string
                        description: IPv6 address
                      prefix:
                        type: string
                        description: IPv6 subnet
                      gateway:
                        type: string
                        description: IPv6 gateway
                    description: IPv6 addressing
                  defaultGateway:
                    type: string
                    description: IPv4 default gateway
              example:
                interfaceId: '1234'
                name: L3 interface
                subnet: 192.168.1.0/24
                interfaceIp: 192.168.1.2
                multicastRouting: disabled
                vlanId: 100
                ospfSettings:
                  area: '0'
                  cost: 1
                  isPassiveEnabled: true
                ospfV3:
                  area: '1'
                  cost: 2
                  isPassiveEnabled: true
                ipv6:
                  assignmentMode: static
                  address: 1:2:3:4::1
                  prefix: 1:2:3:4::/48
                  gateway: 1:2:3:4::2
                defaultGateway: 192.168.1.1
      summary: Return a layer 3 interface for a switch
      tags:
      - switch.configure
    put:
      description: Update a layer 3 interface for a switch
      operationId: updateDeviceSwitchRoutingInterface
      parameters:
      - name: serial
        in: path
        description: Serial
        schema:
          type: string
        required: true
      - name: interfaceId
        in: path
        description: Interface ID
        schema:
          type: string
        required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: A friendly name or description for the interface or VLAN.
                subnet:
                  type: string
                  description: The network that this routed interface is on, in CIDR notation (ex. 10.1.1.0/24).
                interfaceIp:
                  type: string
                  description: The IP address this switch will use for layer 3 routing on this VLAN or subnet. This cannot be the same         as the switch's management IP.
                multicastRouting:
                  type: string
                  enum:
                  - IGMP snooping querier
                  - disabled
                  - enabled
                  description: 'Enable multicast support if, multicast routing between VLANs is required. Options are:         ''disabled'', ''enabled'' or ''IGMP snooping querier''. Default is ''disabled''.'
                vlanId:
                  type: integer
                  description: The VLAN this routed interface is on. VLAN must be between 1 and 4094.
                defaultGateway:
                  type: string
                  description: The next hop for any traffic that isn't going to a directly connected subnet or over a static route.         This IP address must exist in a subnet with a routed interface. Required if this is the first IPv4 interface.
                ospfSettings:
                  type: object
                  properties:
                    area:
                      type: string
                      description: The OSPF area to which this interface should belong. Can be either 'disabled' or the identifier of an           existing OSPF area. Defaults to 'disabled'.
                    cost:
                      type: integer
                      description: The path cost for this interface. Defaults to 1, but can be increased up to 65535           to give lower priority.
                    isPassiveEnabled:
                      type: boolean
                      description: When enabled, OSPF will not run on the interface, but the subnet will still be advertised.
                  description: The OSPF routing settings of the interface.
                ipv6:
                  type: object
                  properties:
                    assignmentMode:
                      type: string
                      description: The IPv6 assignment mode for the interface. Can be either 'eui-64' or 'static'.
                    prefix:
                      type: string
                      description: The IPv6 prefix of the interface. Required if IPv6 object is included.
                    address:
                      type: string
                      description: The IPv6 address of the interface. Required if assignmentMode is 'static'. Must not be included if           assignmentMode is 'eui-64'.
                    gateway:
                      type: string
                      description: The IPv6 default gateway of the interface. Required if prefix is defined and this is the first           interface with IPv6 configured for the switch.
                  description: The IPv6 settings of the interface.
              example:
                name: L3 interface
                subnet: 192.168.1.0/24
                interfaceIp: 192.168.1.2
                multicastRouting: disabled
                vlanId: 100
                defaultGateway: 192.168.1.1
                ospfSettings:
                  area: '0'
                  cost: 1
                  isPassiveEnabled: true
                ipv6:
                  assignmentMode: static
                  prefix: 1:2:3:4::/48
                  address: 1:2:3:4::1
                  gateway: 1:2:3:4::2
        required: false
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  interfaceId:
                    type: string
                    description: The id
                  name:
                    type: string
                    description: The name
                  subnet:
                    type: string
                    description: IPv4 subnet
                  interfaceIp:
                    type: string
                    description: IPv4 address
                  multicastRouting:
                    type: string
                    description: Multicast routing status
                  vlanId:
                    type: integer
                    description: VLAN id
                  ospfSettings:
                    type: object
                    properties:
                      area:
                        type: string
                        description: Area id
                      cost:
                        type: integer
                        description: OSPF Cost
                      isPassiveEnabled:
                        type: boolean
                        description: Disable sending Hello packets on this interface's IPv4 area
                    description: IPv4 OSPF Settings
                  ospfV3:
                    type: object
                    properties:
                      area:
                        type: string
                        description: Area id
                      cost:
                        type: integer
                        description: OSPF Cost
                      isPassiveEnabled:
                        type: boolean
                        description: Disable sending Hello packets on this interface's IPv6 area
                    description: IPv6 OSPF Settings
                  ipv6:
                    type: object
                    properties:
                      assignmentMode:
                        type: string
                        description: Assignment mode
                      address:
                        type: string
                        description: IPv6 address
                      prefix:
                        type: string
                        description: IPv6 subnet
                      gateway:
                        type: string
                        description: IPv6 gateway
                    description: IPv6 addressing
                  defaultGateway:
                    type: string
                    description: IPv4 default gateway
              example:
                interfaceId: '1234'
                name: L3 interface
                subnet: 192.168.1.0/24
                interfaceIp: 192.168.1.2
                multicastRouting: disabled
                vlanId: 100
                ospfSettings:
                  area: '0'
                  cost: 1
                  isPassiveEnabled: true
                ospfV3:
                  area: '1'
                  cost: 2
                  isPassiveEnabled: true
                ipv6:
                  assignmentMode: static
                  address: 1:2:3:4::1
                  prefix: 1:2:3:4::/48
                  gateway: 1:2:3:4::2
                defaultGateway: 192.168.1.1
      summary: Update a layer 3 interface for a switch
      tags:
      - switch.configure
    delete:
      description: Delete a layer 3 interface from the switch
      operationId: deleteDeviceSwitchRoutingInterface
      parameters:
      - name: serial
        in: path
        description: Serial
        schema:
          type: string
        required: true
      - name: interfaceId
        in: path
        description: Interface ID
        schema:
          type: string
        required: true
      responses:
        '204':
          description: Successful operation
      summary: Delete a layer 3 interface from the switch
      tags:
      - switch.configure
  /devices/{serial}/switch/routing/interfaces/{interfaceId}/dhcp:
    get:
      description: Return a layer 3 interface DHCP configuration for a switch
      operationId: getDeviceSwitchRoutingInterfaceDhcp
      parameters:
      - name: serial
        in: path
        description: Serial
        schema:
          type: string
        required: true
      - name: interfaceId
        in: path
        description: Interface ID
        schema:
          type: string
        required: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  dhcpMode:
                    type: string
                    description: The DHCP mode options for the switch stack interface ('dhcpDisabled', 'dhcpRelay' or 'dhcpServer')
                  dhcpRelayServerIps:
                    type: array
                    items:
                      type: string
                    description: The DHCP relay server IPs to which DHCP packets would get relayed for the switch stack interface
                  dhcpLeaseTime:
                    type: string
                    description: The DHCP lease time config for the dhcp server running on the switch stack interface ('30 minutes', '1 hour', '4 hours', '12 hours', '1 day' or '1 week')
                  dnsNameserversOption:
                    type: string
                    description: The DHCP name server option for the dhcp server running on the switch stack interface ('googlePublicDns', 'openDns' or 'custom')
                  dnsCustomNameservers:
                    type: array
                    items:
                      type: string
                    description: The DHCP name server IPs when DHCP name server option is 'custom'
                  bootOptionsEnabled:
                    type: boolean
                    description: Enable DHCP boot options to provide PXE boot options configs for the dhcp server running on the switch stack interface
                  bootNextServer:
                    type: string
                    description: The PXE boot server IP for the DHCP server running on the switch stack interface
                  bootFileName:
                    type: string
                    description: The PXE boot server file name for the DHCP server running on the switch stack interface
                  dhcpOptions:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                          description: The code for DHCP option which should be from 2 to 254
                        type:
                          type: string
                          description: The type of the DHCP option which should be one of ('text', 'ip', 'integer' or 'hex')
                        value:
                          type: string
                          description: The value of the DHCP option
                    description: Array of DHCP options consisting of code, type and value for the DHCP server running on the switch stack interface
                  reservedIpRanges:
                    type: array
                    items:
                      type: object
                      properties:
                        start:
                          type: string
                          description: The starting IP address of the reserved IP range
                        end:
                          type: string
                          description: The ending IP address of the reserved IP range
                        comment:
                          type: string
                          description: The comment for the reserved IP range
                    description: Array of DHCP reserved IP assignments for the DHCP server running on the switch stack interface
                  fixedIpAssignments:
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                          description: The name of the client which has fixed IP address
                        mac:
                          type: string
                          description: The MAC address of the client which has fixed IP address
                        ip:
                          type: string
                          description: The IP address of the client which has fixed IP address assigned to it
                    description: Array of DHCP reserved IP assignments for the DHCP server running on the switch stack interface
              example:
                dhcpMode: dhcpServer
                dhcpRelayServerIps:
                - 1.2.3.4
                dhcpLeaseTime: 1 day
                dnsNameserversOption: custom
                dnsCustomNameservers:
                - 8.8.8.8, 8.8.4.4
                bootOptionsEnabled: true
                bootNextServer: 1.2.3.4
                bootFileName: home_boot_file
                dhcpOptions:
                - code: '5'
                  type: text
                  value: five
                reservedIpRanges:
                - start: 192.168.1.1
                  end: 192.168.1.10
                  comment: A reserved IP range
                fixedIpAssignments:
                - name: Cisco Meraki valued client
                  mac: 22:33:44:55:66:77
                  ip: 192.168.1.12
      summary: Return a layer 3 interface DHCP configuration for a switch
      tags:
      - switch.configure
    put:
      description: Update a layer 3 interface DHCP configuration for a switch
      operationId: updateDeviceSwitchRoutingInterfaceDhcp
      parameters:
      - name: serial
        in: path
        description: Serial
        schema:
          type: string
        required: true
      - name: interfaceId
        in: path
        description: Interface ID
        schema:
          type: string
        required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                dhcpMode:
                  type: string
                  enum:
                  - dhcpDisabled
                  - dhcpRelay
                  - dhcpServer
                  description: "The DHCP mode options for the switch interface\n       ('dhcpDisabled', 'dhcpRelay' or 'dhcpServer')"
                dhcpRelayServerIps:
                  type: array
                  items:
                    type: string
                  description: The DHCP relay server IPs to which DHCP packets would get relayed for the switch interface
                dhcpLeaseTime:
                  type: string
                  enum:
                  - 1 day
                  - 1 hour
                  - 1 week
                  - 12 hours
                  - 30 minutes
                  - 4 hours
                  description: "The DHCP lease time config for the dhcp server running on switch interface\n        ('30 minutes', '1 hour', '4 hours', '12 hours', '1 day' or '1 week')"
                dnsNameserversOption:
                  type: string
                  enum:
                  - custom
                  - googlePublicDns
                  - openDns
                  description: "The DHCP name server option for the dhcp server running on the switch interface\n        ('googlePublicDns', 'openDns' or 'custom')"
                dnsCustomNameservers:
                  type: array
                  items:
                    type: string
                  description: "The DHCP name server IPs when DHCP name server option is\n        'custom'"
                bootOptionsEnabled:
                  type: boolean
                  description: "Enable DHCP boot options to provide PXE boot options configs for the dhcp server running on the switch\n        interface"
                bootNextServer:
                  type: string
                  description: The PXE boot server IP for the DHCP server running on the switch interface
                bootFileName:
                  type: string
                  description: The PXE boot server filename for the DHCP server running on the switch interface
                dhcpOptions:
                  type: array
                  items:
                    type: object
                    properties:
                      code:
                        type: string
                        description: The code for DHCP option which should be from 2 to 254
                      type:
                        type: string
                        enum:
                        - hex
                        - integer
                        - ip
                        - text
                        description: "The type of the DHCP option which should be one of\n          ('text', 'ip', 'integer' or 'hex')"
                      value:
                        type: string
                        description: The value of the DHCP option
                    required:
                    - code
                    - type
                    - value
                  description: Array of DHCP options consisting of code, type and value for the DHCP server running on the switch interface
                reservedIpRanges:
                  type: array
                  items:
                    type: object
                    properties:
                      start:
                        type: string
                        description: The starting IP address of the reserved IP range
                      end:
                        type: string
                        description: The ending IP address of the reserved IP range
                      comment:
                        type: string
                        description: The comment for the reserved IP range
                    required:
                    - start
                    - end
                  description: Array of DHCP reserved IP assignments for the DHCP server running on the switch interface
                fixedIpAssignments:
                  type: array
                  items:
                    type: object
                    properties:
                      name:
                        type: string
                        description: The name of the client which has fixed IP address
                      mac:
                        type: string
                        description: The MAC address of the client which has fixed IP address
                      ip:
                        type: string
                        description: The IP address of the client which has fixed IP address assigned to it
                    required:
                    - name
                    - mac
                    - ip
                  description: Array of DHCP fixed IP assignments for the DHCP server running on the switch interface
              example:
                dhcpMode: dhcpServer
                dhcpRelayServerIps:
                - 1.2.3.4
                dhcpLeaseTime: 1 day
                dnsNameserversOption: custom
                dnsCustomNameservers:
                - 8.8.8.8, 8.8.4.4
                bootOptionsEnabled: true
                bootNextServer: 1.2.3.4
                bootFileName: home_boot_file
                dhcpOptions:
                - code: '5'
                  type: text
                  value: five
                reservedIpRanges:
                - start: 192.168.1.1
                  end: 192.168.1.10
                  comment: A reserved IP range
                fixedIpAssignments:
                - name: Cisco Meraki valued client
                  mac: 22:33:44:55:66:77
                  ip: 192.168.1.12
        required: false
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  dhcpMode:
                    type: string
                    description: The DHCP mode options for the switch stack interface ('dhcpDisabled', 'dhcpRelay' or 'dhcpServer')
                  dhcpRelayServerIps:
                    type: array
                    items:
                      type: string
                    description: The DHCP relay server IPs to which DHCP packets would get relayed for the switch stack interface
                  dhcpLeaseTime:
                    type: string
                    description: The DHCP lease time config for the dhcp server running on the switch stack interface ('30 minutes', '1 hour', '4 hours', '12 hours', '1 day' or '1 week')
                  dnsNameserversOption:
                    type: string
                    description: The DHCP name server option for the dhcp server running on the switch stack interface ('googlePublicDns', 'openDns' or 'custom')
                  dnsCustomNameservers:
                    type: array
                    items:
                      type: string
                    description: The DHCP name server IPs when DHCP name server option is 'custom'
                  bootOptionsEnabled:
                    type: boolean
                    description: Enable DHCP boot options to provide PXE boot options configs for the dhcp server running on the switch stack interface
                  bootNextServer:
                    type: string
                    description: The PXE boot server IP for the DHCP server running on the switch stack interface
                  bootFileName:
                    type: string
                    description: The PXE boot server file name for the DHCP server running on the switch stack interface
                  dhcpOptions:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                          description: The code for DHCP option which should be from 2 to 254
                        type:
                          type: string
                          description: The type of the DHCP option which should be one of ('text', 'ip', 'integer' or 'hex')
                        value:
                          type: string
                          description: The value of the DHCP option
                    description: Array of DHCP options consisting of code, type and value for the DHCP server running on the switch stack interface
                  reservedIpRanges:
                    type: array
                    items:
                      type: object
                      properties:
                        start:
                          type: string
                          description: The starting IP address of the reserved IP range
                        end:
                          type: string
                          description: The ending IP address of the reserved IP range
                        comment:
                          type: string
                          description: The comment for the reserved IP range
                    description: Array of DHCP reserved IP assignments for the DHCP server running on the switch stack interface
                  fixedIpAssignments:
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                          description: The name of the client which has fixed IP address
                        mac:
                          type: string
                          description: The MAC address of the client which has fixed IP address
                        ip:
                          type: string
                          description: The IP address of the client which has fixed IP address assigned to it
                    description: Array of DHCP reserved IP assignments for the DHCP server running on the switch stack interface
              example:
                dhcpMode: dhcpServer
                dhcpRelayServerIps:
                - 1.2.3.4
                dhcpLeaseTime: 1 day
                dnsNameserversOption: custom
                dnsCustomNameservers:
                - 8.8.8.8, 8.8.4.4
                bootOptionsEnabled: true
                bootNextServer: 1.2.3.4
                bootFileName: home_boot_file
                dhcpOptions:
                - code: '5'
                  type: text
                  value: five
                reservedIpRanges:
                - start: 192.168.1.1
                  end: 192.168.1.10
                  comment: A reserved IP range
                fixedIpAssignments:
                - name: Cisco Meraki valued client
                  mac: 22:33:44:55:66:77
                  ip: 192.168.1.12
      summary: Update a layer 3 interface DHCP configuration for a switch
      tags:
      - switch.configure
  /devices/{serial}/switch/routing/staticRoutes:
    get:
      description: List layer 3 static routes for a switch
      operationId: getDeviceSwitchRoutingStaticRoutes
      parameters:
      - name: serial
        in: path
        description: Serial
        schema:
          type: string
        required: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    staticRouteId:
                      type: string
                      description: The identifier of a layer 3 static route
                    name:
                      type: string
                      description: The name or description of the layer 3 static route
                    subnet:
                      type: string
                      description: The IP address of the subnetwork specified in CIDR notation (ex. 1.2.3.0/24)
                    nextHopIp:
                      type: string
                      description: The IP address of the router to which traffic for this destination network should be sent
                    managementNextHop:
                      type: string
                      description: Optional fallback IP address for management traffic
                    advertiseViaOspfEnabled:
                      type: boolean
                      description: Option to advertise static routes via OSPF
                    preferOverOspfRoutesEnabled:
                      type: boolean
                      description: Option to prefer static routes over OSPF routes
                  required:
                  - subnet
                  - nextHopIp
              example:
              - staticRouteId: '1234'
                name: My route
                subnet: 192.168.1.0/24
                nextHopIp: 1.2.3.4
                managementNextHop: 1.2.3.5
                advertiseViaOspfEnabled: false
                preferOverOspfRoutesEnabled: false
      summary: List layer 3 static routes for a switch
      tags:
      - switch.configure
    post:
      description: Create a layer 3 static route for a switch
      operationId: createDeviceSwitchRoutingStaticRoute
      parameters:
      - name: serial
        in: path
        description: Serial
        schema:
          type: string
        required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: Name or description for layer 3 static route
                subnet:
                  type: string
                  description: The subnet which is routed via this static route and should be specified in CIDR notation (ex. 1.2.3.0/24)
                nextHopIp:
                  type: string
                  description: IP address of the next hop device to which the device sends its traffic for the subnet
                advertiseViaOspfEnabled:
                  type: boolean
                  description: Option to advertise static route via OSPF
                preferOverOspfRoutesEnabled:
                  type: boolean
                  description: Option to prefer static route over OSPF routes
              example:
                name: My route
                subnet: 192.168.1.0/24
                nextHopIp: 1.2.3.4
                advertiseViaOspfEnabled: false
                preferOverOspfRoutesEnabled: false
              required:
              - subnet
              - nextHopIp
        required: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  staticRouteId:
                    type: string
                    description: The identifier of a layer 3 static route
                  name:
                    type: string
                    description: The name or description of the layer 3 static route
                  subnet:
                    type: string
                    description: The IP address of the subnetwork specified in CIDR notation (ex. 1.2.3.0/24)
                  nextHopIp:
                    type: string
                    description: The IP address of the router to which traffic for this destination network should be sent
                  managementNextHop:
                    type: string
                    description: Optional fallback IP address for management traffic
                  advertiseViaOspfEnabled:
                    type: boolean
                    description: Option to advertise static routes via OSPF
                  preferOverOspfRoutesEnabled:
                    type: boolean
                    description: Option to prefer static routes over OSPF routes
                required:
                - subnet
                - nextHopIp
              example:
                staticRouteId: '1234'
                name: My route
                subnet: 192.168.1.0/24
                nextHopIp: 1.2.3.4
                managementNextHop: 1.2.3.5
                advertiseViaOspfEnabled: false
                preferOverOspfRoutesEnabled: false
      summary: Create a layer 3 static route for a switch
      tags:
      - switch.configure
  /devices/{serial}/switch/routing/staticRoutes/{staticRouteId}:
    get:
      description: Return a layer 3 static route for a switch
      operationId: getDeviceSwitchRoutingStaticRoute
      parameters:
      - name: serial
        in: path
        description: Serial
        schema:
          type: string
        required: true
      - name: staticRouteId
        in: path
        description: Static route ID
        schema:
          type: string
        required: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  staticRouteId:
                    type: string
                    description: The identifier of a layer 3 static route
                  name:
                    type: string
                    description: The name or description of the layer 3 static route
                  subnet:
                    type: string
                    description: The IP address of the subnetwork specified in CIDR notation (ex. 1.2.3.0/24)
                  nextHopIp:
                    type: string
                    description: The IP address of the router to which traffic for this destination network should be sent
                  managementNextHop:
                    type: string
                    description: Optional fallback IP address for management traffic
                  advertiseViaOspfEnabled:
                    type: boolean
                    description: Option to advertise static routes via OSPF
                  preferOverOspfRoutesEnabled:
                    type: boolean
                    description: Option to prefer static routes over OSPF routes
                required:
                - subnet
                - nextHopIp
              example:
                staticRouteId: '1234'
                name: My route
                subnet: 192.168.1.0/24
                nextHopIp: 1.2.3.4
                managementNextHop: 1.2.3.5
                advertiseViaOspfEnabled: false
                preferOverOspfRoutesEnabled: false
      summary: Return a layer 3 static route for a switch
      tags:
      - switch.configure
    put:
      description: Update a layer 3 static route for a switch
      operationId: updateDeviceSwitchRoutingStaticRoute
      parameters:
      - name: serial
        in: path
        description: Serial
        schema:
          type: string
        required: true
      - name: staticRouteId
        in: path
        description: Static route ID
        schema:
          type: string
        required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: Name or description for layer 3 static route
                subnet:
                  type: string
                  description: The subnet which is routed via this static route and should be specified in CIDR notation (ex. 1.2.3.0/24)
                nextHopIp:
                  type: string
                  description: IP address of the next hop device to which the device sends its traffic for the subnet
                managementNextHop:
                  type: string
                  description: Optional fallback IP address for management traffic
                advertiseViaOspfEnabled:
                  type: boolean
                  description: Option to advertise static route via OSPF
                preferOverOspfRoutesEnabled:
                  type: boolean
                  description: Option to prefer static route over OSPF routes
              example:
                name: My route
                subnet: 192.168.1.0/24
                nextHopIp: 1.2.3.4
                managementNextHop: 1.2.3.5
                advertiseViaOspfEnabled: false
                preferOverOspfRoutesEnabled: false
        required: false
      responses:
        '201':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  staticRouteId:
                    type: string
                    description: The identifier of a layer 3 static route
                  name:
                    type: string
                    description: The name or description of the layer 3 static route
                  subnet:
                    type: string
                    description: The IP address of the subnetwork specified in CIDR notation (ex. 1.2.3.0/24)
                  nextHopIp:
                    type: string
                    description: The IP address of the router to which traffic for this destination network should be sent
                  managementNextHop:
                    type: string
                    description: Optional fallback IP address for management traffic
                  advertiseViaOspfEnabled:
                    type: boolean
                    description: Option to advertise static routes via OSPF
                  preferOverOspfRoutesEnabled:
                    type: boolean
                    description: Option to prefer static routes over OSPF routes
                required:
                - subnet
                - nextHopIp
              example:
                staticRouteId: '1234'
                name: My route
                subnet: 192.168.1.0/24
                nextHopIp: 1.2.3.4
                managementNextHop: 1.2.3.5
                advertiseViaOspfEnabled: false
                preferOverOspfRoutesEnabled: false
      summary: Update a layer 3 static route for a switch
      tags:
      - switch.configure
    delete:
      description: Delete a layer 3 static route for a switch
      operationId: deleteDeviceSwitchRoutingStaticRoute
      parameters:
      - name: serial
        in: path
        description: Serial
        schema:
          type: string
        required: true
      - name: staticRouteId
        in: path
        description: Static route ID
        schema:
          type: string
        required: true
      responses:
        '204':
          description: Successful operation
      summary: Delete a layer 3 static route for a switch
      tags:
      - switch.configure
  /devices/{serial}/switch/warmSpare:
    get:
      description: Return warm spare configuration for a switch
      operationId: getDeviceSwitchWarmSpare
      parameters:
      - name: serial
        in: path
        description: Serial
        schema:
          type: string
        required: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  enabled:
                    type: boolean
                    description: Enable or disable warm spare for a switch
                  primarySerial:
                    type: string
                    description: Serial number of the primary switch
                  spareSerial:
                    type: string
                    description: Serial number of the warm spare switch
              example:
                enabled: true
                primarySerial: Q234-ABCD-0001
                spareSerial: Q234-ABCD-0002
      summary: Return warm spare configuration for a switch
      tags:
      - switch.configure
    put:
      description: Update warm spare configuration for a switch. The spare will use the same L3 configuration as the primary. Note that this will irreversibly destroy any existing L3 configuration on the spare.
      operationId: updateDeviceSwitchWarmSpare
      parameters:
      - name: serial
        in: path
        description: Serial
        schema:
          type: string
        required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                enabled:
                  type: boolean
                  description: Enable or disable warm spare for a switch
                spareSerial:
                  type: string
                  description: Serial number of the warm spare switch
              example:
                enabled: true
                spareSerial: Q234-ABCD-0002
              required:
              - enabled
        required: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  enabled:
                    type: boolean
                    description: Enable or disable warm spare for a switch
                  primarySerial:
                    type: string
                    description: Serial number of the primary switch
                  spareSerial:
                    type: string
                    description: Serial number of the warm spare switch
              example:
                enabled: true
                primarySerial: Q234-ABCD-0001
                spareSerial: Q234-ABCD-0002
      summary: Update warm spare configuration for a switch
      tags:
      - switch.configure
  /networks/{networkId}/switch/accessControlLists:
    get:
      description: Return the access control lists for a MS network
      operationId: getNetworkSwitchAccessControlLists
      parameters:
      - name: networkId
        in: path
        description: Network ID
        schema:
          type: string
        required: true
      responses:
        '200':
[...]
